@media only screen and (max-device-width:480px) {
  html, body {
    overflow: hidden;
    #bd {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    #fb-root {
      display: none;
    }
  }
}

@media only screen and (max-device-width:480px) and (orientation: portrait) {
}

@media only screen and (max-device-width:480px) and (orientation: landscape) {
}
