-set_page_title "Reset Password"
-set_spot_app_title "Reset Password"

=content_for :toptitle do
  Reset Password

#password_reset
  =spot_form_for :reset, :url => password_reset_path(:token => current_user.perishable_token), :display => "light clearfix", :html => {:method => "put" } do |f|
    %li=f.password_field :password, :class => "text", :placeholder => "new password"
    %li.buttons
      =button_tag :class => "btnblack77x29" do
        submit