.manager
  .top.clearfix
    .pagination
      -if @businesses.next_page
        .next=link_to "Next &rarr;".html_safe, admin_businesses_path(:page => @businesses.next_page, :filter => params[:filter])
      -if @businesses.previous_page
        .previous=link_to "&larr; Previous".html_safe, admin_businesses_path(:page => @businesses.previous_page, :filter => params[:filter])
    %h1.title="#{@businesses.total_entries} Businesses"
    .links
      =link_to "Pending Approval", admin_businesses_path(:filter => 1)
      =link_to "Approved", admin_businesses_path(:filter => 2)
      =link_to "All", admin_businesses_path
  =render :partial => "table", :object => @businesses, :as => :businesses
  .pagination.bottom
    -if @businesses.next_page
      .next=link_to "Next &rarr;".html_safe, admin_businesses_path(:page => @businesses.next_page, :filter => params[:filter])
    -if @businesses.previous_page
      .previous=link_to "&larr; Previous".html_safe, admin_businesses_path(:page => @businesses.previous_page, :filter => params[:filter])
