.manager
  .top.clearfix
    .pagination
      -unless @businesses.last_page?
        .next=link_to "Next &rarr;".html_safe, admin_businesses_path(:page => @businesses.current_page + 1, :filter => params[:filter])
      -unless @businesses.first_page?
        .previous=link_to "&larr; Previous".html_safe, admin_businesses_path(:page => @businesses.current_page - 1, :filter => params[:filter])
    %h1.title="#{@businesses.total_count} Businesses"
    .links
      =link_to "Pending Approval", admin_businesses_path(:filter => 1)
      =link_to "Approved", admin_businesses_path(:filter => 2)
      =link_to "All", admin_businesses_path
  =render :partial => "table", :object => @businesses, :as => :businesses
  .pagination.bottom
    -unless @businesses.last_page?
      .next=link_to "Next &rarr;".html_safe, admin_businesses_path(:page => @businesses.current_page + 1, :filter => params[:filter])
    -unless @businesses.first_page?
      .previous=link_to "&larr; Previous".html_safe, admin_businesses_path(:page => @businesses.current_page - 1, :filter => params[:filter])
