We’ve received your application for Spot Membership…

And we’re grateful for your interest in our service. 
Soon you will receive an invitation to become one of our 10,000 founding members.

Let’s Start Something…

Join us on the first step of our journey, and help shape our community of food and drink enthusiasts as we establish a new way to enjoy San Francisco’s vibrant and exciting restaurant scene.

In the meantime...

You can check the status of your application at any time by following the link here :

=application_url

Do you know someone who would be a perfect fit for Spot Membership? Spread the word using this personal invitation link and we'll prioritize your application.

=application_url(:r => @application.user.invitation_code.code)

Sincerely,

Julia & The Spot Team
julia@spotmembers.com
http://www.spot-app.com
