%p
  We’re thrilled to have you join our elite group of 10,000 founding members. 

%p
  To start taking advantage of the unforgettable dining experiences we have to offer, complete your membership application now.

%p
  You have two payment options for your membership fees:
  %table{:cellpadding => "0", :cellspacing => "0", :style => "margin:10px 0 0;border:1px solid #999;border-top:none;"}
    -Subscription::PLANS.each do |name, plan|
      %tr
        %td
          %a{:href => new_membership_url(:plan => name), :style => "width:275px; height:50px;padding:10px 0;display:block;border-top:1px solid #999;background:#fff;color:#000;"}
            %table{:cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:style => "text-align:left;font-size:25px;padding:0 10px;margin:0;"}
                  .mval.tf
                    =image_tag attachments["#{plan.cost}per#{plan.period_name}.png"].url, :size => "100x50"
                %td
                  -if plan.period == "annually"
                    .benefit{:style => "padding: 5px 0 0;"} Annual Membership
                    .benefit{:style => "padding: 10px 0;"} Save 40%
                  -else
                    .benefit{:style => "padding: 5px 0 0;"} Renews Monthly
                    .benefit{:style => "padding: 10px 0;"} Cancel Anytime

%p
  Our signup process is quick, secure and satisfaction is guaranteed. If you aren't satisfied, we'll readily refund your payment.

%div
  Contact us with any questions – we’re here to help!
  %p="Mail : #{mail_to "contact@spotmembers.com"}".html_safe
  %p="Phone: #{PHONE_NUMBER}"

%p Sincerely,
%p{:style => "margin:0;padding:0;"} Julia & The Spot Team
%br
=mail_to "julia@spotmembers.com", "julia@spotmembers.com", :style => "color:#333"
%br
=link_to root_url, root_url, :style => "color:#333"