We'll review your responses and be in touch shortly.
    
In the meantime...

You can check the status of your application at any time by navigating to :

=application_url(@application)

Updates will be posted as they occur.

We appreciate gossips...

Get your friends to join and we'll give you both priority access. 
We'll even throw in a free month's subscription.

Go here to share : 

=application_url(@application)

Ya, there's an app for that...

Use our app to remember places you want to go. We'll go to those places on your behalf to make sure your visit is unforgettable.

You can download our app here :

=getspot_url
