We’re thrilled to invite you to join our elite group of 10,000 founding members. 

To start taking advantage of the unforgettable dining experiences we have to offer, complete your membership application now.

You have two payment options for your membership fees:

Monthly at $4.99 per month
Annually at $34.99 per year

Our signup process is quick and secure, and don’t forget about the Spot Guarantee.

Contact us with any questions – we’re here to help!
  
contact@spot-app.com
=PHONE_NUMBER

Sincerely,

Julia & The Spot Team
julia@spot-app.com
http://www.spot-app.com