%h1{:style => "font-size:15px;"} We’ve received your application for Spot Membership…
%p
  And we’re grateful for your interest in our service. 
  Soon you will receive an invitation to become one of our 10,000 founding members.

%h1{:style => "font-size:15px;"} Let’s Start Something…
%p
  Join us on the first step of our journey, and help shape our community of food and drink enthusiasts as we establish a new way to enjoy San Francisco’s vibrant and exciting restaurant scene.

%h1{:style => "font-size:15px;"} In the meantime...
%p
  You can check the 
  =link_to "status of your application", application_url
  at any time. Updates will be posted as they occur.

%h1{:style => "font-size:15px;"}
  We appreciate gossips...
%table{:cellpadding => "0", :cellspacing => "0"}
  %tr
    %td
      Do you know someone who would be a perfect fit for Spot Membership? Spread the word using this personal referral link and we'll prioritize your application :
      %br
      =invitation_url(:ic => @application.user.invitation_code.code)

    %td{:width => 10}
    %td
      %div{:style => "margin-top: 10px;width:77px;height:32px;background:transparent url(#{IMGHOST}buttons/flatgry77x32.png) no-repeat left center;text-align:center;line-height:32px;"}
        =link_to "Share", application_url, :style => "color:#333;font-weight:bold;text-decoration:none;"
        
%p Sincerely,
%p{:style => "margin:0;padding:0;"} Julia & The Spot Team
%br
=mail_to "julia@spot-app.com", "julia@spot-app.com", :style => "color:#333"
%br
=link_to "http://www.spot-app.com", "http://www.spot-app.com", :style => "color:#333"