We’re thrilled to invite you to join our elite group of 10,000 founding members. 

To start taking advantage of the unforgettable dining experiences we have to offer, complete your membership application now.

You have two payment options for your membership fees:

-Subscription::PLANS.each do |name, plan|
  ="#{plan.period.titlecase} at $#{plan.launch_cost} per #{plan.period_name}"

Our signup process is quick, secure and satisfaction is guaranteed. If you aren't satisfied, we'll readily refund your payment.

Contact us with any questions – we’re here to help!
  
contact@spotmembers.com
=PHONE_NUMBER

=render :partial => "shared/mailers/signature"
