%p Hello,

%p Thank you for your invitation request! We're hard at work getting Spot ready for you but we'll let you know as soon as it's ready. 

%p In the meantime, tell your friends, because, you know, Spot is awesome!

%p Thanks,
%p The Spot Team
=image_tag 'http://www.spot-app.com/images/logos/gradient_script_340x270.png', :size => "170x135"