Hello,

-if @signup.interest == "business"
  Thank you for your interest! We're hard at work building something revolutionary to help out business owners like you.

  We'll let you know as soon as it's ready.

  Thanks,
  The Spot Team