Hello,

Thank you for your invitation request! We're hard at work getting Spot ready for you but we'll let you know as soon as it's ready. 

In the meantime, tell your friends! Because, you know, Spot is awesome!

Thanks,

The Spot Team