%p Hello,

-if @signup.interest == "business"
  %p Thank you for your interest! We're hard at work building something revolutionary to help out business owners like you.

  %p We'll let you know as soon as it's ready.

  %p Thanks,
  %p The Spot Team
  =image_tag 'http://www.spot-app.com/images/logos/black_biz_spot158x108.png', :size => "158x108"