%p Hello,

-if @signup.interest == "business"
  %p Thank you for your interest! We're hard at work building something revolutionary to help out business owners like you.

  %p We'll let you know as soon as it's ready.

  %p Sincerely,
  %p Julia & The Spot Team
  %br
  =mail_to "julia@spot-app.com", "julia@spot-app.com", :style => "color:#333"
  %br
  =link_to "http://www.spot-app.com", "http://www.spot-app.com", :style => "color:#333"