-set_page_title "Tell Us About Yourself"
-set_spot_app_title "Subscribe"

=content_for :bgimage do
  .stretcher{'data-gravity' => "1.0x1.0"}
    =image_tag "stretcher/cities/generic1.jpg"

=content_for :toptitle do
  Tell Us About Yourself

.applydialog.clearfix
  =render :partial => "/shared/membership/apply"