=content_for :bgimage do
  .stretcher{'data-gravity' => "1.0x1.0"}
    =image_tag "stretcher/cities/#{@city.slug}2.jpg", :size => "2292x1524"

=content_for :toptitle do
  -if @application.approved?
    Application Approved
  -else
    Application Received

.titlebar.clearfix
  %h1.left.tf 
    -if @application.approved?
      Congratulations. You're In.
    -else
      %h1.tf We'll review your responses and be in touch shortly.

  -if @application.approved?
    =link_to "Complete Application", new_membership_path, :class => "btnorg300x41 tf right"
%hr
.buckets.clearfix
  .left.bucket
    .image.gossip
      =image_tag "paintings/gossip400x300.png", :size => "400x300"
      .speechbubble
        I just signed up for the greatest website. Cocktails anyone?
    %h2.tf.invitetitle
      We appreciate gossips...
    .text
      %p
        Give your friends priority access with this link :
      
      -url = referred_application_url(:r => @application.user.invitation_code.code)
      =sharing(url, "Just applied to become a Spot Member, I think it's worth checking out.", :link => true)
      
  .right.bucket.last
    .image.alchemist
      =image_tag "paintings/alchemist400x300.png", :size => "400x300"
      .speechbubble.down
        Imagine a portable device with infinite capabilities...
    %h2.tf
      Spot? Ya, there's an app for that...
    .text
      %ul.appbenefits
        %li Get the Spot App
        %li List places you like
        %li Get Experiences to match your taste
      =img_link_to "assets/general/app_store_transparent116x40.png", getspot_path, :size => "116x40", :class => "getspot"
      