=content_for :bgimage do
  .stretcher{'data-gravity' => "1.0x1.0"}
    =image_tag "stretcher/cities/#{@city.slug}2.jpg", :size => "2292x1524"

=content_for :toptitle do
  Thank you for applying.

-if @application.approved?
  %h1.tf Congratulations. You're application has been approved.
-else
  %h1.tf We'll review your responses and be in touch shortly.

.appstatus
  Application Status : 
  %span.statusstring{:class => @application.status.gsub(' ', '_')}
    -if @application.approved?
      =link_to @application.status.titlecase, new_membership_path
    -else
      =@application.status.titlecase

%h1.tf In the meantime...

%hr

.buckets.clearfix
  .left.bucket
    %h1.tf.invitetitle
      We appreciate gossips...
    .img=image_tag "assets/general/gossips380x200.png", :size => "380x200"
    .text
      %p
        Get your friends to join and we'll give you both priority access. 
        We'll even throw in a free month's subscription.
      %p
        Just share this link via Email, Facebook, or Twitter :
      
      -url = referred_application_url(@application.token)
      =sharing(url, "Just applied to become a Spot member, I think it's worth checking out.", :link => true)
      
  .right.bucket.last
    %h1.tf
      Ya, there's an app for that...
    .img=image_tag "assets/devices/iphonecloseup380x200.png", :size => "380x200"
    .text
      %p Use our app to remember places you want to go. We'll go to those places on your behalf to make sure your visit is unforgettable.
      =img_link_to "assets/general/appstoregry162x56.png", getspot_path, :size => "162x56", :class => "getspot"
      