-set_page_title "Notification Settings"
-set_spot_app_title "Nofifications"

=content_for :toptitle do
  Update Notification Settings

%h1.tf="Notifications for #{@subscription.email}"
.clearfix
  =spot_form_for @subscription, :as => :email_subscription, :url => email_path(:email => @subscription.email, :key => @subscription.passkey), :display => "light" do |f|
    =render :partial => "/site/accounts/contact", :locals => {:form => f}
    %li.buttons
      =button_tag :class => "btngrypill300x30" do
        Update
        
  -if @bizaccount
    =spot_form_for @bizaccount, :url => biz_account_path, :display => "light" do |f|
      %h2.tf Business Account Notifications
      =render :partial => "/biz/accounts/contact", :locals => {:form => f}
      %li.buttons
        =button_tag :class => "btngrypill300x30" do
          Update