.bizhd.clearfix
  %h1.title
    =@business.place.name
  
  %ul.pillbox
    %li.pill.first=link_to_with_current "dashboard", biz_business_path(@business)
    %li.pill=link_to_with_current "edit entry", edit_biz_business_path(@business)
    %li.pill.last=link_to_with_current "deal calendar", calendar_biz_business_path(@business)

  .divider