.bizhd.clearfix
  %h1.title
    =@business.place.name
  
  %ul.pillbox
    %li.pill.first=link_to_with_current "dashboard", biz_business_path(@business)
    %li.pill=link_to_with_current "edit entry", edit_biz_business_path(@business)
    %li.pill.last=link_to_with_current "deal calendar", calendar_biz_business_path(@business)

  .divider
  
    %ul#business_list.hidden.subnav.placelist
      -current_account.businesses.each_with_index do |biz, i|
        -current = biz == @business
        %li.place.large.clearfix{:class => "#{first_or_last(current_account.businesses, i)} #{conditionally("current", current)}"}
          =content_tag(current ? :div : :a, :href => current ? nil : biz_business_path(biz)) do
            .image=image_tag biz.place.image(:i117x84), :size => '117x84'
            .info
              .name=biz.place.name
              .location=biz.place.city_and_region
      %li.new.clearfix
        %a{:href => new_biz_business_path}
          + Claim Another Business