#processmessage
  %span.msg Loading...
.lightscreen

=render :partial => "header"

.belowheader
  #messages
    .cancel
    .content

  %h3.instructions
    Create Promotions to drive traffic to your business. Select a discount, the maximum number of customers per day, and the times you’d like the promotion to be valid.
    Then just apply that promotion to the dates on the calendar.

-calendar_start = [(@business.promotion_events.minimum(:created_at) || Time.now).calendar_start, Time.now.calendar_start].min
-calendar_end = calendar_start + 4.months
#calendar.clearfix{'data-start-date' => calendar_start.strftime('%B %d, %Y'), 'data-end-date' => calendar_end.strftime('%B %d, %Y')}
  =render :partial => "/biz/promotion_templates/form"
  .section.left
    .title.clearfix
      %h1 My Promotions
    %ul.templates.loading{"data-src" => biz_business_templates_path(@business)}
      .empty_message
        %h3 No Promotions Yet
        %p 
          Create a promotion using the button below. 
        %p 
          Set the parameters of your promotion, then apply it to dates 
          using the calendar on the right.
    %a.btnorgpill.new.center{:href => "#", "data-popover" => "#newpromotiontpl", "data-popover-title" => "New Promotion", "data-popover-pos" => ",top"}
      %span.plus + 
      New Promotion
    
  .section.right
    .title.clearfix
      %ul.gridnav.pillbox
        %li.pill.first
          %a.backward{:href => "javascript:;"} &#9664;
        %li.pill.last
          %a.forward{:href => "javascript:;"} &#9654;
      %h1.gridtitle
        ="#{Date::MONTHNAMES[calendar_start.month]} #{calendar_start.year}"

    .grid.loading{'data-src' => biz_business_promotions_path(@business)}      
      .table
        .thead
          .tr
            -Date::DAYNAMES.each_with_index do |dow, i|
              .th{:class => 'dow', :id => "dow_#{i}", 'data-dayindex' => i, 'data-dayname' => dow.to_s.downcase}
                =dow.to_s.downcase
        .tbody
      
  %script.jstpl.template{:type => "text/x-jquery-tmpl"}
    =render :partial => "/biz/promotion_templates/template", :object => nil
  %script.jstpl.event{:type => "text/x-jquery-tmpl"}
    .event{:style => "border-color: ${color}; color: ${color}; background-color: ${color};", 'data-template-id' => '${template_id}'}
      %h2 ${name}
      .timeframe ${timeframe}
  %script.jstpl.datedetail{:type => "text/x-jquery-tmpl"}
    .datedetail{'data-date' => '${date}'}
      {{html events}}
      =form_tag mail_biz_business_codes_path(@business), :class => "sendcodes", :method => :get do
        =hidden_field_tag :date, '${date}'
        =button_tag :class => "btngrypill" do
          Send Promotion Codes

  %script.jstpl.eventdetails{:type => "text/x-jquery-tmpl"}
    .event.clearfix{'data-template-id' => '${template_id}'}
      .color{:style => "background:${color}"}
      %h2 ${name}
      %h3 ${summary}
      %h3 ${sale_count} of ${count} issued, ${remaining_count} remaining
      {{if removed_at}}
      .removed
        Cancelled
      {{else}}
      =form_tag CGI.unescape(biz_business_promotion_path(@business, '${id}')), :method => "delete", :class => "remove" do
        =button_tag :class => "withx btngrypill" do
          %span.redx
            &times;
          Cancel Remaining
      {{/if}}