.form_container
  %h1 Let's find your business...
  =spot_form_for :search, :url => search_biz_businesses_path, :display => "light", :validate => false, :html => {:id => "search_form", :method => :get, :autocomplete => :off} do |f|
    =f.hidden_field :ll
    =f.text_field :query, :placeholder => "business name", :required => true, :hint => "what should we search for?"
    =f.text_field :location, :placeholder => "city name", :hint => "and where should we search?"
    %li.buttons.left
      =button_tag :class => "btngrypill300x30" do
        Search
        
#search_results
  .loading_msg.msg
  .error_msg.msg
  .results
    .start_msg.msg
      Search for your business using the form on the left.
  