#404_error.error_page.fullscreen
  .error
    =image_tag "assets/general/sherlock210x300.png", :size => "210x300"
    %h1 We couldn't find what you asked for.
    .home_link
      =link_to "Return Holmes", root_path