-set_page_title "Sorry, That Doesn't Work - 422"
-set_spot_app_title "Sorry"

#422_error.error_page.fullscreen
  .error
    =image_tag "assets/general/dragon215x115.png", :size => "215x115"
    %h1 That doesn't quite work with us.
    .home_link
      =link_to "Try again?", url_for(:back) 