#422_error.error_page.vcc
  .vc
    =image_tag "assets/general/dragon430x230.png", :size => "215x115"
    %h1 That doesn't quite work with us.
    .home_link
      =link_to "Try again?", url_for(:back) 