-set_page_title "Woops! We Made a Mistake - 500"
-set_spot_app_title "Woops!"

#500_error.error_page.fullscreen
  .error
    =image_tag "assets/general/punish260x226.png", :size => "260x226"
    %h1 We made a mistake.
    %h2 Rest assured, the appropriate parties will be punished.
    .home_link
      =link_to "Return to Spot", root_path