-set_page_title "Please Upgrade Your Browser"
-set_spot_app_title "Upgrade"

#upgrade_error.error_page.center
  %h1 The browser you are currently using cannot properly render Spot. Please consider upgrading or switching to a more sophisticated browser.

  .links
    .link=link_to "Upgrade?", 'http://www.microsoft.com/windows/internet-explorer/default.aspx'
    &nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
    .link="Switch to #{link_to "Chrome", "http://www.google.com/chrome"}, #{link_to "Firefox", "http://www.mozilla/com/firefox"}, #{link_to "Safari", "http://www.apple.com/safari"}, or #{link_to "Opera", "http://www.opera.com/"}?".html_safe      