#upgrade_error.error_page.vcc
  .vc
    .image=image_tag "assets/general/upgrade218x226.gif", :size => "218x226"
    
    %h1 Spot uses some advanced technology, which your older browser is not sophisticated enough to properly render. Please consider upgrading or switching to a more sophisticated browser.
    .home_link
      =link_to "Upgrade?", 'http://www.microsoft.com/windows/internet-explorer/default.aspx'
      &nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
      =link_to "Switch to Chrome?", "http://www.google.com/chrome" 
      