#share
  %h1 Do the right thing.
  #joke=image_tag "joke/joke_#{@preview.test}.#{@preview.image_format}", :height => "180"
  %h1 Share Spot with your friends
  .share_links
    .social_links.clearfix
      .fb=fb_share_url(root_url(:rid => @preview.rid))
      .twitter=twitter_share_url(root_url(:rid => @preview.rid), "I just joined @spotteam, you should too")
    .direct="Share : #{root_url(:rid => @preview.rid)}"
    %em
      \* No animals were harmed in the making of this website