%li.template{'data-id' => template.try(:id) || '${id}'}
  .color{:style => "background:#{template.try(:color) || '${color}'}"}
  %h2=template.try(:name) || '${name}'
  %h3=template.try(:summary) || '${summary}'
  ="{{if status == #{PromotionTemplate::APPROVED_STATUS}}}"
  .approval.approved{'data-jstooltip' => "Approved!"}
    Approved
  ="{{else status == #{PromotionTemplate::PENDING_STATUS}}}"
  .approval.pending{'data-jstooltip' => "Pending Approval. Your promotion won't be available until it's approved."}
    Pending Approval
  {{else}}
  .approval.rejected{'data-jstooltip' => "Rejected, contact julia@spot-app.com to resolve."}
    Rejected
  {{/if}}
  .controls.clearfix
    =form_tag CGI.unescape(biz_business_template_path(@business, '${id}')), :method => "delete", :class => "remove", 'data-confirm' => "Are you sure you want to delete '${name}'? This action is irreversible." do
      =button_tag :class => "withx btngrypill" do
        %span.redx
          &times;
        Delete
    .link Finish