="Hello #{@account.first_name},"

="I'm very sorry, but your promotion, '#{@deal.name}' has been rejected for the following reasons : "

=@deal.rejection_reasoning

="Please contact me directly by email at #{mail_to @reply_to}, or by phone at #{@phone_to} at any time of day to discuss rectifying these issues."

Sincerely,

Julia & The Spot Team
julia@spot-app.com
http://www.spot-app.com