%p="Hello #{@account.first_name},"

%p="I'm very sorry, but your deal, '#{@deal.name}' has been rejected for the following reasons : "

%p{:style => "padding: 20px;"}
  =@deal.rejection_reasoning

%p="Please contact me directly by email at #{mail_to @reply_to}, or by phone at #{@phone_to} at any time of day to discuss rectifying these issues.".html_safe

%p Sincerely,
%p Julia & The Spot Team
%br
=mail_to "julia@spot-app.com", "julia@spot-app.com", :style => "color:#333"
%br
=link_to "http://www.spot-app.com", "http://www.spot-app.com", :style => "color:#333"