%p="Hello #{@account.first_name},"

%p="I'm very sorry, but your promotion, '#{@promotion.name}' has been rejected for the following reasons : "

%p{:style => "padding: 20px;"}
  =@promotion.rejection_reasoning

%p="Please contact me directly by email at #{mail_to @reply_to}, or by phone at #{@phone_to} at any time of day to discuss rectifying these issues.".html_safe

=render :partial => "shared/mailers/signature"