%p="Hello #{@account.first_name},"

%p="Your registration with Spot is now complete."

%p
  You can now begin creating and scheduling promotions for the days, times and quantities using your 
  ="#{link_to "promotion calendar", calendar_biz_business_path(@biz)}.".html_safe
  If you have questions or would prefer our team help you to create, post and manage your promotions, please contact us at 1-888-817-5410 or 
  ="#{mail_to "contact@spotmembers.com"}.".html_safe

%p 
  Remember, you can have multiple promotions in the same day or the same promotion on multiple days.  We are always available to help so feel free to contact us.

%p 
  Have a great time promoting your business!

=render :partial => "shared/mailers/signature"