%p="Hello #{@account.first_name},"

%p Welcome to Spot for Businesses.

%p Great! You've signed up, so what now?

%p Thanks,
%p The Spot Team
=image_tag 'http://www.spot-app.com/images/logos/black_spot_with_tag320x158.png', :size => "160x75"