=render :partial => "biz/businesses/header"

.bizbd
  .codes.left
    .data=render :partial => "codes"
  
  .lookup.right
    %h1
      Lookup a Code?
    %ul.form.light
      =form_tag lookup_biz_business_codes_path(@business), :method => :get, :id => "lookup_code_form", 'data-validate' => 'validate' do
        %li.text.accept_focus
          =text_field_tag :code, "", :class => "text", :placeholder => "enter code", :required => true
          .validity
        %li
          =button_tag :class => "btngrypill300x30" do
            Lookup
    .code
  