.manager
  .breadcrumb
    =link_to "Places", admin_places_path
    &rarr;
    = @place.name
  .place.detail
    .meta
      .map=image_tag(google_static_map_url(@place))
      .latlng="@#{@place.to_lat_lng}"
      -if @place.image_attribution.present?
        .attribution
          %p="Image Courtesy Of #{@place.image_attribution["source"].titlecase}"
          %p=link_to "Original Owner", @place.image_attribution["owner_url"], :target => "_new"
    .phone
      .content
        .top_bar=@place.name
        .image=image_tag(@place.image.url(:i640x400), :size => "320x200")
        .info
          .name=@place.name
          .address=@place.address_lines.join(' ')
        