-filters = params.slice('filter')
.manager
  .top.clearfix
    .pagination
      -if @places.next_page
        .next=link_to "Next &rarr;".html_safe, admin_places_path(filters.merge(:page => @places.next_page))
      -if @places.previous_page
        .previous=link_to "&larr; Previous".html_safe, admin_places_path(filters.merge(:page => @places.previous_page))
    %h1.title="#{@places.total_entries} Places"
    .links
      =link_to "Image Queue", admin_places_path(filters.merge(:filter => 3))
      =link_to "Imageless", admin_places_path(filters.merge(:filter => 2))
      =link_to "Wishlisted", admin_places_path(filters.merge(:filter => 1))
      =link_to "Processing", admin_places_path(filters.merge(:filter => 4))
      =link_to "All", admin_places_path
      =link_to "New", new_admin_place_path
  =render :partial => "table", :object => @places, :as => :places
  .pagination.bottom
    -if @places.next_page
      .next=link_to "Next &rarr;".html_safe, admin_places_path(params.slice('filter').merge(:page => @places.next_page))
    -if @places.previous_page
      .previous=link_to "&larr; Previous".html_safe, admin_places_path(params.slice('filter').merge(:page => @places.previous_page))
