.biz_accounts {
  .form_container {
    width: 300px;
    margin: 0 auto;
    h1 {
      margin: 2em auto 1em;
    }
  }
  .bizlist {
    margin: 2em 0;
    h2 {
      height: 50px;
      line-height: 50px;
      font-size: 1.5em;
      text-align: left;
      .content {
        line-height: 50px;
      }
    }
  }
}