.biz_accounts {
  .accounthd {
    margin-bottom: 15px;
    .title {
      float: left;
      margin-bottom: 15px;
    }
    .pillbox {
      float: right;
      margin: 12px 0 0 30px;
    }
    hr {
      clear: both;
      @include divider(#ccc, #fff);
    }
  }
  .form_container {
    width: 300px;
    margin: 0 auto;
    h1 {
      margin: 2em auto 1em;
    }
  }
  .accountcontent {
    position: relative;
    height: 500px;
  }
  .section {
    .content {
      margin: 0 auto;
    }
    h2 {
      height: 50px;
      line-height: 50px;
      font-size: 1.5em;
      text-align: center;
    }
    .buttons {
      margin: 5px 0;
    }
    .contact {
      width: 300px;
    }
    &#businesses {
      display: block;
      .content {
        width: 400px;
        margin: 0 auto;
      }
      .newbiz {
        margin: 1em 0;
      }
    }
  }
}