.biz {
  min-width: 980px;
  .bizhd {
    margin-bottom: 15px;
    .title {
      @include ellipsis;
      background: transparent url(/images/icons/placemarker14x20.png) no-repeat left center;
      width: 435px;
      float: left;
      padding-left: 25px;
      margin-bottom: 10px;
    }
    .pillbox {
      float: right;
      margin: 12px 0 0 0px;
    }
    hr {
      clear: both;
      @include divider(#ccc, #fff);
    }
  }
}
#biz_businesses_edit {
  #bizbd {
    position: relative;
    min-height: 800px;
  }
  .map_message {
    width: 380px;
    margin: 10px auto 0;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: #ff3333;
  }
  .map {
    width: 380px;
    height: 250px;
    margin: 0 auto;
  }
  .lock {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    text-align: center;
    .screen {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 100;
      @include opacity(0.9);
      margin: 0 auto;
      background: #fff;
      .ie7 &, .ie8 & {
        background: #f7f7f7;
      }
    }    
    h1, .message {
      font-weight: bold;
      position: relative;
      z-index: 200;
    }
    h1 {
      color: #993333;
      margin: 100px 0 0 0;
    }
    .message {
      font-size: 15px;
      line-height: 1.2em;
      margin: 10px 0 0 0;
      p {
        width: 450px;
        margin: 20px auto;
      }
    }
  }
  .preview {
    float: left;
    border-right: 1px solid #ddd;
    padding-right: 40px;
    margin-right: 40px;
    h2 {
      padding-left: 25px;
      height: 30px;
      line-height: 30px;
      background: transparent url(/images/icons/iphone16x30.png) no-repeat left center;
      font-size: 1.5em;
      text-align: left;
      margin: 0 auto;
      width: 128px;
    }
    h3 {
      margin-top: 0.25em;
      text-align: center;
    }
    .iphone {
      .content {
        background: #fff;
      }
    }
  }
  .form_container {
    position: relative;
    width: 430px;
    float: left;
    h1.edit {
      padding-left: 40px;
      background: transparent url(/images/icons/rolodex29x20.png) no-repeat left center;
      width: 260px;
      margin: 0 auto;
    }
    h1.locked {
      padding-left: 30px;
      background: transparent url(/images/icons/redlock20x24.png) no-repeat left center;
      width: 85px;
      height: 30px;
      line-height: 35px;
      margin: 100px auto 0;
    }
    h3 {
      text-align: center;
      margin-top: 1em;
    }
    ul.form.light.inlinelabels {
      margin: 3em 0 0;
      width: 430px;
      li.text.labelled {
        width: 420px;
        .label {
          width: 110px;
        }
        .input {
          width: 300px;
        }
      }
      li.buttons {
        padding-left: 120px;
      }
    }
  }
}
#biz_businesses_show {
  .bizhd {
    margin-bottom: 0px;
    hr {
      margin-bottom: 0px;
    }
  }
  .bizbd {
    padding-top: 0px;
  }
  .nextstep {
    margin: 0;
    font-size: 15px;
    position: relative;
    h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    text-align: center;
    padding: 10px;
    background: #FFE7D1;
    border: 1px solid #ff8419;
    .closer {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 17px;
      width: 16px;
      background: transparent url(/images/icons/cross16x17.png) no-repeat center center;
    }
  }
  .status {
    margin-top: 15px;
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    .verification {
      padding-right: 25px;
      .explanation {
        color: #808080;
        font-weight: normal;
        font-size: 12px;
      }
      &.verified {
        background: transparent url(/images/icons/grncheckbox20x20.png) no-repeat right center;
        color: #339933;
      }
      &.unverified {
        color: #993333;
      }
      .question {
        cursor: pointer;
      }
    }
  }
  .status, .stat {
    margin-bottom: 3em;
  }
  .stat {
    .title {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 35px;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0.5em;
      line-height: 25px;
      height: 25px;
      var {
        font-size: 30px;
        font-style: normal;
      }
      .relatedlink {
        line-height: 30px;
        display: block;
        float: right;
        color: #808080;
        padding-right: 20px;
        background: transparent url(/images/assets/general/orgtrirt11x15.png) no-repeat right center;
        &:hover {
          color: #ff8419;
        }
      }
    }
    .content {
      font-size: 15px;
      p {
        margin: 0.5em 0;
      }
      ul {
        margin: 0.5em;
        list-style: disc inside none;
      }
    }
  }
  .wishlist_count {
    .title {
      background-image: url(/images/icons/star20x20.png);
    }
  }
  .promotions_count {
    .title {
      background-position: left center;
      background-image: url(/images/icons/promotion25x20.png);      
    }
  }
  .promotion_events_count {
    .title {
      background-image: url(/images/icons/calendar18x20.png);      
    }
  }
  .help {
    .title {
      background-image: url(/images/icons/question20x20.png);
    }
  }
}
#biz_businesses_new {
  #bd {
    width: 850px;
    .form_container {
      width: 300px;
      float: left;
      z-index: 10;
      h1 {
        text-align: left;
        margin: 2em auto 1em;
      }
      ul.form {
        .buttons {
          margin: 0 0 0 0;
        }
      }
    }
    #search_results {
      z-index: 1;
      float: right;
      width: 462px;
      min-height: 250px;
      @include box_shadow(rgba(0,0,0,0.5) 0px 1px 5px);
      @include border_radius(5px);
      border: 1px solid #ddd;
      .results {
        overflow: hidden;
      }
      .msg {
        padding: 75px 25px 40px;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
        display: none;
      }
      .loading_msg {
        background: transparent url(/images/assets/loading/org3blck16x11.gif) no-repeat bottom center;
      }
      .start_msg {
        display: block;
      }
      li.result {
        width: 462px;
        .info {
          width: 295px;
        }
      }
      li.claimed {
        background: #fff url(/images/icons/check20x20.png) no-repeat 426px center;
        &:hover {
          background: #fff url(/images/icons/check20x20.png) no-repeat 426px center;
          color: #333;
          .name {
            color: #333;
          }
          .location {
            color: #999;
          }
        }
      }
      .empty_msg {
        display: block;
        h3 {
          margin: 1em 0 0.25em;
        }
        .submessage {
          font-size: 12px;
          font-weight: normal;
        }  
      }
      &.loading {
        .results {
          display: none;
        }
        .loading_msg {
          display: block;
        }
        .error_msg {
          display: none;
        }
      }
      &.error {
        .results {
          display: none;
        }
        .error_msg {
          display: block;
        }
      }
      .cantfind {
        width: 383px;
        border-top: 1px solid #999;
        background: #e6e6e6;
        height: 55px;
        font-size: 12px;
        font-weight: normal;
        padding: 10px 40px 10px 40px;
        text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
        text-align: center;
      }
    }
  }
}