.biz_businesses {
  min-width: 980px;
  .bizhd {
    margin-bottom: 15px;
    .title {
      @include ellipsis;
      width: 550px;
      float: left;
      margin-bottom: 15px;
    }
    .pillbox {
      float: right;
      margin: 12px 0 0 30px;
    }
    hr {
      clear: both;
      @include divider(#ccc, #fff);
    }
  }
}
#biz_businesses_edit {
  #bizbd {
    position: relative;
    min-height: 800px;
  }
  .map_message {
    width: 380px;
    margin: 10px auto 0;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: #ff3333;
  }
  .map {
    width: 380px;
    height: 250px;
    margin: 0 auto;
  }
  .lock {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    text-align: center;
    .screen {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 100;
      @include opacity(0.9);
      margin: 0 auto;
      background: #fff;
      .ie7 &, .ie8 & {
        background: #f7f7f7;
      }
    }    
    h1, .message {
      font-weight: bold;
      position: relative;
      z-index: 200;
    }
    h1 {
      color: #993333;
      margin: 100px 0 0 0;
    }
    .message {
      font-size: 15px;
      line-height: 1.2em;
      margin: 10px 0 0 0;
      p {
        width: 450px;
        margin: 20px auto;
      }
    }
  }
  .preview {
    float: left;
    h2 {
      font-size: 1.5em;
      text-align: center;
    }
    h3 {
      margin-top: 0.25em;
      text-align: center;
    }
    .iphone {
      .content {
        background: #fff;
      }
    }
  }
  .form_container {
    position: relative;
    width: 430px;
    float: left;
    margin-left: 5em;
    h3 {
      margin-top: 1em;
    }
    ul.form.light.inlinelabels {
      margin: 3em 0 0;
      width: 430px;
      li.text.labelled {
        width: 420px;
        .label {
          width: 110px;
        }
        .input {
          width: 300px;
        }
      }
      li.buttons {
        padding-left: 120px;
      }
    }
  }
}
#biz_businesses_show {
  .stat {
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    .content {
      font-size: 15px;
      p {
        margin: 0.5em 0;
      }
    }
    margin-bottom: 3em;
    .verification {
      &.verified {
        color: #339933;
      }
      &.unverified {
        color: #993333;
      }
      .question {
        cursor: pointer;
      }
    }
  }
}
#biz_businesses_new {
  #bd {
    width: 850px;
    .form_container {
      width: 300px;
      float: left;
      z-index: 10;
      h1 {
        text-align: left;
        margin: 2em auto 1em;
      }
      ul.form {
        .buttons {
          margin: 0 0 0 0;
        }
      }
    }
    #search_results {
      z-index: 1;
      float: right;
      width: 462px;
      min-height: 250px;
      .msg {
        padding: 75px 25px 40px;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
        display: none;
      }
      .loading_msg {
        background: #fff url(/images/assets/loading/org3blck16x11.gif) no-repeat bottom center;
      }
      .start_msg {
        display: block;
      }
      .empty_msg {
        display: block;
        h3 {
          margin: 1em 0 0.25em;
        }
        .submessage {
          font-size: 12px;
          font-weight: normal;
        }  
      }
      &.loading {
        .results {
          display: none;
        }
        .loading_msg {
          display: block;
        }
        .error_msg {
          display: none;
        }
      }
      &.error {
        .results {
          display: none;
        }
        .error_msg {
          display: block;
        }
      }
      .cantfind {
        border-top: 1px solid #999;
        background: #e6e6e6;
        height: 55px;
        font-size: 12px;
        font-weight: normal;
        padding: 10px 40px 10px 40px;
        text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
        text-align: center;
      }
    }
  }
}