.biz_contacts {
  .form_container {
    width: 300px;
    margin: 0 auto;
    h1, h2 {
      text-align: center;
    }
  }
  p {
    margin: 1em 0;
    font-size: 15px;
  }
  .phone {
    width: 185px;
    padding-left: 30px;
    background: transparent url(/images/icons/phone20x20.png) no-repeat left center;
    font-size: 25px;
    margin: 0 auto;
  }
  .email {
    width: 185px;
    padding-left: 35px;
    background: transparent url(/images/icons/mail24x16.png) no-repeat left center;
    font-size: 20px;
    margin: 0 auto;
  }
}