.biz_contacts {
  .form_container {
    width: 300px;
    margin: 0 auto;
    h1, h2 {
      text-align: center;
    }
  }
  h2 {
    font-size: 20px;
  }
  p {
    margin: 1em 0;
    font-size: 15px;
  }
  .phone {
    font-size: 25px;
  }
}