#biz_home_index {
  #bg {
    background: #fff;
  }
  .titlebar {
    padding: 0 35px 0 21px;
  }
  .tagline {
    line-height: 32px;
    font-size: 30px;
    margin: 0 0 20px 0;
  }
  .button {
    width: 400px;
    background: transparent url("/images/buttons/orgrightarrow41x40.png") no-repeat right 0px;  
    line-height: 40px;
    height: 40px;
    font-size: 30px;
    margin: 20px auto;
    position: relative;
    z-index: 100;
    &:hover, &.hover {
      background-position: right -40px;
    }
    &:active, &.active {
      background-position: right -80px;
    }
  }
  .drawing {
    .point {
      text-align: center;
      width: 223px;
      margin: 33px 25px 0 0;
      &.first {
        margin-top: 0px;
      }
      &.last {
        margin-bottom: 0px;
      }
      h2 {
        font-size: 15px;
      }
      a {
        margin: 10px 0;
        display: block;
      }
    }
    .content {
      text-decoration: none;
      margin-top: -75px;
      text-align: center;
    } 
  }
}
.biz_home {
  .faqs, .tos {
    width: 700px;
    margin: 0 auto;
    h1 {
      text-align: center;
      margin-bottom: 1em;
    }
    dt {
      display: block;
      margin: 1em 0 0.5em;
      font-size: 20px;
      font-weight: bold;
    }
    dl, p {
      font-size: 15px;
    }
    p {
      margin: 0.5em 0;
    }
  }
  .faqs {
    .summary {
      list-style: disc inside;
      li {
        font-size: 12px;
        margin: 0.25em 0;
      }
    }
  }
  .widgets {
    font-size: 15px;
    width: 700px;
    margin: 0 auto;
    p {
      margin: 0.5em 0;
    }
    h1 {
      text-align: center;
      margin-bottom: 1em;
    }
    img {
      position: relative;
      top: 20px;
    }
    .widget {
      margin: 1em auto;
      width: 500px;
      h3 {
        margin-bottom: 5px;
      }
    }
    .business_select {
      margin: 1em 0 0;
      text-align: center;
      label {
        font-weight: bold;
      }
      select {
        margin-bottom: 3px;
      }
    }
    .preview {
      .content {
        margin-top: 35px;
      }
    }
    .source {
      textarea {
        width: 300px;
        height: 90px;
        border: 1px solid #333;
        resize: none;
      }
    }
  }
}