body, html {
  height: 100%;
  width: 100%;
  font-size: 12px;
  position: relative;
}
body, html, input, textarea, button {
  font-family: 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
}
#bg {
  background: #f7f7f7;
  min-width: 1000px;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
a, a:visited {
  color: #333;
  font-weight: bold;
  &:hover {
    color: #ff8419;
  };
}
#page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 135px 0 0 0;
  z-index: 2;
  #hd {
    min-width: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 108px;
    padding: 7px 25px 0;
    background: transparent url(/images/backgrounds/repeatable_top_nav_1000x115.png) repeat-x top left;
    overflow: hidden;
    #logo {
      float: left;
    }
    #place_search {
      padding: 55px 0 0 0;
      float: right;
    }
    #nav {
      float: right;
      padding: 50px 0 0 0;
      text-align: right;
      font-size: 1.5em;
      .subnav {
        display: none;
      }
      li {
        list-style: none;
        float: left;
        @extend .blackimg_77x32;
        margin-right: 15px;
        &.current {
          color: #ddd;
          text-shadow: #333 0px -1px 0px;
          background: transparent url(/images/buttons/black_button_77x32_active.png) no-repeat center center;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  #bd {
    max-width: 980px;
    margin: 0 auto;
  }
}
h1.title {
  font-size: 2em;
  margin: 10px auto;
}
h2.title {
  font-size: 1.5em;
  margin: 10px auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.popover {
  .subnav {
    li {
      border-bottom: 1px solid #ddd;
      a {
        cursor: pointer;
        display: block;
        padding: 10px;
        text-decoration: none;
      }
      &:hover {
        background: #ff8419;
        a {
          color: #fff;
        }
      }
    }
  }
  #login_popover {
    width: 250px;
    .buttons {
      clear: both;
    }
    .forgot {
      display: block;
      padding: 2px 0 0 0;
      font-size: 0.9em;
      width: 90px;
    }
  }
}

.bizlist {
  width: 402px;
  ul {
    border: 1px solid #333;
  }
  li.new {
    a {
      display: block;
      padding: 20px 0;
      border-top: 1px solid #999;
      background: #ededed url(/images/assets/general/orgplus18x19.png) no-repeat 105px center;
      text-align: center;
      cursor: pointer;
      @include box_shadow(rgba(0, 0, 0, 0.3) 0px 1px 5px inset);
      text-decoration: none;
      text-shadow: 0px 1px 0px #fff;
      &:hover {
        text-shadow: 0px 1px 0px #000;
        background-color: #ff8419;
        background-image: url(/images/assets/general/whtplus18x19.png);
        color: #fff;
      }        
    }
  }
}