.drawing
  .advertisement.clearfix
    .preview.left=img_link_to "assets/biz/preview689x537.png", new_biz_account_path, :size => "689x537", :alt => "Real-Time Promotions for Businesses"
    .points.right
      .point.timing.first=img_link_to "assets/biz/time223x124.png", new_biz_account_path, :size => "223x124", :alt => "run promotions when it makes sense for your business"
      .point.free=img_link_to "assets/biz/free223x124.png", new_biz_account_path, :size => "223x124", :alt => "completely free to setup"
      .point.customers.last=img_link_to "assets/biz/customers223x124.png", new_biz_account_path, :size => "223x124", :alt => "attract the right customers"
  .content
    .tagline=img_link_to "assets/biz/tag732x32.png", new_biz_account_path, :size => "732x32", :alt => "Have Who You Want, When You Want, at Your Spot"
    .button=img_link_to "assets/biz/getstarted313x41.png", new_biz_account_path, :size => "291x41", :class => "hoverable", :alt => "Let's Get Started"