.drawing
  .clearfix.titlebar
    %h1.tagline.tf.left
      Have Who You Want When You Want at Your Spot
    %a.btnorg100x32.tf.right{:href => new_biz_account_path}
      Sign Up
  .advertisement.clearfix
    .preview.left=img_link_to "assets/biz/preview689x537.png", new_biz_account_path, :size => "689x537", :alt => "Real-Time Promotions for Businesses"
    .points.right
      .point.timing.first
        =img_link_to "assets/biz/clock90x90.png", new_biz_account_path, :size => "90x90", :alt => ""
        %h2.tf run promotions when it makes sense for your business
      .point.free
        =img_link_to "assets/biz/freesign146x76.png", new_biz_account_path, :size => "146x76", :alt => ""
        %h2.tf completely free to setup
      .point.customers.last
        =img_link_to "assets/biz/customers95x71.png", new_biz_account_path, :size => "95x71", :alt => ""
        %h2.tf attract the right customers
  .content
    .button.tf
      Let’s Get Started!