.lcol.left
  %h1 What can Spot do for your business?
  .section
    %h2 A Real Time Deals Platform
    %h3 Get customers to your location when you want them.
    %ul
      %li Design your own custom deals.
      %li Select the discount you want to give.
      %li Only offer your deals when you want.
      %li Never lose margin beyond the discount you set.
  .section
    %h2 Send Deals Directly to a Captive Audience
    %h3 Get the right customers to your business.
    %ul
      %li Deals are available only to an elite group of potential patrons. 
      %li Send deals directly to targeted individuals by phone and email.
      %li Flat discounts incentivize higher spending per visit.
  .buttons
    =link_to "claim your business", new_biz_account_path, :class => "btnorg156x31"

.rcol.right
  =image_tag "assets/devices/threeiphones400x525.png", :size => "400x525"