.lcol
  %h1 What can Spot do for your business?
  %ul.bullets
    %li
      .title Message directly to engaged customers
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla neque vel justo tempor euismod. Nunc vitae vulputate odio. Vivamus lacus ipsum, eleifend sit amet consectetur id, elementum sit amet tortor. Etiam et mauris metus. 
    %li
      .title Drive traffic to your business
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla neque vel justo tempor euismod. Nunc vitae vulputate odio. Vivamus lacus ipsum, eleifend sit amet consectetur id, elementum sit amet tortor. Etiam et mauris metus. 
    %li
      .title Free tool for managing your social media presence
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla neque vel justo tempor euismod. Nunc vitae vulputate odio. Vivamus lacus ipsum, eleifend sit amet consectetur id, elementum sit amet tortor. Etiam et mauris metus. 

  .buttons
    =link_to "claim your business", new_biz_account_path, :class => "btnorg156x31"

.rcol
  .iphones