.lcol
  %h1 What can Spot do for your business?
  .section
    %h2 The Problem?
    %h3 Getting customers to your location when you want them.
    %ul
      %li You know your slow times but you can't do anything about it.
      %li Reservation systems don't incentivize off-peak dining.
      %li Deal sites take too much off your profit.
      %li How do you market open seats?
      %li How do you get new customers?
  .buttons
    =link_to "claim your business", new_biz_account_path, :class => "btnorg156x31"

.rcol
  .iphones