.site_accounts {
  .toptitle {
    h1 {
      padding: 0 0 0 35px;
      background: transparent url(/images/icons/personwht25x23.png) no-repeat center left;
    }
  }
  .main {
    .errorbox {
      padding: 20px 0 0 14px;
      width: 310px;
      .errors {
        color: #993333;
        background: #EDD;
        padding: 10px;
        text-align: left;
        margin: 0;
        border: 1px solid #933;        
        ul {
          list-style: outside disc;
          margin: 10px 20px;
          li {
            padding: 5px 0;
          }
        }
        h2 {
          margin: 0;
          padding: 0;
        }
      }
    }
    h2 {
      font-size: 18px;
    }
    p {
      margin: 10px 0;
    }
    form {
      width: 370px;
    }
    .membership {
      margin: 10px 0;
      li {
        padding: 5px 0;
      }
      .label {
        float: left;
        font-weight: bold;
        text-align: right;
        width: 130px;
        margin-right: 10px;       
      }
      .value {
        line-height: 20px;
      }
      .cc {
        li {
          padding: 0;
        }
      }
      .cancel {
        width: 340px;
        text-align: center;
      }
    }
    li.text.labelled, .li.labelled {
      padding-left: 70px;
      .label {
        position: absolute;
        left: 0px;
        width: 60px;
        margin-right: 10px;
      }
      .input_container {
        width: 300px;
      }
    }
    .li.name.labelled {
      padding-left: 220px;
      .fields {
        left: -150px;
      }
      .input_container {
        width: 150px;
      }
    }
    .separator {
      width: 0px;
      border-right: 1px solid #fff;
      border-left: 1px solid #ddd;
      position: absolute;
      top: 0px;
      right: 425px;
      bottom: 0px;
    }
    .lcol {
      float: left;
      position: relative;
      z-index: 2;
    }
    .rcol {
      float: right;
      position: relative;
      z-index: 1;
      width: 400px;
      .applyline {
        line-height: 32px;
        width: 350px;
      }
    }
    ul.form {
      margin-bottom: 1em;
      &.cc {
        width: 340px;
        margin: 0;
        li.button {
          width: 300px;
          padding: 0px 20px;
          height: 0;
          overflow: hidden;
          @include transition("height 0.25s");
          button {
            @include btnorg280x32;
            margin: 0 auto;
          }
        }
        &.editing {
          li.button {
            height: 32px;
          }
        }
      }
    }
    .events {
      .btnmem {
        @include btnorg300x41;
      }
    }
    .codes {
      border: 1px solid #ddd;
      @include border_radius(10px);
      background: #fff;
      table {
        font-size: 12px;
        width: 100%;
      }
      tr {
        line-height: 1.5em;
        border: none;
        border-bottom: 1px solid #ddd;
        &.last {
          border-bottom: none;          
        }
        &.empty {
          a {
            color: #666;
            &:hover {
              color: #ff8419;
            }
          }
        }
      }
      a {
        text-decoration: none;
        font-weight: bold;
        &.cancel {
          font-size: 11px;
          font-weight: normal;
          color: #999;
        }
      }
      td.code {
        position: relative;
        width: 80px;
        text-align: center;
        border-right: 1px solid #ddd;
      }
      td {
        vertical-align: middle;
        padding: 7px;
      }
      code {
        font-size: 25px;
      }
    }
    
    h2 {
      padding: 0 0 0 35px;
      background: transparent no-repeat left center;
      margin: 30px 0 10px;
      &.top {
        margin-top: 0;
      }
    }
    .aboutme {
      background-image: url(/images/icons/contactblk26x17.png);
      background-position: 0px 1px;
    }
    .changepassword {
      background-image: url(/images/icons/keyblk15x20.png);
      background-position: 10px 0;
    }
    .mymembership {
      background-image: url(/images/icons/diamondblk22x17.png);
    }
    .myevents {
      background-image: url(/images/icons/calendarblk18x20.png);
      background-position: 0px 1px;
    }    
  }
}