.site_blog {
  .overlay.trafficsrc {
    margin: 0 0 20px 0;
    &.received {
      .receipt {
        display: block;
        height: 32px;
      }
      .request {
        height: 0;
        overflow: hidden;
      }
    }
    .receipt {
      overflow: hidden;
      height: 0;
      line-height: 32px;
      @include transition('height 0.25s');
    }
    .request {
      overflow: visible;
      height: 50px;
      @include transition('height 0.25s');
    }
    #invite_request_form {
      .chzn-single {
        height: 29px;
        line-height: 29px;
      }
      li.buttons {
        width: 175px;
        margin: 10px 0 0 0;
      }
      li.email {
        width: 255px;
        margin-right: 10px;
        input{
          width: 235px; 
        }
      }
      li.select {
        width: 255px;
        margin-top: 8px;
        select {
          height: 30px;
          width: 235px;
        }
      }
    }
  }
  #rightrailcontainer {
    width: 225px;
    #rightrail {
      &.fixed {
        .about {
          width: 203px;
          position: fixed;
          top: 20px;
        }
      }
    }
    .about {
      position: relative;
      z-index: 10000;
      background: #fff;
      padding: 10px;
      border: 1px solid #aaa;
      font-size: 22px;
      color: #666;
      a, button {
        clear: both;
        margin: 10px auto 0;
      }
    }
    .dotted {
      border-bottom: 1px dotted #666;
    }
    .section {
      margin: 20px 0;
      color: #666;
      &.first {
        margin-top: 0;
      }
      h3 {
        font-size: 16px;
        color: #999;
        margin: 0 0 10px 0;
      }
    }
    a {
      text-decoration: none;
      color: #666;
      &:hover {
        color: #ff8419;
      }      
    }
    .tag {
      padding: 3px 5px 3px 0;
      float: left;
      font-size: 12px;
    }
    .engage {
      li {
        padding: 5px 0;
      }
      .facebook {
        height: 21px;
      }
    }
    .rss {
      @include bgbutton('rss15x15', 15px, 16px);
      padding-left: 20px;
      width: 75px;
    }
    .contact {
      font-size: 12px;
      a {
        text-decoration: underline;
      }
    }
  }
  #posts {
    width: 500px;
    float: left;
  }
  #pagination {
    a {
      color: #666;
      &:hover {
        color: #ff8419;
      }
      text-decoration: none;
    }
  }
  .post {
    .sharinglinks {
    }
    .comment_count {
      width: 27px;
      line-height: 20px;
      height: 24px;
      font-size: 12px;
      font-weight: bold;
      display: block;
      color: #333;
      float: left;
      text-align: center;
      background: transparent url(/images/icons/commentswhover27x24.png) no-repeat 0 0;
      text-decoration: none;
      margin: 0 auto;
      &:hover {
        background-position: 0 -24px;
        color: #fff;
      }
    }
    img {
      max-width: 500px !important;
    }
    .face {
      float: left;
      padding: 1px 0px 0px 0px;
    }
    .twits {
      float: left;
      padding: 1px 0px 1px 10px;
    }
    .gplus {
      float: left;
      padding: 1px 10px 0 0;
    }
    .byline {
      margin: 5px 0;
      font-size: 1.2em;
      color: #999;
    }
    hr {
      margin: 20px 0 40px;
    }
    &.last {
      margin: 0 auto;
    }
    a {
      color: #666;
      &:hover {
        color: #FF8419;        
      }
    }
  }
  .photo {
    text-align: left;
    .caption {
      margin: 1em 0 0.5em;
    }
    .byline {
      margin: 0 0 1em;
    }
  }
  .regular {
    h1 {
      text-align: left;
      a {
        color: #000;
        text-decoration: none;
        &:hover {
          color: #ff8419;
        }
      }
    }
    p {
      padding: 5px 0;
      display: block;
      clear: both;
    }
  }
}