.site_cities {
  background: #000;
  #city_intro {
    padding: 15px;
    text-align: center;
    h1 {
      margin: 0 0 10px 0;
    }
    .trial_period {
      padding: 10px 0;
      p {
        margin: 2px 0;
        padding: 0;
      }
    }
    .body {
      width: 250px;
      margin: 0 auto 10px;
      a.becomemem {
        margin: 10px auto;
      }
      .explore, .learn {
        margin: 0;
        padding: 2px 3px;
        border: 1px solid #aaa;
        @include border_radius(3px);
        background: #ddd;
        width: 112px;
        text-align: center;
        a {
          text-decoration: none;
        }
        &:hover {
          border: 1px solid #ff8419;
          background: lighten(#ff8419, 10);
          a {
            color: #fff;
          }
        }
      }
      .explore {
        float: left;
      }
      .learn {
        float: right;
      }
    }
  }
  .calendar {
    margin: 10px 0;
    position: relative;
    &.rows {
      .col1 {
        clear: left;
      }
    }
    .month_placeholder {
      height: 40px;
      width: 835px;
    }
    .month_title {
      .month {
        text-align: center;
        color: #999;
        border: 1px solid #ddd;
        border-right: 0;
        border-left: 0;
        text-shadow:  rgba(255,255,255,0.75) 0px 1px 0px;
        background: #f7f7f7;
        padding: 5px 0;
        font-size: 20px;
      }
      hr, .month {
        width: 835px;
        margin: 0 auto;
      }
      &.fixed {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }
    }
    .date {
      width: 147px;
      float: left;
      padding: 10px 0;
      margin: 10px;
      .imageshield {
        margin: 0 auto 10px 0;
        width: 145px;
        height: 70px;
        position: relative;
        overflow: hidden;
        border: 1px solid #aaa;
        img {
          width: 234px;
          height: 168px;
          top: -39px;
          left: -43px;
          position: absolute;
        }
      }
      &.today {
        .day {
          padding-left: 25px;
          background: transparent url(/images/icons/grystar20x20.png) no-repeat left center;
        }
      }
    }
    .day {
      text-shadow:  rgba(255,255,255,0.75) 0px 1px 0px;
      font-size: 30px;
      color: #999;
      border-bottom: 1px solid #ddd;
      .dow {
        font-size: 12px;
      }
    }
    .events {
      padding: 10px 0 0;
      border-top: 1px solid #fff;
      font-size: 11px;
      .remaining {
        text-align: center;  
      }
      .event {
        display: block;
        padding: 0 0 10px;
        text-decoration: none;
        .place {
          text-decoration: underline;
        }
        .timeframe {
          padding: 0 0 2px 0;
          font-weight: bold;
          color: #999;
        }
      }
    }
  }
  .main {
    .title {
      h1 {
        float: left;
      }
      .pillbox {
        float: right;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
  .coming_soon {
    p {
      margin: 10px 0;
    }
    &.requested {
      #city_preview {
        display: none;
      }
      .thankyou {
        display: block;
        position: relative;
        a {
          position: static;
          float: none;
          line-height: 18px;
          color: #AAA;
          font-size: 12px;
          padding: 0 5px;
        }
      }
    }
    &.updating {
      #city_preview {
        display: block;
      }
      .thankyou {
        display: none;
      }
    }
    .image {
      float: right;
      margin: 10px 0;
      position: relative;
      .speechbubble {
        font-size: 13px;
        top: -35px;
        left: 135px;
      }
    }
    .image img {
      border: 1px solid #ddd;
    }
    .form {
      float: left;
      width: 400px;
      h2 {
        margin: 30px 0 20px;
      }
      form, ul.form {
        #othercityfields {
          padding: 0 0 20px;
          li.text {
            margin: 0;
          }
          li.note {
            margin: 7px 0 0;
          }
        }
        li.text {
          width: 380px;
        }
        li.note {
          padding-left: 80px;
        }
        li.buttons {
          padding-left: 80px;
          button {
            @include btnorg300x41;
          }
        }
        .label {
          width: 60px;
        }
      }
    }
  }
  .evtdis {
    margin: 10px 0;
    width: 402px;
    .image {
      height: 250px;
      width: 400px;
      position: relative;
    }
    .designed_by_spot {
      
    }
  }
  .updates {
    .content {
      color: #666;
      h2 {
        margin: 0 0 10px 0;
      }
      width: 250px;
      position: absolute;
      bottom: 15px;
      left: 15px;
    }
  }
  .upcoming {
    margin: 20px auto 0;
    .evtdis {
      &.even {
        float: left;
        clear: both;
      }
      &.odd {
        float: right;
      }
    }
  }
}