.site_cities {
  background: #000;
  .main {
    .title {
      height: 40px;
      line-height: 40px;
      margin: 0 0 10px 0;
    }    
  }
  .coming_soon {
    p {
      margin: 10px 0;
    }
    .image {
      margin: 10px 0;
      position: relative;
      .speechbubble {
        font-size: 12px;
        top: -35px;
        left: -15px;
      }
    }
    .image img {
      border: 1px solid #ddd;
    }
    .form {
      width: 400px;
      h2 {
        margin: 30px 0 20px;
      }
      form, ul.form {
        li.text {
          width: 380px;
        }
        li.note {
          padding-left: 80px;
        }
        li.buttons {
          padding-left: 80px;
        }
        .label {
          width: 60px;
        }
      }
    }
  }
  .featsection {
    margin: 20px auto;
    .evtdis {
      .image {
        width: 835px;
        height: 392px;
        overflow: hidden;
        position: relative;
        .name {
          font-size: 20px;
        }
        img {
          top: -67px;
          width: 855px;
          height: 535px;
        }
      }
    }
  }
  .evtdis {
    margin: 10px 0;
    width: 400px;
    .image {
      height: 250px;
      width: 400px;
      position: relative;
    }
    .description {
      color: #000 !important;
      padding: 0 10px;
    }
  }
}