.applydialog {
  font-size: 12px;
  padding: 170px 30px 30px;
  position: relative;
  margin: 0 auto;
  width: 740px;
  ul.form {
    position: relative;
    height: 325px;
    height: 380px;
    @include transition("height 0.5s");
    .step {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      @include transition("opacity 0.5s");
    }
    .invitecode {      
      z-index: 2;
    }
    &.unlockable {
      .inputs {
        @include transition("width 1s");        
        width: 245px;
      }
    }
    &.unlocking, &.unlocked {
      .lock {
        .shackle {
          top: 0;
        }
      }
      .haveaninvite {
        display: none;
      }
    }
    &.unlocked {
      .application {
        opacity: 1;
        z-index: 10;
        .ie7 &, .ie8 & {
          display: block;
        }
      }
      .invitecode {      
        opacity: 0;
        .ie7 &, .ie8 & {
          display: none;
        }
      }
    }
  }
  .explanation {
    margin: 0 0 20px 0;
    &.last {
      margin-bottom: 0px;
    }
  }
  h1 {
    margin: 0 0 20px 0;
    img {
      margin-bottom: -19px;
    }
  }
  .about {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent url(/images/assets/general/cityscape895x150.png) no-repeat center center;
    border-bottom: 1px solid #fff;
    height: 150px;
    .text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 16px;
      color: #fff;
      padding: 15px;
    }
  }
  .inputs {
    width: 150px;
    margin: 0 auto;
    position: relative;
    height: 30px;
    li.text {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 150px;
      input, .placeholder {
        text-align: center;
        width: 132px;
      }
    }
    .unlock {
      z-index: 1;
      position: absolute;
      top: 1px;
      right: 0;
      font-weight: bold;
    }
  }
  .switchmode {
    color: #AAA;
    text-decoration: none;
    display: block;
    position: absolute;
    bottom: -15px;
    left: 200px;
    right: 200px;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
  .application {
    opacity: 0;
    .ie7 &, .ie8 & {
      display: none;
    }
    .form {
      float: left;
      padding: 5px 0 0;
    }
    .survey {
      display: none;
    }
    li.labelled, .li.labelled {
      width: 375px;
    }
    .label {
      width: 65px;
    }
    .name .fields {
      margin-left: 74px;
    }
    .buttons, .error_messages {
      margin-left: 75px;
    }
    .question {
      font-weight: bold;
    }
    button {
      @include btnorg300x41;
    }
    .descriptions {
      float: right;
      width: 280px;
      padding-right: 20px;
    }
  }
  .invitecode {
    padding: 60px 0 0;
    height: 260px;
    .vouched {
      text-align: center;
      padding: 10px 0;
      color: #999;
    }
    li {
      margin: 0 auto;
    }
    .lock {
      width: 45px;
      height: 80px;
      position: relative;
      margin: 0 auto;
      .bolt {        
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 45px;
        background: #ddd;
      }
      .shackle {
        @include transition("top 0.25s");
        position: absolute;
        top: 10px;
        height: 41px;
        width: 39px;
        background: transparent url(/images/assets/general/shackle39x41.png) no-repeat center center;
        left: 3px;
      }
    }
    .question {
      padding: 10px 0;
      font-size: 15px;
      text-align: center;
    }
  }
}
#claimdialog {
  font-size: 14px;
  text-align: center;
  padding: 20px 30px;
  .container {
    height: 350px;
    position: relative;
  }
  .summary {
    font-size: 16px;
    a {
      color: #ff8419;
      text-decoration: none;
    }
  }
  .section {
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 560px;
    @include transition("opacity 0.5s, z-index 1s");
  }
  .areyousure {
    padding: 35px 0 0 0;
    z-index: 4;
    .summary {
      margin: 10px 0;
      p {
        margin: 2px 0;
      }
    }
    button {
      @include btnorg200x41;
      margin: 10px auto;
    }
    h2 {
      margin: 10px auto;
    }
    .cancel {
      color: #666;
      font-size: 10px;
    }
  }
  .processing {
    z-index: 3;
    background: #fff url("/images/assets/loading/blkgears30x40.gif") no-repeat center center;
  }
  .code {
    z-index: 2;
    .error {
      @include titlefont;
      color: #633;
      text-shadow: rgba(255,255,255,0.75) 0px 1px;
      font-size: 20px;
      padding: 25px 0;
    }
    .col.nextsteps {
      float: right;
      text-align: left;
      width: 320px;
      hr {
        margin: 5px 0;
        @extend hr.light;
      }
      .exploremore {
        @include btnorg280x32;
        margin: 10px auto 0;
      }
    }
    .nowwhat {
      padding-left: 35px;
      background: transparent url("/images/icons/questioncir22x22.png") no-repeat left center;
    }
    .col.yourcode {
      float: left;
      margin: 8px 0;
      width: 200px;
      text-align: center;
      code {
        font-size: 50px;
        display: block;
        margin: 10px 0;
        padding: 5px 10px 7px 10px;
        @include border_radius(5px);
        background: #fff;
        border: 2px dashed #999;
      }
      .cancel {
        text-decoration: none;
        color: #999;
        font-size: 11px;
      }
    }
    code {
      font-family: monospace;
      display: inline;
    }
    ul {
      li {
        padding: 5px 0;
        &.telleveryone {
          line-height: 30px;
        }
      }
      margin: 10px 0;
    }
    .howitworks {
      float: none;
      margin: 15px auto 0;
      text-align: center;
    }
    .sharing {
      float: left;
      width: 300px;
      .label {
        float: left;
        margin-right: 10px;
      }
      margin: 0;
    }
  }
  &.loading {
    .areyousure {
      z-index: 1;
      opacity: 0;
    }
  }
  &.claimed {
    .areyousure {
      z-index: 1;
      opacity: 0;
    }
    .processing {
      z-index: 1;
      opacity: 0;
    }
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    margin: 10px 0 0;
    font-size: 18px;
  }
  p {
    margin: 15px 0;
  }
  
  button {
    margin: 15px auto 25px;
  }
}
