.site_emails {
  #unsubscribe, #goodbye {
    text-align: center;
    width: 500px;
    margin: 0 auto ;
    h1 {
      margin: 0 0 1em 0;
    }
    h2 {
      margin: 1em 0 2em;
    }
    .buttons {
      width: 300px;
      margin: 0 auto;
      button, a {
        font-weight: bold;
        padding: 0px;
        margin: 0;
        font-size: 1.2em;
        color: #ccc;
        &:hover {
         color: #ff8419;
        }
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
  }
}