.error_page {
  .vc {
    text-align: center;
    h1 {
      font-size: 24px;
      margin: 0 0 10px 0;
    }
    h2 {
      font-size: 20px;
    }
    .home_link {
      margin: 10px 0 0;
      a {
        font-size: 16px;
        color: #ccc;
        font-weight: bold;
        &:hover, &.hover {
          color: #fff;
        }
      }      
    }
  }
}

#upgrade_error {
  .image {
    margin: 40px auto 0px;
  }
  h1 {
    font-size: 20px;
    line-height: 25px;
    width: 500px;
    margin: 20px auto;
  }
  .links {
    a {
      display: inline-block;
      padding: 0 50px;
    }
  }
}