.error_page {
  color: #f0f0f0;
  .vc {
    text-align: center;
    h1 {
      font-size: 24px;
      margin: 0 0 10px 0;
    }
    h2 {
      font-size: 20px;
    }
    .home_link {
      margin: 10px 0 0;
      a {
        font-size: 16px;
        color: #f0f0f0;
        font-weight: bold;
        &:hover, &.hover {
          color: #fff;
        }
      }      
    }
  }
}

#upgrade_error {
  position: fixed;
  top: 100px;
  left: 0px;
  right: 0px;
  h1 {
    font-size: 20px;
    line-height: 25px;
    width: 500px;
    margin: 10px auto 10px;
  }
  .links {
    font-size: 15px;
    .link {
      display: inline-block;
      a {
        color: #ccc;
        &:hover, &.hover {
          color: #fff;
        }
      }
    }
  }
}