.site_events {
  .main {
    .name {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }
  .explanations {
    margin-top: 30px;
  }
  .explanation {
    float: left;
    width: 264px;
    margin-right: 14px;
    &.last {
      margin-right: 0;
    }
  }
  .details {
    font-size: 18px;
    margin-bottom: 30px;
    .event {
      width: 556px;
      float: left;
      .name {
        margin-top: 5px;
      }    
    }
    .place {
      width: 250px;
      float: right;
      .mapit {
        color: #808080;          
        a {
          color: #808080;          
          &:hover {
            color: #ff8419;
          }
        }
        font-size: 12px;
        line-height: 16px;
        margin-left: 10px;
      }
      h1 {
        line-height: 35px;
        margin-bottom: 5px;
      }
      .info {
        padding: 5px 0 5px 34px;
        font-size: 14px;
        display: block;
        text-decoration: none;
      }
      .google {
        background: transparent url(/images/logos/external/googlegry15x15.png) no-repeat 4px center;        
        &:hover, &.hover {
          background-image: url(/images/logos/external/google15x15.png);
        }
      }
      .yelp {
        background: transparent url(/images/logos/external/yelpgry15x20.png) no-repeat 4px center;
        &:hover, &.hover {
          background-image: url(/images/logos/external/yelp15x20.png);
        }
      }
      .wishlists {
        background: transparent url(/images/icons/grystar20x20.png) no-repeat left center;
      }
      .phone {
        background: transparent url(/images/icons/gryphone21x14.png) no-repeat left center;          
      }
      .address {
        padding-top: 2px;
        background: transparent url(/images/icons/gryplacemarker14x20.png) no-repeat 3px 9px;
      }
    }
  }
  .availability {
    font-size: 18px;
    margin-top: 30px;
    position: relative;
    .shield {
      z-index: 100;
      @include opacity(0.6);
      background: #f0f0f0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .dates {
      width: 556px;
      float: left;
      margin-bottom: 5px;
    }
    .hours {
      float: right;
      position: relative;
      height: 185px;
      margin-top: 20px;
      width: 250px;
      text-align: center;
      .clock {   
        top: 0;
        left: 0;       
        right: 0;
        bottom: 0;
        position: absolute;
        .ring {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 10;
        }
        .hands {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          z-index: 1;
          canvas {
            margin: 0 auto;
          }
        }
      }
      .timeframe {
        position: absolute;
        bottom: 0;
        text-shadow: #fff 0px 1px 0px;
        left: 0;
        font-size: 18px;
        z-index: 15;
        right: 0;
      }
    }
    &.showall {
      .date {
        display: block;
        &.wk1 {
          border-bottom: 1px solid #808080;
        }
      }
      .subtitles {
        .show {
          display: none;
        }
        .hide {
          display: block;
        }
      }
    }
  }
  .calendar {
    margin-top: 5px;;
    border: 2px solid #808080;
    @include border_radius(5px);
  }
  .subtitles {
    font-size: 12px;
    padding: 5px;
    color: #AAAAAA;
    text-shadow: #fff 0px 1px 0px;
    a {
      color: #AAAAAA;
    }
    .hide {
      display: none;
    }
  }
  .dow {
    font-size: 10px;
    color: #666;
    text-align: left;
  }
  .date {
    position: relative;
    height: 80px;
    width: 68px;
    float: left;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
    color: #333;
    padding: 5px;
    display: none;
    &.visible {
      display: block;
    }
    &.wday6 {
      border-right: 0;
    }
    &.lastwk, &.wk1 {
      border-bottom: 0px;
    }
    .doy {
      color: #666;
      font-size: 15px;
    }
    .event {
      position: absolute;
      bottom: 5px;
      left: 2px;
      right: 2px;
      text-align: center;
      font-size: 11px;
      color: #666;
      code {
        display: block;
        color: #666;
        font-size: 18px;
        background: #fff;
        padding: 3px;
        border: 2px dashed #999;
      }
      a {
        display: block;
        padding: 2px;
        height: 13px;
        line-height: 13px;
        @include border_radius(8px);
        text-decoration: none;
        color: #fff;
        background: #999;              
        .register {
          display: none;
          padding-left: 12px;
          margin: 0 auto;
          background: transparent url(/images/icons/checkwht9x9.png) no-repeat left center;              
          width: 28px;
        }
        &:hover, &.hover {
          background: #ff8419;
          .text {
            display: none;
          }
          .claim {
            display: block;
          }
        }
      }
    }
  }
  .evtdis {
    position: relative;
    width: 855px;
    height: 400px;
    margin-bottom: 10px;
    .image {
      top: -62px;
      width: 835px;
      height: 400px;
      overflow: hidden;
    }
  }
}