.site_events {
  .ui-dialog-titlebar {
    position: relative;
    background: #999;
    text-align: center;
    @include gradient_top_down(#f2f2f2, #A2A2A2); 
    @include top_border_radius(4px);
    color: #333;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    font-weight: bold;
    .ui-dialog-titlebar-close {
      background: transparent url(/images/buttons/bnwcloser15x45.png) no-repeat 0 0;
      height: 15px;
      width: 15px;
      position: absolute;
      top: 10px;
      left: 10px;
      &:hover, &.hover {
        background-position: 0px -15px;
      }
      &:active, &.active {
        background-position: 0px -30px;
      }
    }
  }
  .promotion {
    .body {
      float: left;
    }
    .sidebar {
      float: right;
      width: 330px;
      .buttons {
        width: 300px;
        margin: 20px auto 0;
        .getitnow {
          margin: 0 0 10px 0;
        }
      }
    }
    .explanation {
      width: 300px;
      margin: 30px auto;
      .title {
        padding: 5px 0;
      }
      .divider {
        width: 300px;
        height: 0px;
        border-top: 1px solid #999;
        border-bottom: 1px solid #fff;
      }
      .content {
        font-size: 12px;
        li {
          margin: 1em 0;
        }
        p {
          margin: 1em 0;
        }
      }
    }
    .guestcheck {
      background: transparent url(/images/assets/events/pad300x325.png);
      width: 300px;
      height: 325px;
      margin: 0 auto;
      position: relative;
      font-size: 20px;
      font-weight: bold;
      text-shadow: #fff 0px 1px 0px;
      line-height: 31px;
      .content {
        padding: 25px 20px 50px 20px;
        p {
          margin: 0;
          padding: 0;
        }
        ul {
          margin: 0 0 0 30px;
          padding: 0;
          list-style: disc outside url(/images/icons/check20x20.png);
        }
      }
    }
    .description {
      padding: 10px;
      font-size: 14px;
      .more {
        margin: 0.5em 0;
        hr {
          margin: 5px 0;
          height: 0px;
          border-bottom: 1px solid #fff;
          border-top: 1px solid #ddd;
        }
        h3 {
          margin: 0.5em 0;
        }
        .info {
          padding: 0 0 0 40px;
          line-height: 30px;
          font-size: 14px;
          width: 150px;
        }
        .wishlists {
          background: transparent url(/images/icons/grystar20x20.png) no-repeat 6px center;
        }
        .phone {
          background: transparent url(/images/icons/gryphone30x20.png) no-repeat left center;          
        }
        .address {
          line-height: 20px;
          background: transparent url(/images/icons/gryplacemarker14x20.png) no-repeat 9px center;
        }
      }
      .external {
        display: block;
        float: left;
        margin: 0 10px 0 0;
        &.google {
          margin-top: 4px;
        }
        &.foursquare {
          margin-top: 2px;
        }
      }
    }
    .image {
      position: relative;
      height: 325px;
      width: 520px;
    }
    .titlebar {
      z-index: 10;
      position: absolute;
      background: transparent url(/images/backgrounds/blkgrdnt1x150.png) repeat-x top left;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 60px;
      color: #fff;
      padding: 50px 10px 0px 10px;
      h1 {
        font-size: 25px;
      }
      .promotioninfo {
        padding: 0 0 0 50px;
        background: transparent url(/images/assets/events/promotionicon38x22.png) no-repeat left center;
      }
      .date {
        font-size: 20px;
        position: absolute;
        right: 10px;
        bottom: 6px;
      }
      h2 {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}