#site_home_index {
  padding: 0;
  #bg {
    bottom: 70px;
  }
  footer {
    display: block;
    min-width: 920px;
    padding-top: 5px;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
    border-top: 1px solid #333;
    text-shadow: rgba(0,0,0,0.5) 0 2px 0;
    background: #000 repeat top center;
    &.loading {
      display: none;
    }
    .icons {
      position: absolute;
      top: 14px;
      left: 20px;
      width: 457px;
      a {
        display: block;
        float: left;
        margin: 0 20px;
        text-align: center;
      }
    }
    .regular {
      float: right;
      padding: 0;
      margin: 24px 40px 0 0;
      width: 500px;
      a {
        color: #f7f7f7;
        text-decoration: none;
        display: block;
        float: right;
        margin-left: 11px;
        font-size: 16px;
        &:hover {
          color: #fff;
        }
      }
    }
  } 
  #toplayer {
    @include fullscreen();
    overflow: hidden;
    z-index: 100;
    .scene {
      @include fullscreen();
      .content {
        margin: 100px auto;
        padding: 10px;
        @include border_radius(5px);
        background: #000 no-repeat center center;
        h1 {
          text-shadow: rgba(0,0,0,0.75) 0px 1px 0px;
          text-align: center;
          color: #fff;
          margin: 0 auto;
          font-size: 20px;
        }
      }
    }
    .intro {
      left: 0;
      .content {
        width: 350px;
        padding: 20px;
        text-shadow: #000 0px 1px;
        .half {
          color: #bbb;
          strong {
            color: #ff8419;
            font-weight: bold;
          }
          em {
            color: #f7f7f7;
            font-style: normal;
            font-weight: bold;
          }
          &.describe {
            font-size: 30px;
            border-bottom: 1px solid #ddd;
            padding: 0 0 20px 0;
            p {
              line-height: 26px;
            }
          }
          &.entrance {
            font-size: 14px;
            padding: 20px 0 0 0;
            .action {
              @include btnorg250x32;
            }
            &.request {
              #email_form {
                display: block;
              }
            }
            &.invitation {
              #invite_form {
                display: block;
              }
            }
            &.member {
              .registration {
                display: none;
              }
              #member_form {
                display: block;
              }
            }
            #member_form {
              display: none;
              form {
                width: 300px;
                margin: 0 auto;
              }
            }
            #invite_form {
              display: none;
              position: relative;
              margin: 5px auto;
              .lock {
                float: left;
                width: 22px;
                height: 37px;
                position: relative;
                margin: 4px 20px 0 0;
                .bolt {        
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  height: 18px;
                  width: 23px;
                  background: #333;
                }
                .shackle {
                  @include transition("top 0.25s");
                  position: absolute;
                  top: 5px;
                  height: 19px;
                  width: 19px;
                  background: transparent url(/images/assets/general/shackle18x19.png) no-repeat center center;
                  left: 2px;
                }
              }
              .input_container, li {
                width: 250px;
                @include transition("width 0.5s");
              }
              input {
                @include transition("width 0.5s");
                width: 230px;
                float: left;
              }
              .unlock {
                @include transition("right 0.5s");
                position: absolute;
                z-index: 1;
                width: 77px;
                height: 28px;
                top: 10px;
                right: 85px;
                color: #fff !important;
                &:active, &.active {
                  color: #f7f7f7 !important;
                }
              }
              &.unlockable {
                .unlock {
                  right: 60px;
                }
                .input_container, li {
                  width: 150px;
                }
                input {
                  width: 130px;
                }
              }
              &.unlocking {
                .shackle {
                  top: 0px;
                }
              }
            }
            #email_form {
              display: none;
              input {
                width: 200px;
              }
              li {
                width: 220px;
              }
              text-align: left;
              button {
                float: right;
                @include btnorg115x32;
                position: relative;
                z-index: 100;
                margin: 9px 0;
              }
            }
            h2 {
              font-size: 21px;
            }
            .action {
              margin: 10px auto 0;
              text-align: center;
            }
            form {
              width: 350px;
              margin: 5px auto 0;
            }
            .memberswitch {
              text-align: center;
              margin: 10px auto 0;
              width: 300px;
              a {
                text-decoration: none;
                color: #808080 !important;
              }
            }
          }
        }
      }
    }
    .map {
      left: 100%;
      overflow: visible;
      .content {
        position: relative;
        height: 500px;
        width: 800px;
        background-image: url(/images/assets/maps/usa645x415.png);
        .cantfind {
          position: absolute;
          bottom: 20px;
          right: 20px;
          color: #aaa;
          a {
            color: #aaa;
            &:hover {
              color: #f7f7f7;
            }
          }
        }
        .city {
          position: absolute;
          height: 22px;
          padding: 0 10px;
          @include border_radius(5px);
          font-size: 16px;
          line-height: 22px;
          display: block;
          background: #AAA;
          text-decoration: none;
          color: #ededed;
          text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
          &.subscribable {
            background: #eeb96d;
            color: #fff;
          }
          &:hover {
            background: #ff8419;
          }
        }
        #boston {
          top: 145px;
          left: 690px;
        }
        #dfw {
          top: 340px;
          left: 350px;
        }
        #sd {
          top: 305px;
          left: 70px;
        }
        #seattle {
          top: 55px;
          left: 100px;
        }
        #ptown {
          top: 105px;
          left: 95px;
        }
        #denver {
          top: 230px;
          left: 265px;
        }
        #phoenix {
          top: 285px;
          left: 185px;
        }
        #philly {
          top: 205px;
          left: 550px;
        }
        #htown {
          top: 390px;
          left: 380px;
        }
        #sf {
          top: 200px;
          left: 40px;
        }
        #la {
          top: 260px;
          left: 50px;
        }
        #nyc {
          top: 180px;
          right: 65px;
        }
        #chicago {
          top: 185px;
          right: 281px;
        }
        #nola {
          bottom: 135px;
          right: 230px;
        }
        #miami {
          top: 415px;
          left: 615px;
        }
        #atlanta {
          top: 315px;
          left: 540px;
        }
        #dc {
          top: 235px;
          left: 570px;
        }
      }
    }
  }
  
  #spotlogo {
    z-index: 10;
    position: absolute;
    position: fixed;
    top: 30px;
    left: 40px;
    height: 90px;
    background: transparent url(/images/logos/spotwhite120x90.png) no-repeat left center;
    width: 120px;
  }
}

.csstransitions #site_home_index {
  #toplayer {
    position: relative;
    width: 100%;
    height: 100%;
    .scene {
      position: relative;
      float: left;
      width: 100%;
      height: 0;
    }
    .intro {
      height: 100%;
    }
    &.scene2 {
      .scene {
        @include transition('left 2s');
      }
      .intro {
        left: -100%;
        height: 0;
      }
      .map {
        left: 0%;
        height: 100%;
      }
    }
  }
}
