.site_home, .site_blog {
  background: #000000;
  color: #f0f0f0;
  #bg {
    background: #000000 url(/images/backgrounds/paisley_dark_centerfade.jpg) no-repeat fixed center center;
  }
  #bd {
    bottom: 70px;
  }
  #ft {
    min-width: 920px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
    border-top: 1px solid #333;
    text-shadow: rgba(0,0,0,0.5) 0 2px 0;
    background: #000 repeat top center;
    &.loading {
      display: none;
    }
    #iconlinks {
      float: left;
      margin: 14px 0 0 20px;
      width: 457px;
      a {
        display: block;
        float: left;
        margin: 0 20px;
        text-align: center;
      }
    }
    #nav {
      float: right;
      padding: 0;
      margin: 24px 40px 0 0;
      width: 252px;
      a {
        color: #f0f0f0;
        text-decoration: none;
        display: block;
        float: right;
        margin-left: 11px;
        font-size: 16px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  #about {
    margin: 0 auto;
    @include black_radial_gradient(500);
    width: 890px;
    text-align: center;
    text-shadow: #000 0px 1px 0px;
    .info {
      font-size: 15px;
      width: 600px;
      margin: 0 auto;
    }
    p {
      margin: 1em auto;
    }
    .signature {
      width: 300px;
    }
    hr {
      @include divider(#333, #222);
      margin: 1.5em 5em 0em;
    }
    .pictures {
      margin: 40px auto;
      text-align: center;
      .profile {
        float: left;
        margin: 0px 20px;
        .name {
          font-size: 1em;
          font-weight: bold;
        }
        .title {
          padding: 3px 0;
          font-size: 0.8em;
        }
      }
    }
    .contact {
      font-size: 15px;
    }
    .attribution {
      font-size: 1em;
      padding: 1em;
    }
  }
  #press {
    color: #666;
    width: 700px;
    margin: 0 auto;
    padding: 0 0 175px 0;
    #logo {
      height: 135px;
    }
    #content {
      padding: 25px 30px;
      @include border_radius(20px);
      background: #fff;
      #logos {
        .preview {
          float: left;
          height: 122px;
          width: 150px;
        }
        .download {
          float: left;
          padding: 50px 0 0 15px;
          font-size: 1.2em;
        }
      }
      #screenshots {
        .screenshot {
          width: 150px;
          height: 225px;
          float: left;
          margin: 10px 13px 0 0;
          &.loading {
            background: transparent url(/images/assets/loading/org3blck16x11.gif) no-repeat center center;            
          }
          &.last {
            margin-right: 0;
          }
        }
      }
      #preview {
        margin: 1em 0;
        #phone {
          float: left;
          &.loading {
            display: none;
          }
          .content {
            position: relative;
            background: #333;
            overflow: hidden;
          }
          .screen {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            &.active {
              z-index: 5;
              display: block;
            }
            &.pending {
              z-index: 1;
              display: block;            
            }
          }          
        }
        .description {
          margin-left: 274px;
          padding: 200px 0;
          text-align: center;
          font-size: 1.5em;
        }
      }
      p {
        font-size: 1.2em;
        margin: 1em 0;
      }
      hr {
        @include divider(#ddd, #ededed);
        margin: 1.5em 0em;
      }
    }
  }
}