#site_home_index {
  padding: 0;
  #bd {
    overflow:hidden;
  }
  #bg {
    bottom: 70px;
  }
  footer {
    display: block;
    min-width: 920px;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
    border-top: 1px solid #333;
    text-shadow: rgba(0,0,0,0.5) 0 2px 0;
    background: #000 repeat top center;
    &.loading {
      display: none;
    }
    .icons {
      position: absolute;
      top: 14px;
      left: 20px;
      width: 457px;
      a {
        display: block;
        float: left;
        margin: 0 20px;
        text-align: center;
      }
    }
    .regular {
      float: right;
      padding: 0;
      margin: 24px 40px 0 0;
      width: 500px;
      a {
        color: #f7f7f7;
        text-decoration: none;
        display: block;
        float: right;
        margin-left: 11px;
        font-size: 16px;
        &:hover {
          color: #fff;
        }
      }
    }
  } 
  #toplayer {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    min-height: 525px;
    .scene {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      .content {
        padding: 10px;
        @include border_radius(5px);
        background: #000 no-repeat center center;
        h1 {
          text-shadow: rgba(0,0,0,0.75) 0px 1px 0px;
          text-align: center;
          color: #fff;
          margin: 0 auto;
          font-size: 20px;
        }
      }
    }
    .intro {
      left: 0;
      .content {
        position: absolute;
        top: 15%;
        right: 10%;
        width: 350px;
        padding: 20px;
        text-shadow: #000 0px 1px;
        .tabs {
          margin-top: 15px;
          .tab {
            display: inline-block;
            float: left;
            margin-right: 35px;
            padding-bottom: 2px;
            cursor: pointer;
            &.last {
              margin-right: 0;
            }
            &:hover, &.hover {
              color: #fff;
            }
            &:active, &.active {
              color: #fff;
              border-bottom: 1px solid #fff;
            }
          }
        }
        .half {
          color: #bbb;
          strong {
            color: #ff8419;
            font-weight: bold;
          }
          em {
            color: #f7f7f7;
            font-style: normal;
            font-weight: bold;
          }
          &.describe {
            font-size: 21px;
            border-bottom: 1px solid #ddd;
            padding: 0 0 20px 0;
            p {
              line-height: 26px;
            }
          }
          &.entrance {
            font-size: 14px;
            padding: 20px 0 0 0;
            &.request {
              #email_form {
                display: block;
              }
            }
            &.invitation {
              #invite_form {
                display: block;
              }
            }
            &.member {
              .registration {
                display: none;
              }
              #member_form {
                display: block;
              }
            }
            #member_form {
              display: none;
              form {
                width: 300px;
                margin: 0 auto;
              }
            }
            #invite_form {
              display: none;
              position: relative;
              margin: 5px auto;
              .lock {
                float: left;
                width: 22px;
                height: 37px;
                position: relative;
                margin: 4px 20px 0 0;
                .bolt {        
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  height: 18px;
                  width: 23px;
                  background: #333;
                }
                .shackle {
                  @include transition("top 0.25s");
                  position: absolute;
                  top: 5px;
                  height: 19px;
                  width: 19px;
                  background: transparent url(/images/assets/general/shackle18x19.png) no-repeat center center;
                  left: 2px;
                }
              }
              .input_container, li {
                width: 250px;
                @include transition("width 0.5s");
              }
              input {
                font-family: monospace;
                @include transition("width 0.5s");
                text-transform: uppercase;
                width: 230px;
                float: left;
              }
              a.unlock {
                @include transition("right 0.5s");
                position: absolute;
                width: 77px;
                line-height: 28px;
                height: 28px;
                top: 10px;
                right: 85px;
                color: #fff !important;
                &:active, &.active {
                  color: #f7f7f7 !important;
                }
              }
              &.unlockable {
                .unlock {
                  right: 60px;
                }
                .input_container, li {
                  width: 150px;
                }
                input {
                  width: 130px;
                }
              }
              &.unlocking {
                .shackle {
                  top: 0px;
                }
              }
            }
            #email_form {
              display: none;
              input {
                width: 200px;
              }
              li {
                width: 220px;
              }
              text-align: left;
              button {
                position: relative;
                z-index: 100;
                margin: 9px 0;
              }
            }
            h2 {
              font-size: 21px;
            }
            .action {
              margin: 10px auto 0;
              text-align: center;
            }
            form {
              width: 350px;
              margin: 5px auto 0;
            }
            .memberswitch {
              text-align: center;
              margin: 10px auto 0;
              width: 300px;
              a {
                text-decoration: none;
                color: #808080 !important;
              }
            }
          }
        }
      }
    }
    .map {
      left: 100%;
      .content {
        position: relative;
        margin: 0 auto;
        height: 500px;
        width: 800px;
        background-image: url(/images/assets/maps/usa645x415.png);
        .cantfind {
          position: absolute;
          bottom: 20px;
          right: 20px;
          color: #aaa;
          a {
            color: #aaa;
            &:hover {
              color: #f7f7f7;
            }
          }
        }
        .city {
          position: absolute;
          height: 25px;
          padding: 0 20px;
          @include border_radius(5px);
          font-size: 18px;
          line-height: 25px;
          display: block;
          background: #AAA;
          text-decoration: none;
          color: #ededed;
          text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
          &.active {
            background: #eeb96d;
            color: #fff;
          }
          &:hover {
            background: #ff8419;
          }
        }
        #sf {
          top: 200px;
          left: 40px;
        }
        #la {
          top: 270px;
          left: 60px;
        }
        #nyc {
          top: 175px;
          right: 45px;
        }
        #chicago {
          top: 185px;
          right: 255px;
        }
        #nola {
          bottom: 120px;
          right: 230px;
        }
      }
    }
  }
  
  #spotlogo {
    z-index: 10;
    position: absolute;
    top: 30px;
    left: 40px;
    height: 90px;
    background: transparent url(/images/logos/spotwhite120x90.png) no-repeat left center;
    width: 120px;
  }
  
  #slidetitle {
    position: absolute;
    z-index: 10;
    left: 40px;
    right: 40px;
    height: 20px;
    bottom: 100px;
    color: #fff;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.75) 0px 2px 0px;
    background: transparent no-repeat left center;
  }
  #slidedeck {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: none;
    .slide {
      overflow: hidden;
      top: 0px;
      left: 0px;
      z-index: 10;
      position: absolute;
      display: none;
      opacity: 1;
      .image {
        position: absolute;
        z-index: 1;
        img {
          outline: none;
          border: none;
          -ms-interpolation-mode: bicubic;
        }
      }
    }
  }
}

.csstransitions #site_home_index {
  #slidetitle {
    bottom: 10px;
    @include transition('bottom 1s');
    &.visible {
      bottom: 100px;            
    }
  }
  #slidedeck {
    .slide {
      opacity: 0;
      @include transition('opacity 2s');
      display: block;
      &.current {
        opacity: 1;
      }
    }
  }
  #toplayer {
    .scene {
      @include transition('left 2s');      
    }
    &.scene2 {
      .intro {
        left: -100%;
      }
      .map {
        left: 0%;
      }
    }
  }
}
