#site_home_index {
  padding: 0;
  #bd {
    overflow:hidden;
  }
  #bg {
    bottom: 70px;
  }
  footer {
    display: block;
    min-width: 920px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
    border-top: 1px solid #333;
    text-shadow: rgba(0,0,0,0.5) 0 2px 0;
    background: #000 repeat top center;
    &.loading {
      display: none;
    }
    nav.icons {
      float: left;
      margin: 14px 0 0 20px;
      width: 457px;
      a {
        display: block;
        float: left;
        margin: 0 20px;
        text-align: center;
      }
    }
    nav.regular {
      float: right;
      padding: 0;
      margin: 24px 40px 0 0;
      width: 252px;
      a {
        color: #f7f7f7;
        text-decoration: none;
        display: block;
        float: right;
        margin-left: 11px;
        font-size: 16px;
        &:hover {
          color: #fff;
        }
      }
    }
  } 
  #toplayer {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    min-height: 525px;
    .scene {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      .content {
        padding: 10px;
        @include border_radius(5px);
        background: rgba(0,0,0, 1.0) no-repeat center center;
        h1 {
          text-shadow: rgba(0,0,0,0.75) 0px 1px 0px;
          text-align: center;
          color: #fff;
          margin: 0 auto;
          font-size: 20px;
        }
      }
    }
    .intro {
      left: 0;
      .content {
        position: absolute;
        top: 15%;
        right: 10%;
        width: 275px;
        padding: 10px 20px;
        text-shadow: #000 0px 1px;
        h1 {
          text-align: left;
        }
        p {
          font-size: 18px;
          line-height: 25px;
          color: #aaa;
          margin: 15px auto;
          strong {
            color: #ff8419;
            font-weight: bold;
          }
          em {
            color: #f7f7f7;
            font-style: normal;
            font-weight: bold;
          }
        }
        a.enter {
          display: block;
          text-decoration: none;
          color: #e5e5e5;
          height: 26px;
          line-height: 25px;
          font-size: 20px;
          text-align: left;
          float: left;
          padding-right: 20px;
          background: transparent url(/images/icons/fwdarrowwht14x21.png) no-repeat right center;
          &:hover {
            background-image: url(/images/icons/fwdarrow14x21.png);
            color: #ff8419;
          }
        }
      }
    }
    .map {
      left: 100%;
      .content {
        position: relative;
        margin: 0 auto;
        height: 500px;
        width: 800px;
        background-image: url(/images/assets/maps/usa645x415.png);
        .cantfind {
          position: absolute;
          bottom: 20px;
          right: 20px;
          color: #aaa;
          a {
            color: #aaa;
            &:hover {
              color: #f7f7f7;
            }
          }
        }
        .city {
          position: absolute;
          height: 25px;
          padding: 0 20px;
          @include border_radius(5px);
          font-size: 18px;
          line-height: 25px;
          display: block;
          background: #AAA;
          text-decoration: none;
          color: #ededed;
          text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
          &.active {
            background: #eeb96d;
            color: #fff;
          }
          &:hover {
            background: #ff8419;
          }
        }
        #sf {
          top: 200px;
          left: 40px;
        }
        #la {
          top: 270px;
          left: 60px;
        }
        #nyc {
          top: 175px;
          right: 45px;
        }
        #chicago {
          top: 185px;
          right: 255px;
        }
        #nola {
          bottom: 120px;
          right: 230px;
        }
        #ismay {
          top: 115px;
          left: 285px;
        }
      }
    }
    .loading {
      left: 200%;
      .content {
        margin: 0 auto;
        height: 200px;
        width: 200px;
        background-image: url(/images/assets/loading/3dgears64x47.gif);
      }
    }
  }
  
  #spotlogo {
    z-index: 10;
    position: absolute;
    top: 30px;
    left: 40px;
    height: 90px;
    background: transparent url(/images/logos/spotwhite120x90.png) no-repeat left center;
    width: 120px;
  }
  
  #slidetitle {
    position: absolute;
    z-index: 10;
    left: 40px;
    right: 40px;
    height: 20px;
    bottom: 100px;
    color: #fff;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.75) 0px 2px 0px;
    background: transparent no-repeat left center;
  }
  #slidedeck {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: none;
    .slide {
      overflow: hidden;
      top: 0px;
      left: 0px;
      z-index: 10;
      position: absolute;
      display: none;
      opacity: 1;
      .image {
        position: absolute;
        z-index: 1;
        img {
          outline: none;
          border: none;
          -ms-interpolation-mode: bicubic;
        }
      }
    }
  }
}

.csstransitions #site_home_index {
  #slidetitle {
    bottom: 10px;
    @include transition('bottom 1s');
    &.visible {
      bottom: 100px;            
    }
  }
  #slidedeck {
    .slide {
      opacity: 0;
      @include transition('opacity 2s');
      display: block;
      &.current {
        opacity: 1;
      }
    }
  }
  #toplayer {
    .scene {
      @include transition('left 2s');      
    }
    &.scene2 {
      .intro {
        left: -100%;
      }
      .map {
        left: 0%;
      }
      .loading {
        left: 100%;
      }
    }
    &.scene3 {
      .intro {
        left: -200%;
      }
      .map {
        left: -100%;
      }
      .loading {
        left: 0;
      }
    }
  }
}
