.site {
  background: #000;
  #flashes {
    z-index:1000;
  }
  #bg {
    background: #000000 url(/images/backgrounds/paisley_dark_centerfade.jpg) no-repeat fixed center center;
    #bgfade {
      z-index: 5;
      position: absolute;
      bottom: 0;
      left: 0px;
      right: 0px;
      top: 0px;
      background: transparent url(/images/backgrounds/fadeout1x227.png) repeat-x left bottom;
    }
  }
  #bd {
    padding-bottom: 150px;
  }
  footer {
    display: none;
  }
}
html {
  .oreo {
    #bg {
      @include opacity(0.5);
    }
    #invite_popover {
      padding: 20px;
      height: 85px;
      width: 300px;
      input {
        width: 200px;
      }
      .member_invite {
        margin: 0;
        padding: 0;
        width: 300px;
      }
    }
    .member_invite {
      width: 315px;
      h2 { 
        margin: 0 0 10px 0;
      }
      .sharing {
        margin: 10px 0 0 0;
      }
      input.text {
        width: 200px;
        font-size: 12px;
      }
    }
    .titlebar {
      line-height: 41px;
    }
    .cookie {
      color: #000;
      width: 895px;
      font-size: 14px;
      margin: 0 auto;
      padding-top: 20px;    
    }
    header {
      padding: 5px;
      height: 30px;
      background: #000;
      nav {
        margin-right: 10px;
        line-height: 30px;
        color: #f7f7f7;        
        a {
          color: #f7f7f7;        
          padding: 0 5px;
          text-decoration: none;
          font-size: 15px;
          &:hover {
            color: #ff8419;
          }
        }
      }
    }
    hr {
      margin: 20px 0;
      @extend hr.light;
    }
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 18px;
    }
    h1.tf, h2.tf {
      text-shadow: #fff 0px 1px 0px;
    }
    p {
      margin: 1em 0;
    }
    em {
      font-style: normal;
      color: #ff8419;
      font-weight: bold;
    }
    strong {
      font-weight: bold;
    }
    .overlay {
      text-align: left;
      padding: 15px 20px;
      border: 1px solid #ff8419;
      z-index: 100;
      margin: 5px 0 10px;
      background: #f7f7f7;
      position: relative;
      overflow: hidden;
      &.member {
        padding: 0;
        background: transparent;
        border: none;
        .quote {
          position: relative;
          padding: 5px 20px;
          overflow: hidden;
          .bg {
            background: #000;
            @include fullscreen();
            @include opacity(0.3);
          }
          .content {
            position: relative;
            z-index: 2;
            padding: 10px;
            .text {
              font-size: 18px;
              margin: 0 70px;
              color: #fff;
              text-shadow: none;
            }
            .byline {
              font-size: 12px;
              color: #fff;
              float: right;
              position: static;
              margin-right: 55px;
              margin-top: 5px;
            }
          }
        }
        .welcome {
          border-top: 1px solid #808080;
          padding: 10px;
          text-align: right;
          color: #fff;
          font-size: 18px;
          position: relative;
          h3 {
            color: #fff;
          }
          .content {
            position: relative;
            z-index: 2;
          }
          .bg {
            background: #000;
            @include fullscreen();
            @include opacity(0.6);
          }
        }
      }
      .lquo {
        position: absolute;
        top: -25px;
        left: -25px;
        width: 70px;
        height: 62px;
        background: transparent url(/images/assets/general/quotes70x129.png) no-repeat 0 0;
      }
      .rquo {
        position: absolute;
        bottom: -25px;
        right: -25px;
        width: 70px;
        height: 62px;
        background: transparent url(/images/assets/general/quotes70x129.png) no-repeat 0 -65px;
      }
      h1.membership {
        padding-left: 45px;
        background: transparent url(/images/icons/diamondgry33x26.png) no-repeat left center;
      }
      .column {
        width: 380px;
        font-size: 14px;
        span.tf {
          font-size: 18px;
        }
      }
      h1.huge {
        font-size: 35px;
      }
      .title {
        height: 41px;
        line-height: 41px;
      }
      .readmore {
        font-weight: normal;
        font-weight: normal;
        font-size: 12px;
        a {
          text-decoration: none;
          color: #999;
          &:hover {
            color: #ff8419;
          }
        }
      }
      .request_received {
        clear: both;
        margin-top: 5px;
        padding-top: 10px;
        border-top: 1px solid #ddd;
        h1 {
          font-size: 22px;
        }
        .readmore {
          position: absolute;
          right: 25px;
          bottom: 15px;
        }
      }
      .actions {
        width: 300px;
        height: 41px;
        position: relative;
        margin: 15px auto 0;
        .readmore {
          padding: 25px 0 0 0;
          width: 75px;
          position: absolute;
          right: -100px;
        }
        .pricing {
          font-weight: normal;
          position: absolute;
          left: -120px;
          width: 80px;
          color: #999;
          font-size: 12px;
          text-align: right;
          padding: 5px 10px;
          strong {
            display: block;
          }
        }
      }
    }
    .filling {
      @include box_shadow(rgba(0,0,0,0.75) 0px 1px 5px);
      .toptitle {
        padding: 10px 30px 15px;
        @include rgbabg(255,255,255,0.75, 'backgrounds/threefourwht1x1.png');
        color: #333;
        line-height: 22px;
        h1 {
          text-shadow: none;
          font-size: 18px;
        }
        a {
          color: #333;
          &:hover {
            color: #ff8419;
          }
        }
      }
      .main {
        position: relative;
        background: #f0f0f0;
        padding: 30px;
        margin: -5px 0 5px;
      }    
    }
    .footer {
      color: #f7f7f7;
      text-align: center;
      margin: 0 auto 0;
      text-shadow: #000 0px 0px 5px;
      a {
        color: #f7f7f7;
        &:hover {
          color: #ff8419;
        }
      }
      .logo {
        position: relative;
        top: 13px;
      }
    }
  } 
}
