body, html, #page {
  width: 100%;
  height: 100%;
  font-size: 11px;
}
body, html, input, textarea, button {
  font-family: 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
}
#popup_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
h1 {
  font-weight: bold;
  font-size: 25px;
}
h2 {
  font-weight: bold;
  font-size: 20px;
}
a.dark, a.dark:visited {
  color: #ccc;
  cursor: pointer;
  &:hover, &.hover, &:active, &.active {
    color: #fff;
  }
  &.shadowed {
    text-decoration: none;
    text-shadow: rgba(0,0,0,0.5) 0 2px 0;
  }
}
body {
  background: #000000;
  padding: 0 0 125px 0;
}
#bg {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000000 url(/images/backgrounds/paisley_dark_centerfade.jpg) no-repeat fixed center center;
}
#bd {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 125px;
}
#page {
  position: absolute;
  color: #ccc;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
}
#ft {
  min-width: 920px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 125px;
  z-index: 100;
  text-shadow: rgba(0,0,0,0.5) 0 2px 0;
  background: #333 url(/images/backgrounds/linen_topshadow.jpg) repeat top center;
  &.loading {
    display: none;
  }
  #logo {
    float: left;
    margin: 10px 0 0 30px;
    width: 200px;
  }
  #availability {
    min-width: 243px;
    position: relative;
    width: 243px;
    height: 60px;
    margin: 35px auto;
    .images {
      width: 243px;
      margin: 0 auto;
      .left {
        float: left;
      } .right {
        float: right;
      }
    }
  }
  #iconlinks {
    margin: 35px auto 0 auto;
    width: 376px;
  }
  #signup_form {
    margin: 35px auto 0 auto;
    width: 280px;
    .title {
      text-align: center;
      font-size: 1.4em;
    }
    form {
      margin: 1em 0;
      position: relative;
      input.faded {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        padding: 4px 8px;
        width: 250px;
        margin: 0;
      }
      button {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 10;
      }
    }
  }
  #nav {
    float: right;
    padding: 0;
    margin: 50px 40px 0 0;
    width: 252px;
    p {
      padding: 0 0 5px 0;
    }
    .account {
      clear: both;
      float: none;
      text-align: right;
      font-size: 12px;
      a {
        cursor: pointer;
        display: inline;
        float: none;
        font-size: 12px;
        margin-left: 7px;
        padding: 0;
        text-decoration: none;
      }
    }
    a {
      text-decoration: none;
      display: block;
      float: right;
      margin-left: 11px;
      font-size: 16px;
    }
  }
}
.ie7 {
  #ft {
    #signup_form {
      form {
        button {
          top: 1px;
        }
      }
    }
  }
}