.site {
  background: #000;
  a.dark, a.dark:visited {
    color: #ccc;
    cursor: pointer;
    &:hover, &.hover, &:active, &.active {
      color: #fff;
    }
    &.shadowed {
      text-decoration: none;
      text-shadow: rgba(0,0,0,0.5) 0 2px 0;
    }
  }
  #bg {
    background: #000000 url(/images/backgrounds/paisley_dark_centerfade.jpg) no-repeat fixed center center;
    #bgfade {
      z-index: 5;
      position: absolute;
      bottom: 70px;
      left: 0px;
      right: 0px;
      top: 0px;
      background: transparent url(/images/backgrounds/fadeout1x227.png) repeat-x left bottom;
    }
  }
  #bd {
    padding-bottom: 150px;
  }
  footer {
    min-width: 920px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
    border-top: 1px solid #333;
    text-shadow: rgba(0,0,0,0.5) 0 2px 0;
    background: #000 repeat top center;
    &.loading {
      display: none;
    }
    nav.icons {
      float: left;
      margin: 14px 0 0 20px;
      width: 457px;
      a {
        display: block;
        float: left;
        margin: 0 20px;
        text-align: center;
      }
    }
    nav.regular {
      float: right;
      padding: 0;
      margin: 24px 40px 0 0;
      width: 252px;
      a {
        color: #f0f0f0;
        text-decoration: none;
        display: block;
        float: right;
        margin-left: 11px;
        font-size: 16px;
        &:hover {
          color: #fff;
        }
      }
    }
  } 
}
.oreo {
  color: #333;
  width: 895px;
  font-size: 14px;
  margin: 0 auto;
  padding-top: 20px;
  .overlay {
    height: 41px;
    line-height: 42px;
    text-align: left;
    padding: 10px 30px;
    border: 1px solid #ff8419;
    @include border_radius(5px);
    z-index: 100;
    margin: 5px 0 10px;
    background: #fff;
    h1 {
      font-size: 23px;
    }
    .title {      
      height: 41px;
      line-height: 41px;
    }
  }
  .filling {
    @include box_shadow(rgba(0,0,0,0.75) 0px 1px 5px);
    .toptitle { 
      padding: 10px 20px 15px;
      background: rgba(230,230,230, 0.75);
      color: #333;
      @include top_border_radius(5px);
      line-height: 22px;
      h1 {
        font-size: 18px;
      }
      a {
        color: #333;
        &:hover {
          color: #ff8419;
        }
      }
      .accountlnk {
        padding-left: 23px;
        background: transparent url("/images/icons/persongry15x14.png") no-repeat left center;
      }
      .account {
        cursor: pointer;
        font-size: 12px;
        color: #666;
        line-height: 15px;
        &:hover {
          color: #333;
        }
      }
    }
    .main {
      position: relative;
      background: #fff;
      background: #f0f0f0;
      @include border_radius(5px);
      padding: 30px;
      margin: -5px 0 5px;
      hr {
        @extend hr.light;
      }
      h1 {
        font-size: 23px;
      }
      h2 {
        font-size: 18px;
      }
      h1.tf, h2.tf {
        text-shadow: #fff 0px 1px 0px;
      }
      em {
        font-style: normal;
        color: #ff8419;
      }
      strong {
        font-weight: bold;
      }
    }    
  }
  .footer {
    color: #f0f0f0;
    text-align: center;
    margin: 0 auto 0;
    text-shadow: #000 0px 0px 5px;
    a {
      color: #f0f0f0;
      &:hover {
        color: #ff8419;
      }
    }
    .logo {
      position: relative;
      top: 13px;
    }
  }
}
