.site_membership_applications {
  font-size: 14px;
  .hd {
    margin-bottom: 15px;
  }
  .bucket {
    float: none;
    padding: 0;
    .text {
      width: 390px
    }
    .button {
      margin: 20px auto;
    }
    .image {
      position: relative;
    }
    ul.appbenefits {
      line-height: 20px;
      margin: 10px 0;
      float: left;
      list-style: inside disc;
    }
    a.getspot {
      float: right;
      margin: 15px 0;
    }
  }
  .gossip {
    .speechbubble {
      top: 13px;
      left: 10px;
    }
  }
  .sharing {
    input.text {
      width: 280px;
    }
  }
  .alchemist {
    .speechbubble {
      top: 150px;
      left: 185px;
    }
  }
}

#site_membership_applications_new {
  .main {
    width: 895px;
    padding: 0;
  }
  h1.empty {
    text-align: center;
    margin: 0 0 10px 0;
  }
  .applydialog {
    width: 835px;
  }
}

#site_memberships_thanks {
  .bucket {
    float: none;
    padding: 0;
    .text {
      width: 390px
    }
    .button {
      margin: 20px auto;
    }
    .image {
      position: relative;
      &.columbus {
        .speechbubble {
          top: 13px;
          left: 132px;
        }
      }
      &.worthy {
        .speechbubble {
          top: 90px;
          left: 185px;
          line-height: 40px;
        }
      }
    }
    .invites {
      float: right;
      color: #999;
      font-size: 14px;
      line-height: 22px;
      font-weight: normal;
    }
  }
  #invite_popover {
    .sharing {
      input.text {
        width: 200px;
      }
    }
  }
  .sharing {
    input.text {
      width: 280px;
    }
  }
  p {
    margin: 10px 0;
  }
}
.site_memberships {
  .seals {
    line-height: 31px;
    text-align: center;
    .seal {
      text-decoration: none;
    }    
  }
  .promo_congrats {
    background: #efe;
    padding: 10px 20px;
    color: #393;
    margin: 20px 0;
    border: 1px solid #393;
    line-height: 32px;
    .applying {
      display: none;
    }
    &.loading {
      .apply {
        display: none;
      }
      .applying {
        display: block;
      }
    }
  }
  .launchpricing {
    top: 10px;
    right: -25px;
    z-index: 100;
  }
  .errors {
    color: #993333;
    background: #EDD;
    padding: 10px;
    text-align: left;
    width: 510px;
    margin: 0 auto 20px;
    border: 1px solid #933;
    ul {
      list-style: outside disc;
      margin: 10px 20px;
      li {
        padding: 5px 0;
      }
    }
  }
  .titles {
    text-align: left;
    h1 {
      margin-bottom: 15px;
    }
  }
  .creditcard {
    margin: 0 auto;
  }
  ul.form {
    li.buttons {
      clear: both;
      text-align: center;
      margin: 0 auto;
      padding: 20px 0;
    }
    &.appliedpromocode {
      #promocodefields {
        height: 0;
        margin: 0;
        padding: 0;
      }
    }
    &.promocodepayment {
      form.new_membership {
        height: 0;
      }
    }
    form.new_membership {
      position: relative;
      &.loading {
        .spinner {
          display: block;
        }
      }
      .spinner {
        @include fullscreen();
        z-index: 10000;
        display: none;
        background: #fff url(/images/assets/loading/blkgears30x40.gif) no-repeat center center;
        background-color: rgba(240,240,240,0.75);
      }
    }
  }
  .paymentoptions {
    float: left;
  }
  .explanations {
    width: 580px;
    margin: 20px auto 0;
    .explanation {
      float: left;
      width: 268px;
      margin-right: 14px;
      &.guarantee {
        float: right;
        margin-right: 0;
      }
      .content {
        p {
          font-size: 14px;
          line-height: 1.2em;
        }
      }
    }
  }
  .promocode {
    padding: 10px 0 0;
    form {
      width: 300px;
      margin: 20px auto 0;
    }
  }
  .promodescribe {
    width: 344px;
    padding: 10px;
    border: 1px solid #393;
    background: #efe;
    position: relative;
    .close {
      top: 5px;
      right: 5px;
      position: absolute;
      cursor: pointer;
      @include bgbutton('bnwcloserlt15x45', 15px, 15px);
    }
    &.aspayment {
      text-align: center;
      margin: 0 auto;
    }
    .name {
      height: auto;
      margin: 0 0 5px 0;
      width: auto;
      color: #393;
      font-weight: bold;
    }
  }
  #promocodefields {
    padding: 15px 0 15px 5px;
    li {
      width: 360px;     
      margin: 0 auto;
    }
    label {
      float: left;
    }
    .input_container {
      float: right;
    }
    input, .input {
      width: 200px;
    }
  }
  .ccfields {
    float: right;
    h2 {
      padding-left: 15px;
    }
    &.invalid {
      h2 {
        color: #cc3333;
      }
    }
  }
}
  