.site_membership_applications {
  font-size: 14px;
  .appstatus {
    margin: 20px 0;
    .statusstring {
      font-weight: bold;
    }
    .pending_review {
      color: #EEAD0E;
    }
    .approved {
      color: #556B2F;
    }
  }
  .hd {
    margin-bottom: 15px;
  }
  .bucket {
    width: 394px;
  }
  .gossip {
    .speechbubble {
      top: 13px;
      left: 10px;
    }
  }
  .alchemist {
    .speechbubble {
      top: 150px;
      left: 185px;
    }
  }
}

#site_memberships_new {
  .main {
    text-align: center;
  }
}
#site_memberships_thanks {
  .bucket {
    width: 394px;
    float: left;
    padding: 0 10px;
    .image {
      &.columbus {
        .speechbubble {
          top: 13px;
          left: 132px;
        }
      }
      &.worthy {
        .speechbubble {
          top: 90px;
          left: 185px;
          line-height: 40px;
        }
      }
    }
    &.first {
      padding-left: 0;
      border-left: 0;
      width: 404px;
    }
    &.last {
      width: 404px;
      padding-right: 0;
      border-right: 0;
    }
  }
  .sharing {
    input.text {
      width: 245px;
    }
  }
  p {
    margin: 10px 0;
  }
}
.site_memberships {
  .errors {
    color: #993333;
    background: #EDD;
    padding: 10px;
    text-align: left;
    width: 510px;
    margin: 0 auto 20px;
    border: 1px solid #933;
    ul {
      list-style: outside disc;
      margin: 10px 20px;
      li {
        padding: 5px 0;
      }
    }
  }
  .titles {
    h1 {
      margin-bottom: 15px;
    }
  }
  .creditcard {
    margin: 0 auto;
  }
  ul.form {
    li.buttons {
      text-align: center;
      margin: 15px auto 0;
    }    
  }
  .explanations {
    width: 580px;
    margin: 20px auto 0;
    .explanation {
      float: left;
      width: 268px;
      margin-right: 14px;
      &.guarantee {
        float: right;
        margin-right: 0;
      }
      .content {
        p {
          font-size: 14px;
          line-height: 1.2em;
        }
      }
    }
  }
  .promocode {
    margin: 0 auto 10px;
  }
  .ccfields {
    margin: 20px 0 0;
  }
  #promocodefields {
    &, li {
      width: 280px;      
    }
    margin: 0 auto;
    .label {
      width: 80px;
    }
    input, .input {
      width: 170px;
    }
  }
  .paymentoptions {
    width: 470px;
    margin: 20px auto 10px;
    &.selected {
      .paymentoption {
        opacity: 0.5;
      }
    }
    .paymentoption {
      @include box_shadow(rgba(0,0,0,0.5) 0px 1px 5px);
      width: 200px;
      height: 220px;
      border: 1px solid #999;
      @include border_radius(5px);
      position: relative;
      cursor: pointer;
      .button {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        a {
          margin: 0 auto;
        }        
      }
      .description {
        padding: 10px;
      }
      .points {
        text-align: center;
        clear: both;
        margin: 0;
        font-size: 14px;
      }
      &.monthly {
        .mval {
          width: 30px;
          padding-right: 25px;
        }
      }
      &.annually {
        margin-right: 0px;
        .mval {
          width: 42px;
        }
      }
      &:hover, &.hover {
        @include box_shadow("none");
        opacity: 1.0;
        background: #fff;
        a {
          background-position: 0px -33px;          
        }
      }
      &:active, &.active {
        @include box_shadow(rgba(0,0,0,0.5) 0px 1px 5px inset);
        background: #fff;
        opacity: 1.0;
        .title {
          @include box_shadow(rgba(0,0,0,0.5) 0px 1px 5px inset);
        }
        a {
          background-position: 0px -66px;          
        }
      }
      .title {
        font-size: 20px;
        padding: 2px 0 4px;
        background: #999;
        color: #f0f0f0;
        font-weight: bold;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
        text-align: center;
      }
      .mval {
        margin: 0 auto;
        font-size: 35px;
        position: relative;
        padding: 0 16px 0 10px;
        text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
        .period {
          position: absolute;
          bottom: 7px;
          right: 0;
          font-size: 14px;
        }
        .currency {
          position: absolute;
          top: 5px;
          @include transform("rotate(7deg)");
          left: 0;
          font-size: 18px;
        }
      }
    }
  }
}
  