.site_places {
  background: #fff;
  #bg {
    background: transparent url(/images/backgrounds/paisley_light.jpg) no-repeat fixed center center;    
  }
  #ft {
    background: transparent;
    position: static;
    width: 320px;
    min-width: 320px;
    margin: 0 auto;
    #itunes_store_link {
      margin: 20px auto;
      width: 116px;
    }
    .share {
      position: relative;
      z-index: 1000;
      width : 150px;
      margin: 10px auto;
      .fb {
        width: 93px;
        height: 25px;
        float: left;
      }
      .twitter {
        float: right;
      }
    }
  }
  #message {
    text-shadow: #000 0 1px 0;
    background: #333 url(/images/backgrounds/linen_bottomshadow.jpg) repeat bottom center;
    overflow: hidden;
    position: relative;
    z-index: 100;
    padding: 15px 0 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    a {
      color: #fff;
      &:hover {
        color: #ccc;
      }
    }
  }
  #page {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    #hd {
      #card_header {
        width: 320px;
        margin: 0 auto;
        height: 82px;
        padding: 7px 0px 0;
        margin: 0 auto;        
        #logo {
          float: left;
          padding: 0 0 0 0;
        }
      }
    }
    #bd {
      text-align: center;
      margin: 0 auto;
      position: static;
      top: 105px;
      width: 320px;
    }
    .place {
      @include box_shadow("0px 0px 6px rgba(0,0,0,0.35)");
      text-align: left;
      position: relative;
      width: 320px;
      background: #f0f0f0;
      border: 1px solid #b3b3b3;
      @include border_radius(5px);
      overflow: hidden;
      color: #000;
      .border {
        z-index: 100;
        position: absolute;
        top: -18px;
        left: -18px;
        width: 357px;
        height: 476px;
      }
      .image {
        border: 0px solid transparent;
        overflow: hidden;
        @include top_border_radius(4px);
      }
      .content {
        padding: 5px 16px;
        .contact {
          position: relative; 
          .name {
            font-size: 20px;
          }
          .address {
            margin: 10px 0 0 0;
            width: 175px;
            h2 {
              font-size: 14px;
              font-weight: normal;
            }        
          }
          .phone {
            position: absolute;
            bottom: 0px;
            right: 0px;
            font-size: 14px;
          }
        }
        .buttons_container {
          margin: 20px auto 20px auto;
          text-align: center;
          width: 288px;
          position: relative;
          z-index: 200;
          a {
            cursor: pointer;
            margin: 10px 0 0 0;
          }
        }
      }
      .wishlists {
        margin: 10px 0 0 0;
        padding: 0 0 0 18px;
        height: 18px;
        line-height: 21px;
        font-size: 14px;
        color: #999;
        background: transparent url("/images/assets/general/star.png") no-repeat left center;
      }
    }
    .meta {
      text-align: center;
      margin: 20px 0 0 0;
    }
  }
}