.site_previews {  
  #share {
    width: 400px;
    margin: 0 auto;
    @include black_radial_gradient(300);
    text-align: center;
    color: #fff;
    #joke {
      margin: 1em 0 2em;
      cursor: pointer;
    }
    em {
      font-size: 10px;
      color: #666;
    }
    .title {
      font-size: 13px;
    }
    .share_links {
      margin: 3em 0 0;
      .social_links {
        width: 150px;
        margin: 1em auto;
        line-height: 1em;
      }
      .twitter {
        float: right;
      }
      .fb {
        float: left;
      }
      .direct {
        font-size: 12px;
        margin: 5px 0;
      }
    }
  }
}
.ie7, .ie8 {
  .site_previews {
    #share {
      padding: 25px;
    }
  }
}
