#site_home_index {
  padding: 0;
  #toplayer {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    min-height: 525px;
    .scene {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      @include transition('left 2s');      
      .content {
        @include border_radius(5px);
        padding: 10px;
        background: rgba(0,0,0, 0.7) no-repeat center center;
        h1 {
          @include cgothic;
          text-shadow: rgba(0,0,0,0.75) 0px 1px 0px;
          text-align: center;
          margin: 0 auto;
          font-size: 20px;
        }
      }
    }
    .intro {
      left: 0;
      .content {
        position: absolute;
        top: 15%;
        right: 10%;
        width: 275px;
        padding: 10px 20px;
        h1 {
          text-align: left;
        }
        p {
          font-size: 18px;
          line-height: 25px;
          color: #aaa;
          margin: 15px auto;
          strong {
            color: #ff8419;
            font-weight: bold;
          }
          em {
            color: #f0f0f0;
            font-style: normal;
            font-weight: bold;
          }
        }
        a.enter {
          display: block;
          text-decoration: none;
          color: #e5e5e5;
          height: 26px;
          line-height: 25px;
          font-size: 20px;
          text-align: left;
          float: left;
          /* width: 65px; FOR ENTER*/
          padding-right: 20px;
          background: transparent url(/images/icons/fwdarrowwht14x21.png) no-repeat right center;
          @include cgothic;
          &:hover {
            background-image: url(/images/icons/fwdarrow14x21.png);
            color: #ff8419;
          }
        }
      }
    }
    .map {
      left: 100%;
      .content {
        position: relative;
        margin: 0 auto;
        height: 500px;
        width: 800px;
        background-image: url(/images/assets/maps/usa645x415.png);
        .city {
          position: absolute;
          height: 25px;
          padding: 0 20px;
          @include border_radius(5px);
          font-size: 18px;
          line-height: 25px;
          display: block;
          background: #999;
          color: #fff;
          @include cgothic;
          text-shadow: rgba(0,0,0,0.75) 0px 1px 0px;
          text-decoration: none;
          &:hover {
            background: #ff8419;
          }
        }
        #sf {
          top: 200px;
          left: 40px;
        }
      }
    }
    .loading {
      left: 200%;
      .content {
        margin: 0 auto;
        height: 200px;
        width: 200px;
        background-image: url(/images/assets/loading/3dgears64x47.gif);
      }
    }
    &.scene2 {
      .intro {
        left: -100%;
      }
      .map {
        left: 0%;
      }
      .loading {
        left: 100%;
      }
    }
    &.scene3 {
      .intro {
        left: -200%;
      }
      .map {
        left: -100%;
      }
      .loading {
        left: 0;
      }
    }
  }
  #spotlogo {
    z-index: 10;
    position: absolute;
    top: 30px;
    left: 40px;
    height: 90px;
    background: transparent url(/images/logos/spotwhite120x90.png) no-repeat left center;
    width: 120px;
  }
  #slideshow {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    #slidetitle {
      position: absolute;
      z-index: 10;
      left: 40px;
      right: 40px;
      bottom: -60px;
      height: 20px;
      @include transition('bottom 1s');
      @include cgothic;
      font-size: 20px;
      text-shadow: rgba(0,0,0,0.75) 0px 2px 0px;
      background: transparent no-repeat left center;
      &.visible {
        bottom: 30px;            
      }
    }
    #fadeout {
      z-index: 5;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      top: 0px;
      background: transparent url(/images/backgrounds/fadeout1x227.png) repeat-x left bottom;
    }
    #viewport {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      .slide {
        overflow: hidden;
        top: 0px;
        left: 0px;
        z-index: 10;
        position: absolute;
        opacity: 0;
        @include transition('opacity 2s');
        &.current {
          opacity: 1;
        }
        .image {
          position: absolute;
          z-index: 1;
          img {
            outline: none;
            border: none;
            -ms-interpolation-mode: bicubic;
          }
        }
      }
    }
    &.jsanimated {
      #slidetitle {
        @include transition("none");
        bottom: 40px;
      }
      #viewport {
        .slide {
          display: none;
          @include transition("none");
          opacity: 1;
        }
      }
    }
  }
}