#site_home_index {
  padding: 0;
  #slideshow {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    #viewport {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    #nextslide, #lastslide {
      position: absolute;
      top: 0px;
      bottom: 0px;      
      width: 100px;
      cursor: pointer;
      @include opacity(0.25);
      z-index: 1000;
      background-color: transparent; 
      background-repeat: no-repeat; 
      background-position: center center;
      &:hover, &.hover {
        @include opacity(0.25);
        background-color: #fff;
      }
    }
    #nextslide {
      right: 0px;
      background-image: url(/images/assets/slideshow/nextslide.png);
    }
    #lastslide {
      left: 0px;
      background-image: url(/images/assets/slideshow/lastslide.png);
    }
    #slidenav {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      height: 17px;
      text-align: center;
      z-index: 1000;
      ul {
        margin: 0 auto;
        width: 0px;
        .slidenav {
          outline: none;
          border: none;
          text-decoration: none;
          float: left;
          height: 17px;
          width: 30px;
          display: block;
          background: transparent url(/images/assets/slideshow/unselected_slide.png) no-repeat center center;
          cursor: pointer;
          &.selected {
            background: transparent url(/images/assets/slideshow/selected_slide.png) no-repeat center center;
          }
        }
      }
    }
    #slidereel {
      top: 0px;
      left: 0px;
      overflow: visible;
      position: absolute;
      .slide {
        overflow: hidden;
        top: 0px;
        left: 0px;
        position: absolute;
        z-index: 10;
        &.current {
          z-index: 100;
        }
        img {
          position: absolute;
          outline: none;
          border: none;
          -ms-interpolation-mode: bicubic;
        }
      }
    }
  }
}
.ie7 {
  #site_home_index {
    #slideshow {
      #slidenav {
        margin: 0 auto;
        width: 96px;
      }
    }
  }
}