.site_support {
  #about {
    margin: 0 auto;
    @include black_radial_gradient(300);
    width: 500px;
    font-size: 15px;
    text-align: center;
    text-shadow: #000 0px 1px 0px;
    p {
      margin: 1em auto;
    }
    .divider {
      border-top : 1px solid #333;
      height: 0;
      border-bottom : 1px solid #222;
      margin: 1.5em 5em 0em;
    }
    .signature {
      width: 300px;
    }
  }
}
.ie7, .ie8 {
  .site_support {
    #about {
      padding: 50px 30px;
    }
  }
}