.site_support {
  #about {
    margin: 0 auto;
    @include black_radial_gradient(300);
    width: 500px;
    font-size: 15px;
    text-align: center;
    text-shadow: #000 0px 1px 0px;
    p {
      margin: 1em auto;
    }
    .signature {
      width: 300px;
    }
    .divider {
      border-top : 1px solid #333;
      height: 0;
      border-bottom : 1px solid #222;
      margin: 1.5em 5em 0em;
    }
  }
  #press {
    color: #666;
    width: 700px;
    margin: 0 auto;
    padding: 0 0 175px 0;
    #logo {
      height: 135px;
    }
    #content {
      padding: 25px 30px;
      @include border_radius(20px);
      background: #fff;
      #logos {
        .preview {
          float: left;
          height: 122px;
        }
        .download {
          float: left;
          padding: 50px 0 0 15px;
          font-size: 1.2em;
        }
      }
      #screenshots {
        .screenshot {
          width: 150px;
          height: 225px;
          float: left;
          margin: 10px 13px 0 0;
          &.loading {
            background: transparent url('/images/assets/loading/orange-3block-16x11.gif') no-repeat center center;            
          }
          &.last {
            margin-right: 0;
          }
        }
      }
      #preview {
        margin: 1em 0;
        #phone {
          float: left;
          &.loading {
            display: none;
          }
          .content {
            position: relative;
            background: #333;
            overflow: hidden;
          }
          .screen {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            &.active {
              z-index: 5;
              display: block;
            }
            &.pending {
              z-index: 1;
              display: block;            
            }
          }          
        }
        .description {
          margin-left: 274px;
          padding: 200px 0;
          text-align: center;
          font-size: 1.5em;
        }
      }
      p {
        font-size: 1.2em;
        margin: 1em 0;
      }
      .divider {
        border-top : 1px solid #ddd;
        height: 0;
        border-bottom : 1px solid #ededed;
        margin: 1.5em 0em;
      }
    }
  }
}
.ie7, .ie8 {
  .site_support {
    #about {
      padding: 50px 30px;
    }
  }
}