.about_membership
  .clearfix
    -if mobile_request?
      .describe.tf
        ="For just $#{Subscription.monthly.price} a month, our members get access to special perks at top restaurants all over town."
        -if ! current_member?
          =button_to "become a member", new_application_path, :class => 'btnmembership tf button'
    
    .reasons
      %h1.tf 5 Reasons to Join Spot Today

      %ul
        %li 
          %h2.tf Get In Before Its Gone :
          ="Spot Membership is limited to just 10,000 members per city."
        %li 
          %h2.tf We Keep It Fresh :
          ="Enjoy new events and experiences every month at the best spots in town."
        %li 
          %h2.tf Members-Only Pricing :
          ="Exclusive prices mean Spot Membership quickly pays for itself."
        %li 
          %h2.tf Experiences, Not Deals :
          ="Get treated like a VIP, not a coupon clipper."
        %li 
          %h2.tf The Spot Guarantee :
          ="Not happy? Get your money back, no questions asked."
  
    .pricing
      %h1.tf Spot Pricing
      .paymentoptions
        -Subscription::PLANS.keys.each_with_index do |name, i|
          -plan = Subscription::PLANS[name]
          .launchpricing
          %a.paymentoption{:class => "#{name} #{first_or_last(Subscription::PLANS.keys, i)}", :href => new_application_path(:plan => name)}
            .mval.tf 
              %span.currency $
              =plan.price
              .period="/#{plan.period_name}"
              
            .benefits
              -if plan.period == "annually"
                .benefit Annual Membership
                .benefit Save 40%
              -else
                .benefit Renews Monthly
                .benefit Cancel Anytime
        .explain
          Join now and your membership fees will never increase.
  -if ! current_member?
    =button_to "become a member", new_application_path, :class => 'btnmembership tf button'