-referrer ||= nil        

-if referrer && (@city.nil? || @city.subscriptions_available?)

  %h1.tf
    =referrer.voucher
    has vouched for you.
    Welcome to 
    ="#{image_tag "logos/spotblk225x180.png", :size => "55x44"}.".html_safe

-elsif partial_application[:email] && @city.nil? || @city.subscriptions_available?
  %h1.tf
    Finish Your Application...

.about
  .text.tf
    To ensure an unforgettable experience, membership is limited to 10,000 restaurant devotees per city.

=spot_form_for :application, :url => application_path, :display => "light inlinelabels#{conditionally(" unlockable", referrer)}#{conditionally(" applying", partial_application[:email] || (@city && !@city.subscriptions_available?))}", :ul_id => "appformcontainer", :html => {:id => "applicationform"} do |f|
  =f.hidden_field :invitation_code, :value => referrer.try(:code)
  #invitecodesection.invitecode.step
    -if @invalid
      %h1.tf.empty Sorry, there are no more invitations left on that code
    .lock
      .shackle
      .bolt
    %li.question.tf=f.label :lock, "Spot Membership is currently available by invitation only"
    .inputs
      =f.li_wrap "lock", "tet_field" do
        =text_field_tag :lock, referrer.try(:code), :placeholder => "invitation code", :formnovalidate => true, :class => "text code", :autocomplete => "off", :id => "application_lock"
        
      =link_to "Unlock", "#", :class => "btnorgpill unlock"
    .vouched
    
    =link_to "No invitation? Request access.", "#", :class => "wanttoapply switchmode"
  .application.step
    -if @city && !@city.subscriptions_available?
      %h2.tf.capacity We're at capacity. Apply to be notified when space opens up.
    .col.descriptions.right 
      =render :partial => "/site/shared/explanations/pricing", :locals => {:cssclass => "first"}
      =render :partial => "/site/shared/explanations/five_reasons", :locals => {:cssclass => "last"}

    .col.form.left
      =f.fields_for :user_attributes do |uf|
        =uf.name_fields :required => true, :label => "name : ", :value => current_user.try(:names)
        -if logged_in?
          =uf.email_field :email, :placeholder => "email address", :required => true, :label => "email : ", :value => current_user.try(:email)
        -else
          =uf.email_field :email, :placeholder => "email address", :required => true, :label => "email : ", "data-validate-url" => availability_email_path, "data-invalid-msg" => "looks like you've already registered", :value => partial_application[:email]
          =uf.password_field 'password', :placeholder => "password", :label => "password : "
      =f.city_select 'city_id', current_user.try(:city_id) || @city.try(:id), :html => { :required => true }
        
      %li.buttons.clearfix
        =button_tag :class => "btnorg300x41 tf" do
          submit
    =link_to "Have an invitation?", "#", :class => "haveaninvite switchmode"