-referrer ||= nil        

-if referrer
  %h1.tf
    =referrer.user.first_name.titlecase
    applied to 
    ="#{image_tag "logos/spotblk225x180.png", :size => "55x44"}.".html_safe
    Shouldn't you?

.about
  .text 
    In order to provide an unforgettable experience, membership is limited to 
    %strong
      10,000 individuals
    per city. 
    Become a
    %em
      founding member 
    of Spot's community of restaurant devotees.

.col.descriptions.right 
  =render :partial => "/site/shared/explanations/pricing", :locals => {:cssclass => "first"}
  =render :partial => "/site/shared/explanations/guarantee", :locals => {:cssclass => "last"}

.col.form.left
  =spot_form_for :application, :url => application_path, :display => "light inlinelabels" do |f|
    =f.fields_for :user_attributes do |uf|
      =uf.name_fields :required => true, :label => "name : ", :value => current_user.try(:names)
      -if logged_in?
        =uf.email_field :email, :placeholder => "email address", :required => true, :label => "email : ", :value => current_user.email
      -else
        =uf.email_field :email, :placeholder => "email address", :required => true, :label => "email : ", "data-validate-url" => availability_email_path, "data-invalid-msg" => "looks like you've already registered"    
        =uf.password_field 'password', :placeholder => "password", :label => "password : "
    -if (city ||= false)
      =f.hidden_field :city_id, @city.try(:id)
    -else
      =f.select 'city_id', City.subscriptions_available.all.collect { |c| [c.name_and_region, c.id] }, {:validity => false, :prompt => "select your city", :selected => current_user.try(:city_id) || @city.try(:id), :label => "city : "}, :required => true, :class => "chzn-select", :title => "Select your city"
    %hr
    .survey
      =f.fields_for :survey do |sf|
        %li.question
          =f.label :referred_by, "Do you know any Spot Members?"
          -unless referrer
            .right.note
              =link_to "referral code?", "#referral_code", :class => "reveals"
        =sf.text_field :referred_by, :placeholder => "Spot Member friends", :value => referrer.try(:user).try(:name).try(:titlecase)
        #referral_code{:class => conditionally("hidden", referrer.nil?)}
          %li.question=f.label :referral_code, "Were you given a referral code?"
          =f.text_field :referral_code, :placeholder => "referral code", :value => referrer.try(:code)
        %li.question=f.label :favrestaurant, "What is a restaurant you enjoy?"
        =sf.text_field :favrestaurant, :placeholder => "give us a sense of your taste", :required => true
        %li.question=f.label :diningfreq, "How often do you dine out each month?"
        =sf.text_field :diningfreq, :placeholder => "do you really love restaurants?", :required => true
        
    %li.buttons.clearfix
      =button_tag :class => "btnorg300x41 tf" do
        apply now
      
