-describe = defined?(describe) ? describe : false
-title ||= "Get access to all these unforgettable experiences"
.overlay.clearfix{:class => conditionally("member", current_member?)}
  -if current_member?
    - quote = Quote.random
    .quote
      .bg
      .content
        .lquo
        .rquo
        .tf.text=quote.text
        .tf.byline="- #{quote.byline}"
    .welcome
      .bg
      .content
        %h3.tf="Welcome back #{current_user.first_name}"
  -else  
    -if describe
      .content.clearfix
        %h1.tagline.tf 
          For just 
          ="$#{MONTHLY_PRICE} a month,"
          Spot Members get access to 
          special perks 
          at top restaurants 
          all over town.
          
      -if invite_request && !invite_request.invite_sent?
        .clear.request_received
          %h1.tf.center
            We've received your request. Your invitation should arrive shortly.
          .readmore
            =link_to "Read more&hellip;".html_safe, membership_about_path, :class => "btnmemabout"
      -else
        .clear.actions
          =button_to "try it free", new_application_path, :class => "becomemember btnmembership tf centered"
          .readmore
            =link_to "Read more&hellip;".html_safe, membership_about_path, :class => "btnmemabout"
    -else
      .title.clearfix
        %h1.tf.membership
          =title
        =button_to "join now", new_application_path, :class => "inlinebtn btnmembership tf right"
