-describe = defined?(describe) ? describe : false
-title ||= "Get access to all these unforgettable experiences"
-unless current_member?
  .overlay.clearfix
    -if session_invite
      %h1.tf.vouched="#{session_invite.voucher} has vouched for you. We're happy to have you."
    
    -if current_user.try(:membership_application)
      .title.clearfix
        -if current_user.membership_application.approved?
          %h1.tf.left.membership
            Congratulations! Your application has been approved.
          =link_to "complete", new_membership_path, :class => "btnorg170x41 tf right"
        -else
          %h1.tf.left.membership
            We've received your application and are reviewing it
          =link_to "check status", application_path, :class => "btnorg170x41 tf right"           
    -else
      -if describe
        .content.clearfix
          .left.column
            %h1.tf
              Membership.
            %p 
              Spot is a members-only club, limited to 10,000 tastemakers. To connect with our influential members, 
              restaurants offer VIP status and access to special experiences.
          
          .right.column
            %h1.tf
              Experiences.
            %p 
              Chef’s tables, secret menus, kitchen tours, special wine pairings, private tastings, free corkage, and more…available only to Spot members.
        .clear.btn
          =button_tag :class => "btnorg300x41 btnmembership tf centered" do
            become a member
      -else
        .title.clearfix
          %h1.tf.left.membership
            =title
          =button_tag :class => "btnorg170x41 btnmembership tf right" do
            join
