%p
  We're moving as fast as we can, but we're not quite ready to make it to
  ="#{@city_name}."
  
%p
  We do appreciate your patience! As soon as we arrive, we'd like to offer you your first 3 months free. That's
  ="$#{3 * Subscription.monthly.price}."
  
%p
  Just use this code when you sign up. It'll be our little secret.
  =table_tag do
    %tr
      %td{:height => 20}
    %tr
      =table_cell(:style => "font-family:monospace;font-size:25px;text-align:center;padding:10px;border:2px dashed #ddd;") do
        =@promo_code
    %tr
      %td{:height => 20}
%p
  Feels good, doesn't it?  
    
=render :partial => "shared/mailers/signature"
