Consider this your official invitation to join Spot, 
="a private membership club for #{@city.name.titlecase} diners."

This is your chance to join a select group of discerning tastemakers in your city. 
="Claim your invitation using the code #{@invite.code} or by following link below :"

=@invite_url

=render :partial => "shared/mailers/signature"
