%p Hello,

-if @signup.interest == "business"
  %p Thank you for your interest! We're hard at work building something revolutionary to help out business owners like you.

  %p We'll let you know as soon as it's ready.

  =render :partial => "shared/mailers/signature"
