%p 
  ="Congratulations, you are now entered to win a #{mlink_to @sweepstake.short_summary, sweepstake_url(@sweepstake)} at #{mlink_to @sweepstake.place_name, place_url(@sweepstake.place)}!".html_safe
  
%p
  We'll be announcing the winners shortly, but in the meantime,
  we'd also like to extend to you an official invitation to join Spot, 
  ="a private membership club for #{@city.name.titlecase} diners."

%p
  This is your chance to join a select group of discerning tastemakers in your city. 
  Claim your invitation using the code 
  =mlink_to @invite.code, @invite_url
  or by clicking the invitation below.
%table{:width => "367", :style => "margin: 0 auto;"}
  %tr
    %td{:width => "367"}=link_to image_tag(attachments["invitation.png"].url, :size => "367x345", :alt => ""), @invite_url
    
=render :partial => "shared/mailers/signature"
