.settings
  %li.checkbox.setting
    =form.label :send_deal_emails, "Receive Weekly Deal Emails?"
    =form.check_box :send_deal_emails, :class => 'setting_check'
  %li.checkbox.setting.last
    =form.label :unsubscribe_all, "Never Hear From Us Again?"
    =form.check_box :unsubscribe_all, 'data-master-control' => '.setting_check'
