-if current_user.member?
  -membership = current_user.active_membership
  %h2.mymembership.tf My Spot Membership
  %ul.membership
    -payment = membership.payment_method
    %li.subtitle.clearfix
      .label
        =membership.city.slug.upcase
        Member since :
      .value
        =membership.starts_at.strftime("%B %d, %Y")
    -if payment.respond_to?(:first_billing_date) && payment.first_billing_date
      %li.clearfix
        .label First bill date : 
        .value=payment.first_billing_date.strftime("%B %d, %Y")
    -if payment.respond_to?(:next_billing_date) && payment.next_billing_date
      %li.clearfix
        .label Next bill date : 
        .value=payment.next_billing_date.strftime("%B %d, %Y")
    -if payment.respond_to?(:next_bill_amount) && payment.next_bill_amount
      %li.clearfix
        .label Next bill amount : 
        .value=number_to_currency(payment.next_bill_amount)
    -if payment.respond_to?(:cancelled_at) && payment.cancelled_at
      %li.clearfix
        .label Cancelled on :
        .value=payment.cancelled_at.strftime("%B %d, %Y")
    -if membership.expires_at
      %li.clearfix
        .label Expires on :
        .value
          =membership.expires_at.strftime("%B %d, %Y")
          -if membership.expired?
            =link_to "renew", new_membership_path
    %li
      .label Payment Method :
      -@card ||= payment.credit_card if payment.respond_to?(:credit_card)
      -if @card
        .value.cc.clear
          =spot_form_for :credit_card, :url => Braintree::TransparentRedirect.url, :display => "light cc #{conditionally("editing", !@card.valid?)}" do |f|
            -trdata = Braintree::TransparentRedirect.update_credit_card_data(:redirect_url => endpoint_account_url, :payment_method_token => @card.token)
            =hidden_field_tag :tr_data, ERB::Util.html_escape(trdata)
        
            =render :partial => "/shared/payments/creditcard", :locals => {:form => f, :creditcard => @card}
            %li.button
              =button_tag :class => "ccsave tf" do
                save changes
        -elsif payment.kind_of?(PromoCode) && payment.name.present?
          .value=payment.name
    -if payment.respond_to?(:cancelled?) && !payment.cancelled?
      %li.cancel=link_to "Cancel Membership", membership_path, "data-method" => "DELETE", "data-confirm" => "Are you sure you want to cancel your Spot Membership?"
      
