-set_page_title "Create your Account"
-set_spot_app_title "Register"

=content_for :toptitle do
  Create your Spot Account
  
=render :partial => "/site/shared/authenticate", :locals => {:mode => :register}