-set_page_title "Your Account"
-set_spot_app_title "Account"

=content_for :toptitle do
  =current_user.nickname

.relative.clearfix
  .lcol
    %h2.aboutme.tf.top About Me
    =spot_form_for current_user, :as => :account, :url => account_path, :display => "light inlinelabels insetvalidity clearfix" do |f|
      =f.name_fields :label => "name : ", :value => current_user.names, :required => true
      =f.email_field :email, :placeholder => "email", :label => "email : ", :required => true
      =f.city_select 'city_id', current_user.city_id, :prepend_values => [["Other", ""]], :required => true
      %li.button
        =button_tag :class => "btngrypill300x30 right" do
          Save Changes
    -if password = current_user.password_account
      %h2.changepassword.tf Change Password
      =spot_form_for password, :as => :password_account, :url => account_path, :display => "light inlinelabels insetvalidity clearfix" do |f|
        =f.password_field :current_password, :placeholder => "current password", :label => "current : ", :required => true, :hint => "for security's sake", :minlength => 4, :maxlength => 25
        =f.password_field :password, :placeholder => "new password", :label => "new : ", :required => true, :hint => "4 to 25 characters please", :minlength => 4, :maxlength => 25
        %li.button
          =button_tag :class => "btngrypill300x30 right" do
            Change Password
  .separator
  .rcol
    =render :partial => "events"
    =render :partial => "membership"

-if mobile_request?
  =link_to "Logout", logout_path, :class => "logout"
    