.seals
  %a.seal.braintree{:href => "https://www.braintreegateway.com/merchants/6399g85btzv33vsq/verified", :target => "_blank"}
    %img{:src => "https://braintree-badges.s3.amazonaws.com/12.png", :border => "0"}
  %span.seal.godaddy{:id => "siteseal"}
    %script{:type => "text/javascript", :src => "https://seal.godaddy.com/getSeal?sealID=FGmzAUxury3XWFvKZkrnhfdw2COyMYjkMpFfst7VdykpmJiH29rQ"}
