=spot_form_for :template, :url => biz_business_templates_path(@business), :display => "light hidden inlinelabels lowhints", :ul_id => "newdealtpl", :html => {'data-validate' => true, :class => "newtplform"} do |f|
  .details
    =f.text_field :name, :placeholder => "promotion name", :hint => "give your promotion a name to easily remember it by.", :required => true
    =f.text_field :deal_count, :class => "short", :required => true, :min => 0, :max => 1000, :label => "customers per day :"
    %li.text.select.labelled
      .label=label_tag 'template[discount_percentage]', 'discount percent :'
      .input
        =select :template, :discount_percentage, DealTemplate.discounts, {:prompt => "--"}, {:required => true}
    %li.text.select.labelled
      .label=label_tag 'template[start_time]', 'time of day :'
      .input
        =select_hour nil, {:field_name => "start_time", :prefix => 'template', :twelve_hour => true, :offset => 6, :prompt => "--"}, {:required => true}
        \-
        =select_hour nil, {:field_name => "end_time", :prefix => 'template', :twelve_hour => true, :offset => 7, :prompt => "--"}, {:required => true}
    =f.text_field :average_spend, :class => "abbrev", :required => true, :min => 0, :max => 1000, :label => "avg. spend per person :", :hint => "help us value this promotion. how much do your customers usually spend?"
  %hr
  %li.description_title
    =label_tag 'template[description]', "Describe Your Promotion"
    .hint tell our members why they should want this. be colorful! no restrictions or limitations please
  =f.text_area :description, :placeholder => "promotion description"
  =button_tag :class => "bottom btngrypill" do
    Save Promotion
