=content_for :bgimage do
  .stretcher{'data-gravity' => "1.0x1.0"}
    =image_tag "stretcher/cities/sf3.jpg", :size => "2292x1524"

=content_for :toptitle do
  Become a Founding Spot Member
  
.titles
  -if @payment.errors[:base].present?
    .errors
      %h2.tf There were errors with your submission : 
      %ul
        -@payment.errors[:base].each do |error|
          %li=error
        
  %h1.tf
    Access all the Spot Experiences, anytime, anywhere.

-if @promo_code  
  .promo_congrats
    %h2.tf 
      Congratulations! You've received
      -if @promo_code.acts_as_payment?
        a gift of free Spot Membership.
      -else
        a free Spot Membership trial period.
      
      =link_to "Apply!", '#', :class => 'apply', :id => "apply_code_btn", 'data-value' => @promo_code.code
      =link_to "Applying...", '#', :class => 'applying', 'data-value' => @promo_code.code
-else
  .promo_congrats.default
    %h2.tf 
      Congratulations - You've unlocked 
      %strong one free month 
      of Spot Membership! Grab it now, before it's gone!      

=spot_form_for @payment, :as => :customer, :url => Braintree::TransparentRedirect.url, :display => "cc light clearfix inlinelabels", :html => {:autocomplete => "off", :class => "new_membership"} do |f|
  .spinner
  =hidden_field_tag :tr_data, ERB::Util.html_escape(@payment.tr_data(:redirect_url => endpoint_membership_url))
  .paymentoptions.selectable.clearfix
    %h2.tf 1. Select membership type
    .launchpricing
    =f.fields_for :custom_fields do |cf|
      =cf.hidden_field :subscription_plan_id, :value => ""
    -Subscription::PLANS.keys.each_with_index do |name, i|
      -plan = Subscription::PLANS[name]
      .paymentoption{"data-value" => plan.plan_id, :class => "#{name} #{conditionally("active", @payment.plan == name)} #{first_or_last(Subscription::PLANS.keys, i)}"}
        .mval.tf 
          %span.currency $
          =plan.launch_cost
          .period="/#{plan.period_name}"
        .benefits
          -if plan.period == "annually"
            .benefit Annual Membership
            .benefit Save 40%
          -else
            .benefit Renews Monthly
            .benefit Cancel Anytime
        .checkbox.tf
          .btntxt select
          .box
          .check              
    .explain
      Join now and your membership fees will never increase.

    #promocodefields.note
      =f.fields_for :custom_fields do |cf|
        =cf.text_field :promo_code, :placeholder => "promo code", :formnovalidate => true, :label => "Apply Promo Code : ", :class => "code"
  
  .ccfields
    %h2.tf 2. Enter your credit card information
    =f.fields_for :credit_card do |ccf|
      =render :partial => "/shared/payments/creditcard", :locals => {:form => ccf, :creditcard => @payment.credit_card}
    .seals
      %a.seal.braintree{:href => "https://www.braintreegateway.com/merchants/6399g85btzv33vsq/verified", :target => "_blank"}
        %img{:src => "https://braintree-badges.s3.amazonaws.com/12.png", :border => "0"}
      %span.seal.godaddy{:id => "siteseal"}
        %script{:type => "text/javascript", :src => "https://seal.godaddy.com/getSeal?sealID=FGmzAUxury3XWFvKZkrnhfdw2COyMYjkMpFfst7VdykpmJiH29rQ"}
  
  %li.buttons.finish
    =button_tag :class => "finish tf" do
      finish & pay
        
        
.explanations.clearfix      
  =render :partial => "/site/shared/explanations/howitworks"
  =render :partial => "/site/shared/explanations/guarantee"
  
%script{:type => "text/x-jquery-tmpl", :id => "promodescribe"}
  .promocode
    %div{:class => "promodescribe {{if acts_as_payment}}aspayment{{/if}}"}
      .close
      .name ${name}
      .description 
        ${description}
    {{if acts_as_payment}}
    =form_for :membership, :url => membership_path do |f|
      =f.hidden_field :payment_method_type, :value => "PromoCode"
      =f.hidden_field :payment_method_id, :value => "${id}"
      =button_tag :class => "center tf" do 
        you're  in
    {{/if}}
