=content_for :bgimage do
  .stretcher{'data-gravity' => "1.0x1.0"}
    =image_tag "stretcher/cities/sf3.jpg", :size => "2292x1524"

=content_for :toptitle do
  Become a Member
  
.titles
  -if @payment.errors[:base].present?
    .errors
      %h2.tf There were errors with your submission : 
      %ul
        -@payment.errors[:base].each do |error|
          %li=error
        
  %h1.tf
    Congratulations. Your application has been accepted.
  
  %h1.tf
    Just one last question...how will you be paying?

=spot_form_for @payment, :as => :customer, :url => Braintree::TransparentRedirect.url, :display => "cc light clearfix inlinelabels", :html => {:autocomplete => "off"} do |f|
  =hidden_field_tag :tr_data, ERB::Util.html_escape(@payment.tr_data(:redirect_url => endpoint_membership_url))
  =f.fields_for :custom_fields do |cf|
    =cf.hidden_field :subscription_plan_id, :value => ""
  .paymentoptions.clearfix
    -Subscription::PLANS.each do |name, plan|
      .paymentoption{"data-value" => plan.plan_id, :class => "#{name} #{conditionally("active", @payment.plan == name)}"}
        .title.tf=name
        .description
          .mval.tf 
            %span.currency $
            =plan.cost
            .period="/#{plan.abbrev_period}"
          %ul.points
            %li Full member benefits
            %li="Payment recurs #{plan.period}"
            %li 
              -if plan.period == "monthly"
                Unsubscribe at any time
              -else
                %strong
                  Save over 40%
        .button
          %a{:class => "btnorg77x32 tf", :href => "#"}
            Select
                
  / .promocode.note
  /   =link_to "Apply a Promo Code?", "#promocodefields", :class => "reveals"
  / #promocodefields.hidden
  /   =f.text_field :promo_code, :placeholder => "promo code"

  .ccfields.hidden
    %h1.tf Imagine a credit card...
    =f.fields_for :credit_card do |ccf|
      =render :partial => "/shared/payments/creditcard", :locals => {:form => ccf, :creditcard => @payment.credit_card}
    %li.buttons
      =button_tag :class => "btnorg300x41 tf" do
        finish & pay
        
        
.explanations.clearfix
  =render :partial => "/site/shared/explanations/howitworks"
  =render :partial => "/site/shared/explanations/guarantee"