=content_for :toptitle do
  Welcome to Spot


=content_for :bgimage do
  .stretcher{'data-gravity' => "1.0x1.0"}
    =image_tag "stretcher/cities/sf4.jpg", :size => "2292x1524"

%h1.tf Pleased to Meet You
%hr
%h1.tf So what now?
.buckets.clearfix
  .bucket.first
    -city = current_user.active_membership.city
    %h2.tf Explore your membership...
    .image.columbus
      =image_tag "paintings/columbus400x300.png", :size => "400x300"
      .speechbubble.tf
        We've arrived! 
        Now, what you got to eat in this town?
    %p
      Now that you're subscribed, you have full access to all of the Spot member benefits. 
      =link_to "Register for some", city_path(city)
      of our experiences to start enjoying your membership.
    %p
      Take a look at the 
      =link_to "Spot Experiences", city_path(city) 
      currently available in 
      =link_to city.name.titlecase, city_path(city)
      to start planning your next adventure.
  .bucket.last
    %h2.tf Invite the worthy...
    .image.worthy
      =image_tag "paintings/louisxiv400x300.png", :size => "400x300"
      .speechbubble.down.tf
        My mommy says I'm special.
    %p Spot memberships are limited to only 10,000 per city so make sure your friends get in before it's too late!
    %p Send your friends the following URL and we'll immediately accept their application :
    -url = referred_application_url(current_user.membership_application.token)
    =sharing(url, "Just applied to become a Spot member, I think it's worth checking out.", :link => true)