-set_page_title "Welcome"
-set_spot_app_title "Welcome"

-city = current_user.active_membership.city

=content_for :toptitle do
  Welcome to Spot


=content_for :bgimage do
  .stretcher{'data-gravity' => "1.0x1.0"}
    =image_tag "stretcher/cities/sf4.jpg"

-if mobile_request?
  %h1.tf Congratulations and Welcome to Spot.
  -if in_mobile_app?
    =button_to "Browse Perks", to_mobile_app_path, :params => {:dest => "/experiences?city_id=#{city.id}"}, :class => 'tf btnbrowse'
  -else
    =button_to "Browse Perks", city_path(city), :class => 'tf btnbrowse'
    
  .image.columbus
    =img_with_mobile "paintings/columbus.png", :size => "400x300", :msize => "300x225"
    .speechbubble.tf
      We've arrived!
      Now, what you got to eat in this town?
-else
  .titlebar.clearfix
    %h1.left.tf Start enjoying your membership
    .right
      =button_to "Browse Perks", city_path(city), :class => 'tf btnbrowse'
  %hr
  .bucket.first.clearfix
    .image.gossip.left
      =image_tag "paintings/gossip400x300.png", :size => "400x300"
      .speechbubble
        I just became a Spot member. Anyone up for a Cosmo?
    .text.right
      =render :partial => "shared/membership/referrals", :locals => {:size => "large"}
  %hr
  .bucket.last.clearfix
    .image.columbus.right
      =img_with_mobile "paintings/columbus.png", :size => "400x300", :msize => "300x225"
      .speechbubble.tf
        We've arrived!
        Now, what you got to eat in this town?
    .text.left
      %h2.tf Explore your membership...
      %p
        ="Now that you've subscribed, you have full access to all of the Spot Member Perks. Browse the #{city.name.titlecase} member calendar to start enjoying your membership."
      =button_to "#{city.name.titlecase} Calendar", city_path(city), :class => "tf btnorg280x32 button"
