.manager
  .message
  .top.clearfix
    .pagination
      -if @promotions.next_page
        .next=link_to "Next &rarr;".html_safe, admin_promotions_path(:page => @promotions.next_page, :filter => params[:filter])
      -if @promotions.previous_page
        .previous=link_to "&larr; Previous".html_safe, admin_promotions_path(:page => @promotions.previous_page, :filter => params[:filter])
    %h1.title="#{@promotions.total_entries} Promotions"
    .links
      =link_to "Pending Approval", admin_promotions_path(:filter => 1)
      =link_to "Approved", admin_promotions_path(:filter => 2)
      =link_to "Rejected", admin_promotions_path(:filter => 4)
      =link_to "All", admin_promotions_path
  =render :partial => "table", :object => @promotions, :as => :promotions
  .pagination.bottom
    -if @promotions.next_page
      .next=link_to "Next &rarr;".html_safe, admin_promotions_path(:page => @promotions.next_page, :filter => params[:filter])
    -if @promotions.previous_page
      .previous=link_to "&larr; Previous".html_safe, admin_promotions_path(:page => @promotions.previous_page, :filter => params[:filter])
