=paragraph_tag do 
  And we really mean that. We've capped Spot Membership at just 10,000 people per city so that all our members can get access to the perks they deserve.

=paragraph_tag do 
  The truth is, great things like Spot can't don't remain a secret for long. Don't you think you should 
  =mlink_to "get in", @portal_url
  before word gets out?

=paragraph_tag do 
  =mlink_to "Join Spot today", @portal_url
  and secure your place in San Francisco's first and only local perks club.
