=paragraph_tag do 
  ="Pay once and then you're done. If you value convenience, you'll love Spot's easy subscription based service. Join at the membership level that's right for you ($10 a month or $80 a year - a savings of 40%) and get unlimited access to all the amazing experiences we offer in San Francisco."

=paragraph_tag do 
  It's couldn't be simpler. Become a member today and start enjoying unlimited access.
