=paragraph_tag do 
  Looking for an easy way to remember all the great restaurants you've been meaning to try? Meet 
  ="#{mlink_to "Spot for iPhone", getspot_url}.".html_safe
  Our elegantly simple app lets you create a restaurant wishlist and take it with you, everywhere you go. 
  You'll never be stranded without a restaurant recommendation again.

=paragraph_tag do 
  Available as a 
  ="#{mlink_to "free download", getspot_url},".html_safe
  our app work great anywhere in the world, for Spot members and non-members alike. However, Spot members in San Francisco enjoy the extra benefit of being able to access and redeem Spot Experiences right from their phone.

=paragraph_tag do 
  =mlink_to "Get the Spot App for iPhone", getspot_url
  
