=paragraph_tag do
  You're a tough cookie. It looks you're still holding out on giving Spot membership a try. We've got just one more reason to share with you and then we'll dial back the emails. 

=paragraph_tag do
  Did you know that Spot membership quickly pays for itself? Use your membership just once this month and you've got it covered. Use it often and you'll benefit from not only a wealth of new experiences but also a nice chunk of change in savings. 

=paragraph_tag do
  Ready to give it a shot? We're willing to sweeten the deal. 

=paragraph_tag do
  Join Spot today using invite code
  =mlink_to "INVITE3FREE", @portal_url
  and we'll give you a free 3 month membership to get started.