=paragraph_tag do
  At Spot, we strive to provide our members with incredible perks they can use every day. To do this, we partner with only the best local businesses to create a unique program of perks that, quite simply, cannot be accessed anywhere else. 

=paragraph_tag do
  Choose from 
  ="#{bold "free cocktails"},".html_safe
  ="#{bold "half price food"},".html_safe
  ="#{bold "complimentary corkage"},".html_safe
  or even
  ="#{bold "special shopping events in your neighborhood"}.".html_safe
  
=paragraph_tag do
  =mlink_to "Join Spot", @portal_url
  and start enjoying our exclusive local perks today.