=paragraph_tag do
  At Spot, we strive to provide our members with unforgettable dining experiences. To do this, we partner with top restaurants to create a unique program that, quite simply, cannot be accessed anywhere else. 

=paragraph_tag do
  Choose from 
  ="#{bold "exclusive tasting events"},".html_safe
  ="#{bold "secret chef's tables"},".html_safe
  ="#{bold "complimentary corkage"},".html_safe
  or even a unique opportunity to
  ="#{bold "participate in the local wine harvest"}.".html_safe
  
=paragraph_tag do
  =mlink_to "Join Spot", @portal_url
  and make this weekend truly unforgettable.