=paragraph_tag do 
  We've all got our local favorites, the places we come back to over and over again. Here at Spot, we believe in

=paragraph_tag do 
  Spot let's businesses pay you back the love you give them all the time. Beyond discounts, Spot enables your local favorites to design the best experience to thank you for your continued support.