=paragraph_tag do
  At Spot, we strive to provide our members with unforgettable dining experiences. To do this, we partner with top restaurants to create a unique program that, quite simply, cannot be accessed anywhere else. 

=paragraph_tag do
  This month, our members can choose from 
  ="#{mlink_to "exclusive tasting events", @portal_url},".html_safe
  ="#{mlink_to "secret chef's tables", @portal_url},".html_safe
  ="#{mlink_to "complimentary corkage", @portal_url},".html_safe
  or even a unique opportunity to
  ="#{mlink_to "participate in the local wine harvest", @portal_url}.".html_safe
  
=paragraph_tag do
  =mlink_to "Join Spot", @portal_url
  and make this weekend truly unforgettable.