=paragraph_tag do
  Stuck in a restaurant rut? It's time to fall in love with San Francisco dining all over again. 
  Spot membership 

  Stuck in a restaurant rut? It's time to fall in love with San Francisco dining all over again. 
  =mlink_to "Spot Membership", @portal_url
  helps you to rediscover the city that's right under your nose. Whether you're looking for the perfect spot to celebrate a special evening or a simply a new weeknight haunt, Spot can help you break free from restaurant boredom and get excited again about eating out.
  
=paragraph_tag do
  Ready to discover your new favorite spot? 
  ="#{mlink_to "Become a member today", @portal_url}.".html_safe

