=paragraph_tag do 
  Life is better when you're in the know. Knowing people gets you perks like better seating, meeting the chef, and special menus. Knowing people gets you special treatment.

=paragraph_tag do 
  We know people. With decades of experience in the restaurant industry, we know who to talk to and how to get the best out of dining out. As a Spot Member, you'll experience your city as though you knew the owner of every restaurant in town.
