=paragraph_tag do
  Our unique local business landscape is a definitive part of life in San Francisco. In creating Spot, we kept the needs of business owners in mind every step of the way. We envisioned and designed a membership program that bolsters the local economy whilst providing valuable benefits to our members. We're honored to work with some of San Francisco's most outstanding businesses in a true partner relationship.

=paragraph_tag(:style => "font-style:italic;") do
  “Finally – a marketing platform treating the restaurant as the customer and giving us many ways to promote our business on the days and the times we desire. We can now decide how many tables we want to promote and how we want to promote them without giving up valuable profit to the “daily deal” sites on days when we were already busy.”
  %span{:style => "font-weight:bold;font-style:normal;"} - Christiane Schmidt, Owner, Schmidt’s Restaurant

=paragraph_tag do
  ="#{mlink_to "Join Spot today", @portal_url},".html_safe
  and help us support San Francisco's most extraordinary local businesses.
