=paragraph_tag do
  Stuck in a restaurant rut? It's time to fall in love with San Francisco dining all over again. 
  =mlink_to "Spot Membership", @portal_url
  helps you to rediscover the city that's right under your nose. Whether you're looking for the perfect spot to celebrate a special evening, or a simply new weeknight haunt, Spot can help you break free from restaurant boredom and get excited about eating out.

=paragraph_tag do
  Ready to rediscover San Francisco? 
  ="#{mlink_to "Join Spot today", @portal_url}.".html_safe
