button, .button {
  outline: none;
  display: block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 0px 6px 0px; /* Links */
  width: auto;
  overflow: visible;
  @extend .no_select;
}
.button {
  padding: 0;
}
button[type]{
  padding: 5px 5px; /* Firefox */
  line-height: 17px; /* Safari */
}
.rndblk_80x26 {
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #666;
  color: #ccc;
  width: 80px;
  background: #333;
  @include gradient_top_down(#333, #000, 100%);
  @include border_radius(3px);
  text-shadow: #000 0px -1px 0px;
  .btntxt {
    text-align: center;
    line-height: 12px;
    height: 14px;   
  }
  &:hover, &.hover {
    color: #BBB;
    @include gradient_top_down(#333, #000, 50%);
  }
  &:active, &.active {
    @include gradient_top_down(#000, #333, 100%);
    color: #999;
  }
}
button.link {
  display: inline;
  border: 0;
  background: transparent;
  text-decoration: underline;
  color: #333;
  &:hover, &.hover {
   color: #ff8419; 
  }  
}

.btnorg300x41, a.btnorg300x41 {
  display: block;
  width: 300px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  text-shadow: #000 0px 1px 0px;
  border: none;
  background: transparent url(/images/buttons/org300x41.png) no-repeat 0 0;  
  &:hover, &.hover {
    color: #fff !important;
    background-position: 0px -41px;
  }
  &:active, &.active {
    color: #000 !important;
    background-position: 0px -82px;
  }
}

.btnorgpill, a.btnorgpill, button.btnorgpill {
  display: block;
  @include border_radius(5px);
  background: #FFB473;
  @include gradient_top_down(#eeb96d, #ff8419); 
  text-decoration: none;
  border: 1px solid #e48737;
  text-shadow: 0px 1px 0px #f0f0f0;
  color: #333 !important;
  text-align: center;
  text-decoration: none;
  &:hover, &.hover {
    color: #000 !important;
    background: #ff8419;
    @include gradient_top_down(#f4b368, #ff8419);
  }
  &:active, &.active {
    background: #ff8419;
    @include box_shadow(#000 0px 1px 5px inset);        
    color: #fff !important;
    text-shadow: none;
  }
}

.btngrypill, a.btngrypill, button.btngrypill {
  display: block;
  @include border_radius(5px);
  background: #f2f2f2;
  @include gradient_top_down(#f2f2f2, #A2A2A2); 
  text-decoration: none;
  border: 1px solid #808080;
  text-shadow: 0px 1px 0px #fff;
  color: #333;
  text-align: center;
  text-decoration: none;
  &:hover, &.hover {
    color: #000 !important;
    background: #ffffff;
    @include gradient_top_down(#f2f2f2, #808080);
  }
  &:active, &.active {
    background: #666666;
    -pie-background: #666666;
    @include box_shadow(#000 0px 1px 5px inset);        
    color: #fff !important;
    text-shadow: 0px -1px 0px #000;
  }
}

.btngryflat {
  display: block;
  @include border_radius(5px);
  background: #f2f2f2;
  text-decoration: none;
  border: 1px solid #808080;
  text-shadow: 0px 1px 0px #fff;
  color: #333;
  text-align: center;
  text-decoration: none;
  &:hover, &.hover {
    color: #000 !important;
    background: #ffffff;
  }
  &:active, &.active {
    background: #666666;
    -pie-background: #666666;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000;
  }
}

.btngrypill300x30 {
  @extend .btngrypill;
  width: 300px;
  height: 30px;
  line-height: 25px;
  font-size: 15px;
}
.btngrypill200x30 {
  @extend .btngrypill300x30;
  width: 200px;
}
.btngrypill400x30 {
  @extend .btngrypill300x30;
  width: 400px;
}

.btnredpill {
  display: block;
  @include border_radius(5px);
  @include gradient_top_down(#cd7777, #c84336); 
  color: #fff;
  text-shadow: 0px -1px 0px #000;
  text-decoration: none;
  border: 1px solid #993333;
  padding: 0px 10px;
  &:hover {
    color: #fff !important;
    @include gradient_top_down(#cd7777, #C72112);
  }
  &:active, &.active {
    background: #993333;
    -pie-background: #993333;
    @include box_shadow(#000 0px 1px 5px inset);        
    color: #fff !important;
    text-shadow: 0px -1px 0px #000;
  }
}

button.withx {
  position: relative;
  padding-left: 10px;
  .redx {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #c84336;
  }
  .ie7 &, .ie8 & {
    .redx {
      top: 6px;
    }
  }
}
.phone_whitegray_135x37, a.phone_whitegray_135x37 {
  display: block;
  width: 135px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: #666;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0px 1px #fff;
  background: transparent url(/images/buttons/phone_whitegray_135x37.png) no-repeat center center;
  @include gradient_top_down(#F3F3F4, #E7E8E9, 100%);
  border: 1px solid #d5d5d6;
  @include border_radius(7px);
  &:hover, &.hover {
    @include gradient_top_down(#F3F3F4, #E7E8E9, 50%);
    text-shadow: 0px 1px #fff;
  }
  &:active, &.active {
    @include gradient_top_down(#E7E8E9, #f0f0f0, 100%);
    text-shadow: 0px -1px #fff;
  }
  .ie7 &, .ie8 & {
    border: none;
  }
}
.phone_whitegray_288x37, a.phone_whitegray_288x37 {
  display: block;
  width: 288px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: #666;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0px 1px #fff;
  background: transparent url(/images/buttons/phone_whitegray_288x37.png) no-repeat center center;
  @include gradient_top_down(#F3F3F4, #E7E8E9, 100%);
  border: 1px solid #d5d5d6;
  @include border_radius(7px);
  &:hover, &.hover {
    @include gradient_top_down(#F3F3F4, #E7E8E9, 50%);
    text-shadow: 0px 1px #fff;
  }
  &:active, &.active {
    @include gradient_top_down(#E7E8E9, #f0f0f0, 100%);
    text-shadow: 0px -1px #fff;
  }
  .ie7 &, .ie8 & {
    border: none;
  }
}

.rndblk_80x30 {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #666;
  color: #ccc;
  width: 80px;
  background: #333;
  @include gradient_top_down(#333, #000, 100%);
  @include border_radius(6px);
  text-shadow: #000 0px -1px 0px;
  .btntxt {
    text-align: center;
    line-height: 15px;
    height: 30px;   
  }
  &:hover, &.hover {
    color: #BBB;
    @include gradient_top_down(#333, #000, 50%);
  }
  &:active, &.active {
    @include gradient_top_down(#000, #333, 100%);
    color: #999;
  }
}
.blackimg_77x32 {
  .btntxt {
    margin-top: -3px;
  }
  display: block;
  border: none;
  background: transparent url(/images/buttons/black_button_77x32.png) no-repeat center center;
  float: left;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  height: 32px;
  width: 77px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  line-height: 32px;
  text-shadow: #000 0px 1px 0px;
  &:hover, &.hover {
    color: #BBB;
    background: transparent url(/images/buttons/black_button_77x32_hover.png) no-repeat center center;
    text-shadow: #000 0px -1px 0px;
  }
  &:active, &.active {
    text-shadow: #000 0px -1px 0px;
    background: transparent url(/images/buttons/black_button_77x32_active.png) no-repeat center center;
  }
  &.active {
    text-shadow: #000 0px -1px 0px;
    background: transparent url(/images/buttons/black_button_77x32_active.png) no-repeat center center;
  }
}
.hlfrndblk_80x30 {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #666;
  color: #ccc;
  width: 80px;
  background: #333;
  @include gradient_top_down(#333, #000, 100%);
  @include right_border_radius(6px);
  text-shadow: #000 0px -1px 0px;
  .btntxt {
    text-align: center;
    line-height: 15px;
    height: 30px;   
  }
  &:hover, &.hover {
    color: #BBB;
    @include gradient_top_down(#333, #000, 50%);
  }
  &:active, &.active {
    @include gradient_top_down(#000, #333, 100%);
    color: #999;
  }
}
.blkrefresh_30x30 {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent url(/images/assets/general/blkrefresh_30x30.png) no-repeat center center;
}
.ie7 {
  button {
    .btntxt {
      padding: 1px 0px 0px 0px;
    }
  }  
}
.ie8 {
  button {
    .btntxt {
      padding: 2px 0px 0px 0px;
    }
  }
}