@mixin bgbutton($bg, $width, $height) {
  background: transparent url("/images/buttons/" + $bg + ".png") no-repeat 0 0;  
  line-height: $height;
  height: $height;
  width: $width;
  display: block;
  border: none;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  #{$hover} {
    background-position: 0px -1 * $height;
  }    
  #{$active} {
    background-position: 0px -2 * $height;
  }
  &[type] {
    padding: 5px 5px; /* Firefox */
    line-height: 17px; /* Safari */
  }
}
@mixin threeslicebtn($bg, $width, $height) {
  background: transparent;
  line-height: $height;
  height: $height;
  width: $width;
  display: block;
  border: 0; 
	padding: 0;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
  z-index: 1;
  .btntxt {
    position: relative;
    z-index: 2;
    line-height: $height;
  }
  .lft {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 15px;
    background: transparent url("/images/buttons/" + $bg + "caps.png") no-repeat 0 0;
  }
  .rgt {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 15px;
    background: transparent url("/images/buttons/" + $bg + "caps.png") no-repeat -15px 0;
  }
  .mid {
    position: absolute;
    right: 15px;
    left: 15px;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: transparent url("/images/buttons/" + $bg + "mid.png") repeat-x 0 0;
  }
  #{$hover} {
    .rgt {
      background-position: -15px -1 * $height - 1px;
    } 
    .mid, .lft {
      background-position: 0px -1 * $height - 1px;
    }
  }    
  #{$active} {
    .rgt {
      background-position: -15px -2 * $height - 2px;
    } 
    .mid, .lft {
      background-position: 0px -2 * $height - 2px;
    }
  }
}
@mixin orgbtntxt {
  color: #fff !important;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
  text-decoration: none;
  cursor: pointer;
  #{$hover} {
    color: #fff !important;
  }
  #{$active} {
    text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
    color: #f7f7f7 !important;
  }  
}

@mixin orgbtn($size, $height, $width) {
  @include threeslicebtn('org' + $size,  $width, $height);
  @include orgbtntxt;
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: transparent url(/images/assets/loading/whtorg3blck16x11.gif) no-repeat center center;
  }
}
@mixin orgbtn41($width) {
  @include orgbtn(41, 41px, $width);
  font-size: 25px;
  line-height: 28px;
}
@mixin orgbtn32($width) {
  @include orgbtn(32, 32px, $width);
  font-size: 18px;
  line-height: 25px;
}
@mixin orgbtn28($width) {
  @include orgbtn(28, 28px, $width);
  font-size: 16px;
  line-height: 21px;
}

@mixin blackbtn {
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
  #{$hover} {
    color: #fff !important;
  }
  #{$active} {
    color: #f7f7f7 !important;
  }
  .loading {
    width: 100%;
    height: 100%;
    background: transparent url(/images/assets/loading/whtblk3blck16x11.gif) no-repeat center center;
  }
}
.twit-share-btn {
  text-decoration: none;
  @include bgbutton('tweetiebw30x30', 30px, 30px)
}
.fb-share-button {
  text-decoration: none;
  @include bgbutton('fbfbw30x30', 30px, 30px)
}

button, .button {
  white-space: nowrap;	
  overflow: visible; /* removes extra side padding in IE */
  outline: none;
  display: block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 0px 6px 0px; /* Links */
  width: auto;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @extend .no_select;
  div {
    padding: 0;
    border: 0;
    margin: 0;
  }
  .loading {
    display: none;
  }
  &::-moz-focus-inner {
    padding: 0;
    border: none;  /* overrides extra padding in Firefox */
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari and Google Chrome only - fix margins */
  button {
    .btntxt {
      margin-top: -1px;
    }
  }
}
.button {
  padding: 0;
}
form.loading {
  button {
    .btntxt {
      display: none;
    }
    .loading {
      display: block;
    }
  }
}
.rndblk_80x26 {
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #666;
  color: #ccc;
  width: 80px;
  background: #333;
  @include gradient_top_down(#333, #000, 100%);
  @include border_radius(3px);
  text-shadow: #000 0px -1px 0px;
  .btntxt {
    text-align: center;
    line-height: 12px;
    height: 14px;   
  }
  #{$hover} {
    color: #BBB;
    @include gradient_top_down(#333, #000, 50%);
  }
  #{$active} {
    @include gradient_top_down(#000, #333, 100%);
    color: #999;
  }
}
@mixin btnlink {
  display: inline;
  border: 0;
  background: transparent;
  text-decoration: underline;
  color: #333;
  -webkit-tap-highlight-color: #ff8419;
  #{$hover} {
   color: #ff8419; 
  }
}
button.link {
  @include btnlink;
}
@mixin btnorg300x41 {
  @include orgbtn41(300px);
}
.btnorg300x41, a.btnorg300x41 {
  @include btnorg300x41;
}
@mixin btnorg200x41 {
  @include orgbtn41(200px);
}
.btnorg200x41, a.btnorg200x41 {
  @include btnorg200x41;
}
@mixin btnorg170x41 {
  @include orgbtn41(170px);
}
.btnorg170x41, a.btnorg170x41 {
  @include btnorg170x41;
}
@mixin btnorg175x32 {
  @include orgbtn32(175px);
}
.btnorg175x32, a.btnorg175x32 {
  @include btnorg175x32;
}
@mixin btnorg200x32 {
  @include orgbtn32(200px);
}
.btnorg200x32, a.btnorg200x32 {
  @include btnorg200x32;
}
@mixin btnorg220x32 {
  @include orgbtn32(220px);
}
.btnorg220x32, a.btnorg220x32 {
  @include btnorg220x32;
}
@mixin btnorg250x32 {
  @include orgbtn32(250px);
}
.btnorg250x32, a.btnorg250x32 {
  @include btnorg250x32;
}
@mixin btnorg280x32 {
  @include orgbtn32(280px);
}
.btnorg280x32, a.btnorg280x32 {
  @include btnorg280x32;
}
@mixin btnorg280x41 {
  @include orgbtn41(280px);
}
.btnorg280x41, a.btnorg280x41 {
  @include btnorg280x41;
}

@mixin btnorg77x32 {
  @include orgbtn32(77px);
}
.btnorg77x32, a.btnorg77x32 {
  @include btnorg77x32;
}
@mixin btnorg77x28 {
  @include orgbtn28(77px);
}
.btnorg77x28, a.btnorg77x28 {
  @include btnorg77x28;
}
@mixin btnorg100x32 {
  @include orgbtn32(100px);
}
.btnorg100x32, a.btnorg100x32 {
  @include btnorg100x32;
}
@mixin btnorg115x32 {
  @include orgbtn32(115px);
}
.btnorg115x32, a.btnorg115x32 {
  @include btnorg115x32;
}

@mixin btnblack54x29 {
  @include bgbutton('black54x29', 77px, 30px);
  @include blackbtn;
  font-size: 14px;
  line-height: 30px;
}
.btnblack54x29, a.btnblack54x29 {
  @include btnblack54x29;
}
@mixin btnblack77x29 {
  @include bgbutton('black77x29', 77px, 29px);
  @include blackbtn;
  font-size: 13px;
  line-height: 30px;
}
.btnblack77x29, a.btnblack77x29 {
  @include btnblack77x29;
}
@mixin btnblacknav54x29 {
  @include bgbutton('blacknav54x29', 54px, 29px);
  @include blackbtn;
  font-size: 13px;
  line-height: 30px;  
}
.btnblacknav54x29, a.btnblacknav54x29 {
  @include btnblacknav54x29;
}
@mixin btnorgpill {
  display: block;
  @include border_radius(5px);
  background: #FFB473;
  @include gradient_top_down(#eeb96d, #ff8419); 
  text-decoration: none;
  border: 1px solid #e48737;
  text-shadow: 0px 1px 0px #f7f7f7;
  color: #333 !important;
  text-align: center;
  text-decoration: none;
  #{$hover} {
    color: #000 !important;
    background: #ff8419;
    @include gradient_top_down(#f4b368, #ff8419);
  }
  #{$active} {
    background: #ff8419;
    @include box_shadow(#000 0px 1px 5px inset);        
    color: #fff !important;
    text-shadow: none;
  }  
}
.btnorgpill, a.btnorgpill, button.btnorgpill {
  @include btnorgpill;
}

@mixin btngrypill {
  display: block;
  @include border_radius(5px);
  background: #ddd;
  @include gradient_top_down(#f2f2f2, #A2A2A2); 
  text-decoration: none;
  border: 1px solid #808080;
  text-shadow: 0px 1px 0px #fff;
  color: #333;
  text-align: center;
  text-decoration: none;
  #{$hover} {
    color: #000 !important;
    background: #ffffff;
    @include gradient_top_down(#f2f2f2, #808080);
  }
  #{$active} {
    background: #666666;
    -pie-background: #666666;
    @include box_shadow(#000 0px 1px 5px inset);        
    color: #fff !important;
    text-shadow: 0px -1px 0px #000;
  }  
}
.btngrypill, a.btngrypill, button.btngrypill {
  @include btngrypill;
}

.btngryflat {
  display: block;
  @include border_radius(5px);
  background: #f2f2f2;
  text-decoration: none;
  border: 1px solid #808080;
  text-shadow: 0px 1px 0px #fff;
  color: #333;
  text-align: center;
  text-decoration: none;
  #{$hover} {
    color: #000 !important;
    background: #ffffff;
  }
  #{$active} {
    background: #666666;
    color: #fff !important;
    text-shadow: 0px 1px 0px #000;
  }
}

.btngrypill300x30 {
  @extend .btngrypill;
  width: 300px;
  height: 30px;
  line-height: 25px;
  font-size: 15px;
}
.btngrypill200x30 {
  @extend .btngrypill300x30;
  width: 200px;
}
.btngrypill400x30 {
  @extend .btngrypill300x30;
  width: 400px;
}

.btnredpill {
  display: block;
  @include border_radius(5px);
  @include gradient_top_down(#cd7777, #c84336); 
  color: #fff;
  text-shadow: 0px -1px 0px #000;
  text-decoration: none;
  border: 1px solid #993333;
  padding: 0px 10px;
  &:hover {
    color: #fff !important;
    @include gradient_top_down(#cd7777, #C72112);
  }
  #{$active} {
    background: #993333;
    @include box_shadow(#000 0px 1px 5px inset);        
    color: #fff !important;
    text-shadow: 0px -1px 0px #000;
  }
}

button.withx {
  position: relative;
  padding-left: 10px;
  .redx {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #c84336;
  }
  .ie7 &, .ie8 & {
    .redx {
      top: 6px;
    }
  }
}
.phone_whitegray_135x37, a.phone_whitegray_135x37 {
  display: block;
  width: 135px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: #666;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0px 1px #fff;
  background: transparent url(/images/buttons/phone_whitegray_135x37.png) no-repeat center center;
  @include gradient_top_down(#F3F3F4, #E7E8E9, 100%);
  border: 1px solid #d5d5d6;
  @include border_radius(7px);
  #{$hover} {
    @include gradient_top_down(#F3F3F4, #E7E8E9, 50%);
    text-shadow: 0px 1px #fff;
  }
  #{$active} {
    @include gradient_top_down(#E7E8E9, #f7f7f7, 100%);
    text-shadow: 0px -1px #fff;
  }
  .ie7 &, .ie8 & {
    border: none;
  }
}
.phone_whitegray_288x37, a.phone_whitegray_288x37 {
  display: block;
  width: 288px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: #666;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0px 1px #fff;
  background: transparent url(/images/buttons/phone_whitegray_288x37.png) no-repeat center center;
  @include gradient_top_down(#F3F3F4, #E7E8E9, 100%);
  border: 1px solid #d5d5d6;
  @include border_radius(7px);
  #{$hover} {
    @include gradient_top_down(#F3F3F4, #E7E8E9, 50%);
    text-shadow: 0px 1px #fff;
  }
  #{$active} {
    @include gradient_top_down(#E7E8E9, #f7f7f7, 100%);
    text-shadow: 0px -1px #fff;
  }
  .ie7 &, .ie8 & {
    border: none;
  }
}

.rndblk_80x30 {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #666;
  color: #ccc;
  width: 80px;
  background: #333;
  @include gradient_top_down(#333, #000, 100%);
  @include border_radius(6px);
  text-shadow: #000 0px -1px 0px;
  .btntxt {
    text-align: center;
    line-height: 15px;
    height: 30px;   
  }
  #{$hover} {
    color: #BBB;
    @include gradient_top_down(#333, #000, 50%);
  }
  #{$active} {
    @include gradient_top_down(#000, #333, 100%);
    color: #999;
  }
}
.hlfrndblk_80x30 {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #666;
  color: #ccc;
  width: 80px;
  background: #333;
  @include gradient_top_down(#333, #000, 100%);
  @include right_border_radius(6px);
  text-shadow: #000 0px -1px 0px;
  .btntxt {
    text-align: center;
    line-height: 15px;
    height: 30px;   
  }
  #{$hover} {
    color: #BBB;
    @include gradient_top_down(#333, #000, 50%);
  }
  #{$active} {
    @include gradient_top_down(#000, #333, 100%);
    color: #999;
  }
}
.blkrefresh_30x30 {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent url(/images/assets/general/blkrefresh_30x30.png) no-repeat center center;
}
.ie7 {
  button {
    .btntxt {
      padding: 1px 0px 0px 0px;
    }
  }  
}
.ie8 {
  button {
    .btntxt {
      padding: 2px 0px 0px 0px;
    }
  }
}