/*@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century_gothic.eot");
}
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century_gothic.ttf") format("truetype");
}*/
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century_gothic_bold.eot");
  font-weight: bold;
}
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century_gothic_bold.ttf") format("truetype");
  font-weight: bold;
}
@mixin cgothic {
  font-weight: bold;
  font-family: "Century Gothic", "Futura", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
.cgothic {
  @include cgothic;
}