input.faded {
  font-weight: normal;
  border: 1px solid #666;
  color: #333;
  margin: 10px 0 0;
  text-shadow: none;
  @include border_radius(6px);          
  background: #fff;
  @include gradient_top_down(#999999, #dddddd, 20%);
  &.placeholder {
    text-shadow: #333 1px 1px 3px;
    color: #aaa;
    background: #333;
    @include gradient_top_down(#333333, #444444, 20%);
  }
}
