/* ALL LIST BASED FORMS */
ul.form {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  input.text, textarea, .placeholder {
    padding: 4px 8px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    width: 282px;
  }
  textarea {
    height: 100px;
    resize: none;
  }  
  input:focus, textarea:focus {
    outline: none;
  }
  li, .li {
    position: relative;
    margin: 10px 0;
    padding: 0;
  }
  li.spacing {
    height: 10px;
    width: 100%;
  }
  .input_container {
    z-index: 1;
    height: 30px;
    position: relative;
  }
  .name {
    height: 30px;
    width: 300px;
    li.first_name, li.last_name {
      margin: 0;
      position: absolute;
      top: 0px;
      width: 151px;
      input, .placeholder {
        width: 133px;
      }
    }
    li.first_name {
      left: 0px;
    }
    li.last_name {
      right: 0px;
    }
  }
  .selected .radio, .radio.checked {
    .indicator {
      margin: 2px 0 0 2px;
      width: 6px;
      height: 6px;
      @include border_radius(10px);
      @include opacity(1.0);
    }
    .ie7 &, .ie8 & {
      height: 8px;
      width: 8px;
      .indicator {
        display: none;
      }
    }    
  }
  .radio {
    cursor: pointer;
    height: 10px;
    width: 10px;
    float: left;
    margin: 1px 5px 0 0;
    @include border_radius(12px);
    .indicator {
      @include opacity(0);
    }
  }
  li.note {
    margin: -5px 0 10px;
    width: 300px;
  }
  li.text {
    height: 30px;
  }
  li.text, li.buttons, li.select {
    @extend .clearfix;
    width: 300px;
    input, textarea, select {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      &.short {
        width: 27px;
        text-align: center;
      }
      &.abbrev {
        width: 50px;
        text-align: center;
      }
    }
    select {
      width: 300px;
      height: 30px;
      font-size: 14px;
    }
    .placeholder {
      &.abbrev {
        width: 50px;
        text-align: center;
      }
    }
  }  
  .file_field {
    padding: 0px;
    position: relative;
    width: 298px;
    height: 28px;
    .browse_button {
      cursor: pointer;
      z-index: 1;
      position: absolute;
      right: -1px;
      top: -1px;
      height: auto;
      bottom: -1px;
      width: 80px;
    }
    .filename {
      line-height: 18px;
      position: absolute;
      z-index: 1;
      left: 5px;
      top: 5px;
      bottom: 5px;
    }
    input.file {
      width: 100%;
      height: 100%;
      @include opacity(0);
      z-index: 100;
      position: absolute !important;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }
  li.text_area {
    height: 110px;
  }
  li.buttons {
    margin: 20px 0 0 0;
    line-height: 30px;
    line-height: 30px;
    button {
      float: right;
    }
    &.left {
      text-align: left;
      button {
        float: left;
      }
    }
    &.center {
      text-align: center;
      button {
        margin: 0 auto;
        float: none;
      }
    }
  }
}

/* ALL STYLED FORMS */
.faded, .light, .inpopover {
  .placeholder {
    @include transition(all 0.25s);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    font-weight: normal;
    bottom: 0px;
    z-index: 10;
    cursor: text;
    background: transparent;
  }
  input.text, textarea {
    font-weight: normal;
    @include border_radius(6px);          
    margin: 0;
  }
  .name {
    li.first_name {
      input {
        @include left_border_radius(5px)
      }
    }
    li.last_name {
      input {
        @include right_border_radius(5px);
      }
    }
  }
  li.note {
    font-size: 12px;
    font-weight: normal;
    text-align: center;    
  }
  li.file {
    .validity {
      right: 80px;
    }
  }
  .file_field {
    @include border_radius(5px);
    .browse_button {
      border: 1px solid #999;
      font-size: 12px;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
    }
  }
  .hint {
    opacity: 0;
    @include transition("opacity 0.25s");
    z-index: 0;
    background: transparent url(/images/assets/general/blkhntrt220x64.png) no-repeat left top;
    position: absolute;
    top: -17px;
    right: -233px;
    width: 220px;
    font-weight: normal;
    font-size: 11px;
    padding: 22px 0 0 33px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-shadow: #000 0px -1px 0px;
    color: #ddd;
    .error_message {
      font-size: 11px;
      color: #993333;
    }
  }
  li.focus {
    .placeholder {
      opacity: 0;
      z-index: 1;
    }
  }
  li.focus, .li.focus {
    .hint {
      z-index: 2;
      opacity: 1.0;
    }
  }
  .validity {
    cursor: pointer;
    @include opacity(0);
    @include transition(opacity 0.25s);
    width: 30px;
    right: 0px;
    height: 30px;
    position: absolute;
    top: 0px;
    z-index: 0;
  }
  li.focus .validity {
    z-index: 3;
    @include opacity(0);
    @include transition(opacity 0.25s);
  }
  li.loading .validity {
    z-index: 3;
    @include opacity(1);
    @include transition(opacity 0.25s);
  }
  li.valid .validity {
    z-index: 3;
    @include opacity(1);
    @include transition(opacity 0.25s);
  }
  li.invalid .validity {
    z-index: 3;
    @include opacity(1);
    @include transition(opacity 0.25s);
  }
  .ie7 &, .ie8 & {
    .hint {
      display: none;
    }
    .placeholder {
      display: block;
    }
    li.focus {
      .placeholder {
        display: none;
      } 
    }
    li.focus, .li.focus {
      .hint {
        display: block;
      }
    }
  }
}

/* FADED FORMS */
.faded {
  li.focus {
    input.text, textarea {
      background: #f0f0f0;
      @include box_shadow(rgba(0,0,0,0.5) 0px 1px 5px inset);
      color: #333;
      text-shadow: none;
    }
  }
  input.text, textarea {
    border: 1px solid #666;
    text-shadow: #333 0px 0px 3px;
    color: #aaa;
    background: #333;
    @include box_shadow(rgba(0,0,0,0.5) 0px 1px 5px inset);
    @include transition(all 0.25s);
  }
  .placeholder {
    color: #aaa;
    text-shadow: #333 0px 0px 3px;
    @include transition(all 0.25s);
  }
  li.loading .validity {
    background: transparent url(/images/assets/loading/white-chasing30x30.gif?1) no-repeat center center;    
  }
  li.valid .validity {
    background: transparent url(/images/icons/checkltgry20x20.png) no-repeat center center;    
  }
  li.invalid {
    input, textarea, select {
      border: 1px solid #cc3333;
    }
    .validity {
      background: transparent url(/images/icons/alertred24x20.png) no-repeat center center;        
    }
  }
  .selected .radio, .radio.checked {
    background: #fff;
    @include gradient_top_down(#999999, #dddddd, 20%);
    border: none;
    .indicator {
      background: #666;
      @include gradient_top_down(#999999, #666666, 80%);
    }
  }
  .radio {
    border: 1px solid #666;
    background: #333;
    @include gradient_top_down(#333333, #444444, 20%);
  }
  li.buttons {
    margin: 20px 0 0 0;
    line-height: 30px;
    line-height: 30px;
  }  
  a {
    color: #aaa !important;
    &:hover, &.hover {
      color: #f0f0f0;
    }
  }
}

/* LIGHT FORMS */
input.text.light {
  border: 1px solid #999;
  @include box_shadow(rgba(0,0,0,0.5) 0px 1px 1px inset);
  padding: 4px 8px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  width: 282px;
  @include border_radius(5px);
}
.light {
  input.text, textarea, .file_field {
    border: 1px solid #999;
    @include box_shadow(rgba(0,0,0,0.5) 0px 1px 1px inset);
  }
  .note {
    color: #999;
    text-shadow: #fff 0px 1px 0px;
    a {
      color: #999;
      text-decoration: underline;
      &:hover {
        color: #666;        
      }      
    }
  }
  .placeholder {
    color: #999;
    text-shadow: none;
  }
  li.loading .validity {
    background: transparent url(/images/assets/loading/black-chasing30x30.gif?1) no-repeat center center;    
  }
  li.valid .validity {
    background: transparent url(/images/icons/checkltgry20x20.png) no-repeat center center;    
  }
  li.invalid {
    input, textarea, select {
      border: 1px solid #cc3333;
    }
    .validity {
      background: transparent url(/images/icons/alertred24x20.png) no-repeat center center;        
    }
    label {
      color: #cc3333;
    }    
  }
  .selected .radio, .radio.checked {
    background: #fff;
    @include gradient_top_down(#999999, #dddddd, 20%);
    .indicator {
      background: #666;
      @include gradient_top_down(#999999, #666666, 80%);
    }
  }
  .radio {
    border: 1px solid #808080;
    background: #ddd;
    @include gradient_top_down(#ddd, #f0f0f0, 80%);
  }
  .file_field {
    .browse_button {
      background: #f2f2f2;
      @include gradient_top_down(#f2f2f2, #A2A2A2); 
      @include right_border_radius(5px);
      text-shadow: #fff 0px -1px 0px;
    }
  }
  select {
    border: 1px solid #333;
    background: #fff;
  }
  a {
    color: #333;
    &:hover, &.hover {
      color: #AAA;
    }
  }
}

/* INLINE LABELS */
ul.inlinelabels {
  li.text.labelled, .li.labelled {
    @include clearfix;
    overflow: visible;
    .label {
      float: left;
      line-height: 30px;
      text-align: right;
      label {
        font-weight: bold;
      }
    }
    input, select {
      display: inline;
      position: static;
    }
    .input_container {
      text-align: left;
      float: right;      
    }
  }
}

/* ONE LINE FORMS */
ul.form.oneline {
  @extend .clearfix;
  li {
    float: left;
    margin: 0 10px 0 0;
  }
  li.text {
    width: 195px;
    input, textarea {
      padding: 4px 35px 4px 8px;
      width: 150px;
    }
  }
  li.middle {
    line-height: 30px;
    height: 30px;
    text-align: center;
  }
  li.select {
    padding: 5px 30px 0 0;
  }
  li.buttons {
    z-index: 2;
    width: auto;
    margin: 0;
    float: left;
    .blackimg_77x32 {
      margin-top: -2px;
    }
  }
}

/* FORMS IN POPOVERS */
ul.form.inpopover {
  padding: 2px 0;
  .placeholder {
    color: #999;
  }
  li {
    margin: 0;
    width: 250px;
    float: none;
    border-bottom: 1px solid #999;
    input {
      @include border_radius(0);          
      border: none;
      width: 234px;
    }
    &.buttons {
      padding: 15px 10px;
      width: 230px;
      border-bottom: none;
    }
  }
  li.loading .validity {
    background: transparent url(/images/assets/loading/black-chasing30x30.gif?1) no-repeat center center;    
  }
  li.valid .validity {
    background: transparent url(/images/icons/checkltgry20x20.png) no-repeat center center;    
  }
  li.invalid {
    border-bottom: 1px solid #cc3333;
    .validity {
      background: transparent url(/images/icons/alertred24x20.png) no-repeat center center;        
    }
  }
}

/* SEARCH BAR FORM */
ul.form.search {
  width: 106px;
  height: 20px;
  position: relative;
  border: 1px solid #333;
  @include border_radius(17px);
  html.loaded & {
    @include transition("width 0.5s, background 0.5s");
  }
  li {
    padding: 0;
    margin: 0;
  }
  &.focus {
    width: 176px;
    .search_icon {
      background: transparent url(/images/assets/general/search13x14.png) no-repeat left center;
    }
  }
  li.search_icon {
    z-index: 10;
    position: absolute;
    top: 2px;
    height: 18px;
    bottom: 0;
    left: 7px;
    width: 18px;
    background: transparent url(/images/assets/general/search_light13x14.png) no-repeat left center;
  }
  li.search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 0 0 0 26px;
    background: #444;
    @include border_radius(15px);
    @include transition(all 0.5s);
    @include box_shadow("rgba(0, 0, 0, 0.6) 0px 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px 0");
    input {
      color: #fff;
      position: absolute;
      top: 4px;
      bottom: 3px;
      font-size: 11px;
      left: 26px;
      height: 14px;
      line-height: 14px;
      right: 5px;
      border: none;
      padding: 0;
      margin: 0;
      width: 70px;
      background: transparent;
    }
    &.focus {
      @include transition(all 0.5s);
      background: #fff;
      input {
        width: 140px;
        color: #000000;
      }
    }
  }
}

