@import "shared/_lightbox.scss";

.vcc {
  display: table;
  width: 100%;
  height: 100%;
  .vc {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.no_select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.flips {
  -o-transition: -o-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  &.upside_down {
    -o-transform: rotate(1260deg);
    -o-transition: -o-transform 1s;
    -webkit-transform: rotate(1260deg);
    -webkit-transition: -webkit-transform 1s;
    -moz-transform: rotate(1260deg);
    -moz-transition: -moz-transform 1s;
    transform: rotate(1260);
    transition: transform 1s;
  }
}
.clear {
  clear: both;
}
.clickable {
  cursor: pointer;
}
form.inline {
  display: inline;
  margin: 0;
  padding: 0;
}
.narrow_center {
  margin: 0 auto;
  width: 300px;
}
.twitter-share-button {
  width: 55px;
  display: block;
  height: 20px;
  text-decoration: none;
  background: transparent url(/images/assets/general/tweet.png) no-repeat;
  &:hover {
    background-position: 0px -21px;
  }
  &:active {
    background-position: 0 -42px;
  }
}
#flashes {
  text-shadow: #000 0 1px 0;
  background: #333 url(/images/backgrounds/linen_bottomshadow.jpg) repeat bottom center;
  overflow: hidden;
  position: relative;
  z-index: 100;
  padding: 15px 0 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ff8419;
  .close {
    background: transparent url(/images/assets/general/orange_cross_12x13.png) no-repeat center right;
    position: absolute;
    top: 0px;
    right: 10px;
    bottom: 0px;
    width: 20px;
    cursor: pointer;
  }
  a {
    color: #ff8419;
    &:hover {
      color: #ccc;
    }
  }
}