html {
  &.js {
    #bg, #page, .preload {
      opacity: 0;
    }
  }
  &.loaded {
    #bg, #page, .preload {
      opacity: 1.0;
      @include transition(opacity 0.25s);
    }
  }
}

.vcc {
  display: table;
  width: 100%;
  height: 100%;
  .vc {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
.ellipsis {
  @include ellipsis;
}
.no_select {
  @include no_select;
}
.flips {
  -o-transition: -o-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  &.upside_down {
    -o-transform: rotate(1260deg);
    -o-transition: -o-transform 1s;
    -webkit-transform: rotate(1260deg);
    -webkit-transition: -webkit-transformm 1s;
    -moz-transform: rotate(1260deg);
    -moz-transition: -moz-transform 1s;
    transform: rotate(1260);
    transition: transform 1s;
  }
}
.white {
  color: #f0f0f0;
}
.clear {
  clear: both;
}
.clickable {
  cursor: pointer;
}
.relative {
  position: relative;
}
form.inline {
  display: inline;
  margin: 0;
  padding: 0;
}
.narrow_center {
  margin: 0 auto;
  width: 300px;
}
.hidden, .jstpl {
  display: none !important;
}
h1 {
  font-size: 1.8em;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
  margin: 0 auto;
  float: none;
}
.centered {
  margin: 0 auto;
  float: none;
}
.big {
  font-size: 1.5em;
}
.plus {
  font-size: 1.5em;
  .ie8 &, .ie7 & {
    display: inline-block;
    margin-top: 3px;
  } 
}
.inline {
  display: inline;
  float: none;
}
.rtxt {
  text-align: right;
}
.ltxt {
  text-align: left;
}
.small {
  font-size: 0.8em;
}
.xsmall {
  font-size: 0.5em;
  font-weight: normal;
}
.width500 {
  width: 500px;
}
.fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.prose {
  p, ol, ul {
    line-height: 1.4em;
    margin: 1em 0;
  }
  ol, ul {
    margin-left: 1em;
    li {
      ol, ul {
        margin-left: 1em;
      }
    }
  }
  h3 {
    font-size: 1.4em;
  }
  h4, h3 {
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: bold;
  }
  ul {
    li {
      list-style: disc;
    }
  }
}