@import "shared/_lightbox.scss";

html {
  &.js {
    #bg, #page, .preload {
      opacity: 0;
    }
  }
  &.loaded {
    #bg, #page, .preload {
      opacity: 1.0;
      @include transition(opacity 0.25s);
    }
  }
}

.vcc {
  display: table;
  width: 100%;
  height: 100%;
  .vc {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.no_select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.flips {
  -o-transition: -o-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  &.upside_down {
    -o-transform: rotate(1260deg);
    -o-transition: -o-transform 1s;
    -webkit-transform: rotate(1260deg);
    -webkit-transition: -webkit-transform 1s;
    -moz-transform: rotate(1260deg);
    -moz-transition: -moz-transform 1s;
    transform: rotate(1260);
    transition: transform 1s;
  }
}
.clear {
  clear: both;
}
.clickable {
  cursor: pointer;
}
form.inline {
  display: inline;
  margin: 0;
  padding: 0;
}
.narrow_center {
  margin: 0 auto;
  width: 300px;
}
.hidden, .jstpl {
  display: none !important;
}
h1 {
  font-size: 1.8em;
}
.center {
  text-align: center;
  margin: 0 auto;
  float: none;
}
.big {
  font-size: 1.5em;
}
.inline {
  display: inline;
  float: none;
}
.rtxt {
  text-align: right;
}
.ltxt {
  text-align: left;
}
.small {
  font-size: 0.8em;
}