@mixin border_radius($n) {
  border-radius: unquote($n);
  -moz-border-radius: unquote($n);
  -webkit-border-radius: unquote($n); 
}
@mixin fullscreen() {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

@mixin rgbabg($r,$g,$b,$a, $fallback) {
  background: transparent url(/images/unquote($fallback)) repeat top left;
  background: rgba($r, $g, $b, $a);
}

@mixin top_right_border_radius($n) {
  @include border_radius(0 $n 0 0);
}

@mixin top_left_border_radius($n) {
  @include border_radius($n 0 0 0);
}

@mixin bottom_right_border_radius($n) {
  @include border_radius(0 0 $n 0);
}

@mixin bottom_left_border_radius($n) {
  @include border_radius(0 0 0 $n);
}

@mixin top_border_radius($n) {
  @include border_radius($n $n 0 0);
}

@mixin bottom_border_radius($n) {
  @include border_radius(0 0 $n $n);
}

@mixin left_border_radius($n) {
  @include border_radius($n 0 0 $n);
}

@mixin right_border_radius($n) {
  @include border_radius(0 $n $n 0);
}

@mixin triangle_up($w, $h, $color) {
  height: 0;
  width: 0;
  border-bottom: $h solid $color;
  border-left: $w dotted transparent;
  border-right: $w dotted transparent; 
}

@mixin triangle_down($w, $h, $color) {
  height: 0;
  width: 0;
  border-top: $h solid $color;
  border-left: $w dotted transparent;
  border-right: $w dotted transparent; 
}

@mixin triangle_right($w, $h, $color) {
  height: 0;
  width: 0;
  border-left: $w solid $color;
  border-top: $h dotted transparent;
  border-bottom: $h dotted transparent; 
}

@mixin triangle_left($w, $h, $color) {
  height: 0;
  width: 0;
  border-right: $w solid $color;
  border-top: $h dotted transparent;
  border-bottom: $h dotted transparent; 
}

@mixin transition($rule) {
  -webkit-transition: unquote($rule); 
  -moz-transition: unquote($rule); 
  -o-transition: unquote($rule); 
  transition: unquote($rule);
}

@mixin transform($rule) {
  -webkit-transform: unquote($rule); 
  -moz-transform: unquote($rule); 
  -o-transform: unquote($rule); 
  transform: unquote($rule);  
}

@mixin gradient_top_down($from, $to, $point: 100%) {
  background: -webkit-gradient(linear, left 0, left $point, from($from), to($to));
  background: -moz-linear-gradient(top, $from, $to $point);
  -pie-background: linear-gradient(top, $from, $to $point);
  background: linear-gradient(top, $from, $to $point);
}

@mixin black_radial_gradient($radius) {
  padding: 150px 100px;
  background: #000;
  background: transparent -moz-radial-gradient(center center, ellipse farthest-side, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
  background: transparent -webkit-gradient(radial, 50% 50%, 0, 50% 50%, $radius, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  background: transparent radial-gradient(center center, ellipse farthest-side, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));  
}

@mixin box_shadow($shadow) {
  -moz-box-shadow: unquote($shadow);
  -webkit-box-shadow: unquote($shadow);
  box-shadow: unquote($shadow);
}

@mixin opacity($opacity) {
  filter: unquote("alpha(opacity=") $opacity * 100 unquote(")");
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity; 
  opacity: $opacity;
}

@mixin divider($top, $bottom) {
  height: 0;
  border-top: 1px solid $top;
  border-bottom: 1px solid $bottom;
}

// Don't allow wrapping.
@mixin nowrap {
  white-space: nowrap; 
}

// Clearfix for containers with all floated elements.
@mixin clearfix {
  overflow: hidden;
  // This makes ie6 get layout
  display: inline-block;
  // and this puts it back to block
  & {
    display: block;    
  }
}

@mixin ietransparentfix {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
  zoom: 1;
}

@mixin no_select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
@mixin titlefont {
  font-family: museo-sans, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 500;
}