#flashes {
  text-shadow: #000 0 1px 0;
  background: #333 url(/images/backgrounds/linen_bottomshadow.jpg) repeat bottom center;
  overflow: hidden;
  position: relative;
  z-index: 100;
  padding: 15px 20px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ff8419;
  .close {
    background: transparent url(/images/icons/cross16x17.png) no-repeat center right;
    position: absolute;
    top: 0px;
    right: 10px;
    bottom: 0px;
    width: 20px;
    cursor: pointer;
  }
  a {
    color: #ff8419;
    #{$hover} {
      color: #ccc;
    }
  }
}

ul.pillbox {
  @include border_radius(5px);
  overflow: hidden;
  @include clearfix;
  float: left;
  background: #f2f2f2;
  border: 1px solid #808080;
  &.orange {
    border: 1px solid #ff8419;
    li.pill {
      border-right: 1px solid #ff8419;
      a {
        background: #FFB473;
        @include gradient_top_down(#eeb96d, #ff8419);
        #{$hover} {
          background: #ff8419;
          @include gradient_top_down(#f4b368, #ff8419);
        }
        #{$active}, &.current {
          background: #ff8419;
          text-shadow: none;
        }
      }
    }
  }
  li.pill {
    position: relative;
    border-right: 1px solid #808080;
    float: left;
    height: 25px;
    line-height: 25px;
    width: 125px;
    text-align: center;
    &.last {
      border: none;
      a {
        @include right_border_radius(4px);        
      }
    }
    &.first {
      a {
        @include left_border_radius(4px);        
      }
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #333;
      text-decoration: none;
      text-shadow: 0px 1px 0px #fff;
      @include gradient_top_down(#f2f2f2, #A2A2A2);
      #{$hover} {
        color: #000;
        @include gradient_top_down(#f2f2f2, #808080);
      }
      #{$active} {
        background: #666666;
        @include box_shadow(#000 0px 1px 5px inset);        
        color: #fff;
        text-shadow: 0px -1px 0px #000;
      }
    }
  }
}

.ui-autocomplete {
  background-color: white;
  border: 1px solid #666;
  width: 200px;
  border-bottom: 0px;
  list-style-type: none;
  padding-left: 0px;
  .ui-menu-item {
    a {
      color: #333;
      display: block;
      padding: 10px;
      border-bottom: 1px solid #666;
      &.ui-state-hover, #{$hover} {
        background: #ff8419;
        color: #fff;
      } 
    }
  }
}

.placelist {
  .place {
    position: relative;
    background: #fff url(/images/assets/general/orgtrirt11x15.png) no-repeat 95% center;
    border-bottom: none;
    button.overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 100;
      @include opacity(0);
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;
      border: 0px;
    }
    a {
      border: 0;
      padding: 0;
      margin: 0;
      text-decoration: none;
    }
    #{$hover} {    
      background: #ff8419 url(/images/assets/general/whttrirt11x15.png) no-repeat 95% center;
      .name, .location {
        color: #fff;
      }
    }
    .image {
      float: left;
    }
    .info {
      float: left;
      border-bottom: 1px solid #ddd;
    }
    &.last .info {
      border-bottom: 0px;
    }
    &.current, &.active {
      background: #fff url(/images/icons/check20x20.png) no-repeat 95% center;
      #{$hover} {
        background: #fff url(/images/icons/check20x20.png) no-repeat 95% center;
        .name {
          color: #333;
        }
        .location {
          color: #999;
        }
      }
    }
    .name {
      font-weight: bold;
      color: #333;
    }
    .location {
      color: #999;
      font-weight: normal;
    }
  }
  &.large {
    width: 400px;
    .place {
      width: 400px;
      .image {
        height: 84px;
        width: 117px;
      }
      .info {
        height: 63px;
        width: 232px;
        padding: 10px 40px 10px 10px;
        .location {
          margin: 0.25em 0 0 0;
        }
      }
    }    
  }
  &.small {
    width: 220px;
    .place {
      width: 219px;
      .image {
        width: 58px;
        height: 42px;
      }
      .info {
        height: 31px;
        width: 136px;
        padding: 5px 20px 5px 5px;
        .name, .location {
          font-size: 12px;
        }
      }
    }
  }
}
#jsTooltip {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 200px;
  background: #ffffdd;
  border: 1px solid #999;
  @include border_radius(5px);
  padding: 5px;
  z-index: 1000000;
  color: #333;
  &.error {
    background: #ffdddd;
  }
}
.ui-dialog-titlebar {
  position: relative;
  background: #000;
  text-align: center;
  @include gradient_top_down(#333, #000); 
  @include top_border_radius(4px);
  color: #ddd;
/*  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;*/
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
  .ui-dialog-titlebar-close {
    background: transparent url(/images/buttons/bnwcloserlt15x45.png) no-repeat 0 0;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    #{$hover} {
      background-position: 0px -15px;
    }
    #{$active} {
      background-position: 0px -30px;
    }
  }
}
.ui-widget-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  @include opacity(0.5);
}
.ui-dialog {
  position: absolute;
  padding: 0px;
  overflow: hidden;
  @include border_radius(5px);
  background: #fff;
  @include box_shadow(rgba(0,0,0,0.5) 0 1px 5px);
}
.ui-dialog-content {
  @include bottom_border_radius(5px);
}
#login_popover {
  width: 250px;
  hr {
    margin: 5px 0;
    @include divider(#999, #ccc);
  }
  h3 {
    padding-left: 35px;
    font-size: 16px;
    line-height: 32px;
    height: 32px;
  }
  .email {
    h3 {
      background: transparent url(/images/icons/mailblk24x16.png) no-repeat 5px center;
      border-bottom: 1px solid #999;
    }
  }
  .fb {
    padding: 10px 10px 5px 0;
    h3 {
      background: transparent url(/images/assets/general/fbfbw24x24.png) no-repeat 6px center;
    }
    form {
      float: right;
    }
  }
  .buttons {
    clear: both;
  }
  .forgot {
    color: #333;
    font-weight: bold;
    display: block;
    padding: 2px 0 0 0;
    font-size: 12px;
  }
}
.ui-datepicker {
  display: none;
  background: #fff;
  padding: 2px;
  border: 1px solid #999;
  @include border_radius(5px);
  font-size: 10px;
  width: 196px;
  table {
    width: 196px;
    margin: 5px 0 0 0;
    td {
      padding: 1px;
      text-align: center;
    }
    .ui-datepicker-current-day {
      a {
        border: 1px solid #ff8419;
        background: #fff;
      }
    }
    a {
      width: 24px;
      height: 15px;
      line-height: 15px;
      display: block;
      text-decoration: none;
      font-weight: normal;
      background: #f6f6f6;
      @include gradient_top_down(#fff, #f6f6f6, 100%);
      border: 1px solid #ccc;
      @include border_radius(3px);
      &:hover {
        background: #ff8419;
        @include gradient_top_down(#FFB473, #ff8419, 100%);
        color: #fff;
      }
    }
  }
  .ui-datepicker-header {
    position: relative;
    padding: 5px;
    background: #ffb473;
    border: 1px solid #ff8419;
    @include border_radius(3px);
    @include gradient_top_down(#FFB473, #ff8419, 100%);
    .ui-datepicker-next {
      right: 2px;
      width: 0;
      span {
        @include triangle_right(5px, 5px, #fff);
      }
      &:hover {
        span {
          @include triangle_right(5px, 5px, #f7f7f7);
        }
      }
    }
    .ui-datepicker-prev {
      left: 12px;
      width: 0;
      span {
        @include triangle_left(5px, 5px, #fff);        
      }
      &:hover {
        span {
          @include triangle_left(5px, 5px, #f7f7f7);
        }
      }
    }
    .ui-datepicker-title {
      text-align: center;
      font-weight: bold;
      color: #fff;
    }
    .ui-datepicker-prev, .ui-datepicker-next {
      position: absolute;
      top: 5px;
      height: 1.8em;
      cursor: pointer;
      span {
        text-indent: -9999px;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
      }
    }
    
  }
}
.sharing {
  margin: 5px 0 0;
  a {
    text-decoration: none;
  }
  input {
    float: left;
    margin: 0 10px 0 0;
  }
  .fb_button_simple {
    display: none;
  }
  .fb-share-button {
    float: left;
    margin: 0px 10px 0 0;
  }
  .twit-share-btn {
    float: left;
  }
}
#explain_designed_by_spot {
  position: absolute;
  z-index: 1000;
  .explain_designed_by_spot {
    border: 1px solid #999;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    margin-bottom: 12px;
    width: 150px;
    position: relative;
    @include border_radius(5px);
    .arrow {
      position: absolute;
      @include triangle_down(10px, 10px, #000);
      left: 80px;
      bottom: -10px;
      z-index: 2;
    }
    .arrowborder {
      position: absolute;
      left: 79px;
      bottom: -11px;
      @include triangle_down(11px, 11px, #999);
      z-index: 1;
    }
    h2 {
      margin: 0 0 10px 0;
      text-shadow: none !important;
      font-size: 16px;
    }
  }
}
.designed_by_spot {
  position: absolute;
  cursor: pointer;
  top: 9px;
  right: 9px;
  width: 22px;
  height: 22px;
  background: transparent url(/images/logos/swhitewhover22x22.png) no-repeat 0 0;
  #{$hover} {
    background-position: 0 -22px;
  }
}
.evtdis {
  text-decoration: none;
  position: relative;
  .disclosure {
    overflow: hidden;
    right: 10px;
    top: 5px;
    padding: 0;
    text-align: center;
    color: #fff;
    background: transparent url(/images/icons/disclosurecir26x27.png) no-repeat center top;
    height: 26px;
    width: 27px;
    position: absolute;
    z-index: 10;
    display: none;
    @include transition(height 0.25s);
  }
  .image {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    border: 1px solid #000;
    img {
      z-index: 1;
    }
  }
  .fadeout {
    display: none;
    background: transparent url(/images/backgrounds/ltfadeout1x118.png) repeat-x bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .text {
    @include rgbabg(0,0,0,0.5, 'backgrounds/halfblk1x1.png');
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    color: #fff;
    padding: 10px 35px 10px 8px;
    font-size: 15px;        
    text-shadow: #000 0px 1px 0x;
  }
  .description {
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 15px;
  }
  .short_summary {
    min-height: 22px;
    background: #000;
    color: #fff !important;
    padding: 10px;
    font-size: 18px;
    position: relative;
  }
  &:hover {
    .short_summary {
      display: block;
    }
  }
}
.explanation {
  margin-top: 10px;
  text-align: left;
  .title {
    padding: 5px 0 5px 0px;
    margin: 0;
    height: 27px;
    overflow: visible;
    line-height: 32px;
    font-size: 16px;
    background: transparent no-repeat left center;
  }
  &.five_reasons {
    .bullet {
      display: inline;
      font-weight: bold;
    }
  }
  &.guarantee {
    .title {
      img {
        margin-bottom: -7px;
      }
/*      background-image: url("/images/icons/starburst24x24.png");*/
    }
  }
  &.howitworks {
    .title {
/*      background-image: url("/images/icons/questioncir22x22.png");*/
    }
  }
  &.fineprint {
    .title {
/*      background-image: url("/images/icons/magnifyshdw22x22.png");*/
    }    
  }
  &.pricing {    
    .title {
/*      background-image: url("/images/icons/pricing22x22.png");*/
    }
  }
  hr {
    @extend hr.light;
    margin: 0 !important;
  }
  .content {
    li {
      font-size: 12px;
      margin: 8px 0;
    }
    p {
      font-size: 12px;
      margin: 8px 0;
      padding: 0;
    }
  }
}
.buckets {
  margin: 20px 0;
  .bucket {
    padding-right: 15px;
    font-size: 14px;
    .image {
      position: relative;
      img {
        border: 1px solid #ddd;
      }
      margin: 15px 0;
    }
    a.getspot {
      display: block;
      text-align: center;
    }
    p {
      margin: 10px 0;        
    }
    input.text {
      font-size: 12px;
      width: 230px;
    }
    .share {
      margin: 5px;
      &.last {
        margin-right:0px;
      }
    }
    &.last {
      padding-left: 15px;
      border-right: none;
    }
  }
}