#flashes {
  text-shadow: #000 0 1px 0;
  background: #333 url(/images/backgrounds/linen_bottomshadow.jpg) repeat bottom center;
  overflow: hidden;
  position: relative;
  z-index: 100;
  padding: 15px 0 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ff8419;
  .close {
    background: transparent url(/images/icons/cross16x17.png) no-repeat center right;
    position: absolute;
    top: 0px;
    right: 10px;
    bottom: 0px;
    width: 20px;
    cursor: pointer;
  }
  a {
    color: #ff8419;
    &:hover, &.hover {
      color: #ccc;
    }
  }
}

ul.pillbox {
  @include border_radius(5px);
  overflow: hidden;
  @include clearfix;
  float: left;
  background: #f2f2f2;
  border: 1px solid #808080;
  &.orange {
    border: 1px solid #ff8419;
    li.pill {
      border-right: 1px solid #ff8419;
      a {
        background: #FFB473;
        @include gradient_top_down(#eeb96d, #ff8419);
        &:hover, &.hover {
          background: #ff8419;
          @include gradient_top_down(#f4b368, #ff8419);
        }
        &:active, &.active {
          background: #ff8419;
          text-shadow: none;
        }
      }
    }
  }
  li.pill {
    position: relative;
    border-right: 1px solid #808080;
    float: left;
    height: 25px;
    line-height: 25px;
    width: 125px;
    text-align: center;
    &.last {
      border: none;
      a {
        @include right_border_radius(4px);        
      }
    }
    &.first {
      a {
        @include left_border_radius(4px);        
      }
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #333;
      text-decoration: none;
      text-shadow: 0px 1px 0px #fff;
      @include gradient_top_down(#f2f2f2, #A2A2A2);
      &:hover, &.hover {
        color: #000;
        @include gradient_top_down(#f2f2f2, #808080);
      }
      &:active, &.active {
        background: #666666;
        @include box_shadow(#000 0px 1px 5px inset);        
        color: #fff;
        text-shadow: 0px -1px 0px #000;
      }
    }
  }
}

.ui-autocomplete {
  background-color: white;
  border: 1px solid #666;
  width: 200px;
  border-bottom: 0px;
  list-style-type: none;
  padding-left: 0px;
  .ui-menu-item {
    a {
      color: #333;
      display: block;
      padding: 10px;
      border-bottom: 1px solid #666;
      &.ui-state-hover, &:hover, &.hover {
        background: #ff8419;
        color: #fff;
      } 
    }
  }
}

.placelist {
  .place {
    position: relative;
    background: #fff url(/images/assets/general/orgtrirt11x15.png) no-repeat 95% center;
    border-bottom: none;
    button.overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 100;
      @include opacity(0);
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;
      border: 0px;
    }
    a {
      border: 0;
      padding: 0;
      margin: 0;
      text-decoration: none;
    }
    &:hover, &.hover {    
      background: #ff8419 url(/images/assets/general/whttrirt11x15.png) no-repeat 95% center;
      .name, .location {
        color: #fff;
      }
    }
    .image {
      float: left;
    }
    .info {
      float: left;
      border-bottom: 1px solid #ddd;
    }
    &.last .info {
      border-bottom: 0px;
    }
    &.current, &.active {
      background: #fff url(/images/icons/check20x20.png) no-repeat 95% center;
      &:hover, &.hover {
        background: #fff url(/images/icons/check20x20.png) no-repeat 95% center;
        .name {
          color: #333;
        }
        .location {
          color: #999;
        }
      }
    }
    .name {
      font-weight: bold;
      color: #333;
    }
    .location {
      color: #999;
      font-weight: normal;
    }
  }
  &.large {
    width: 400px;
    .place {
      width: 400px;
      .image {
        height: 84px;
        width: 117px;
      }
      .info {
        height: 63px;
        width: 232px;
        padding: 10px 40px 10px 10px;
        .location {
          margin: 0.25em 0 0 0;
        }
      }
    }    
  }
  &.small {
    width: 220px;
    .place {
      width: 219px;
      .image {
        width: 58px;
        height: 42px;
      }
      .info {
        height: 31px;
        width: 136px;
        padding: 5px 20px 5px 5px;
        .name, .location {
          font-size: 12px;
        }
      }
    }
  }
}
#jsTooltip {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 200px;
  background: #ffffdd;
  border: 1px solid #999;
  @include border_radius(5px);
  padding: 5px;
  z-index: 1000000;
  color: #333;
  &.error {
    background: #ffdddd;
  }
}
.ui-dialog-titlebar {
  position: relative;
  background: #999;
  text-align: center;
  @include gradient_top_down(#f2f2f2, #A2A2A2); 
  @include top_border_radius(4px);
  color: #333;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
  .ui-dialog-titlebar-close {
    background: transparent url(/images/buttons/bnwcloser15x45.png) no-repeat 0 0;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    &:hover, &.hover {
      background-position: 0px -15px;
    }
    &:active, &.active {
      background-position: 0px -30px;
    }
  }
}
.ui-widget-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  @include opacity(0.5);
}
.ui-dialog {
  position: fixed;
  padding: 0px;
  overflow: hidden;
  @include border_radius(5px);
  background: #fff;
  @include box_shadow(rgba(0,0,0,0.5) 0 1px 5px);
}
#login_popover {
  width: 250px;
  hr {
    margin: 5px 0;
    @include divider(#999, #ccc);
  }
  h3 {
    padding-left: 35px;
    font-size: 16px;
    line-height: 32px;
    height: 32px;
  }
  .email {
    h3 {
      background: transparent url("/images/icons/mail24x16.png") no-repeat 5px center;
      border-bottom: 1px solid #999;
    }
  }
  .fb {
    padding: 10px 10px 5px 0;
    h3 {
      background: transparent url("/images/assets/general/fb_f_24x22.png") no-repeat 6px center;
    }
    form {
      float: right;
    }
  }
  .buttons {
    clear: both;
  }
  .forgot {
    color: #333;
    font-weight: bold;
    display: block;
    padding: 2px 0 0 0;
    font-size: 12px;
  }
}
.ui-datepicker {
  display: none;
  background: #fff;
  padding: 2px;
  border: 1px solid #999;
  @include border_radius(5px);
  font-size: 10px;
  width: 196px;
  table {
    width: 196px;
    margin: 5px 0 0 0;
    td {
      padding: 1px;
      text-align: center;
    }
    .ui-datepicker-current-day {
      a {
        border: 1px solid #ff8419;
        background: #fff;
      }
    }
    a {
      width: 24px;
      height: 15px;
      line-height: 15px;
      display: block;
      text-decoration: none;
      font-weight: normal;
      background: #f6f6f6;
      @include gradient_top_down(#fff, #f6f6f6, 100%);
      border: 1px solid #ccc;
      @include border_radius(3px);
      &:hover {
        background: #ff8419;
        @include gradient_top_down(#FFB473, #ff8419, 100%);
        color: #fff;
      }
    }
  }
  .ui-datepicker-header {
    position: relative;
    padding: 5px;
    background: #ffb473;
    border: 1px solid #ff8419;
    @include border_radius(3px);
    @include gradient_top_down(#FFB473, #ff8419, 100%);
    .ui-datepicker-next {
      right: 2px;
      width: 0;
      span {
        @include triangle_right(5px, 5px, #fff);
      }
      &:hover {
        span {
          @include triangle_right(5px, 5px, #f0f0f0);
        }
      }
    }
    .ui-datepicker-prev {
      left: 12px;
      width: 0;
      span {
        @include triangle_left(5px, 5px, #fff);        
      }
      &:hover {
        span {
          @include triangle_left(5px, 5px, #f0f0f0);
        }
      }
    }
    .ui-datepicker-title {
      text-align: center;
      font-weight: bold;
      color: #fff;
    }
    .ui-datepicker-prev, .ui-datepicker-next {
      position: absolute;
      top: 5px;
      height: 1.8em;
      cursor: pointer;
      span {
        text-indent: -9999px;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
      }
    }
    
  }
}
.applydialog {
  background: #f0f0f0;
  padding: 20px 30px;
  h1 {
    margin: 0 0 20px 0;
    img {
      margin-bottom: -17px;
    }
  }
  .about {
    padding: 10px 0 20px 0;
    font-size: 14px;
    strong, em {
      font-weight: bold;
      font-style: normal;
    }
    em {
      color: #ff8419;
    }
  }
  .descriptions {
    width: 280px;
    padding-right: 20px;
  }
  ul.form {
    margin: 10px auto 0;
    .li, li.text, li.buttons {
      width: 420px;
      button {
        float: right;
      }
    }
    hr {
      @extend hr.light;
      margin: 20px 0px 20px 120px;      
    }
    .survey {
      li.text {
        width: 300px;
        padding-left: 120px;
      }
    }
    li.question {
      text-align: left;
      font-weight: bold;
    }
    li.note {
      text-align: right;
    }
    li.note, li.question {
      padding-left: 120px;
    }
    .name {
      .first_name {
        left: 120px;
      }
    }
    .label {
      padding-right: 10px;
      width: 110px;
    }
  }
}
.evtdis {
  text-decoration: none;
  position: relative;
  .disclosure {
    overflow: hidden;
    right: 10px;
    bottom: 10px;
    padding: 0;
    text-align: center;
    color: #fff;
    background: transparent url(/images/icons/disclosurecir26x27.png) no-repeat center top;
    height: 26px;
    width: 27px;
    position: absolute;
    z-index: 10;
    display: none;
    @include transition(height 0.25s);
  }
  &:hover {
    .disclosure {
      display: block;
    }
  }
  .image {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    border: 1px solid #333;
    img {
      z-index: 1;
    }
  }
  .fadeout {
    display: none;
    background: transparent url(/images/backgrounds/ltfadeout1x118.png) repeat-x bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .text {
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    color: #fff;
    padding: 10px 35px 10px 8px;
    .name {
      font-size: 15px;        
      text-shadow: #000 0px 1px 0x;
    }
  }
  .description {
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 15px;
  }
}

.explanation {
  margin-top: 10px;
  text-align: left;
  .title {
    padding: 5px 0 5px 35px;
    margin: 0;
    height: 27px;
    overflow: visible;
    line-height: 32px;
    font-size: 18px;
    background: transparent no-repeat left center;
  }
  &.guarantee {
    .title {
      img {
        margin-bottom: -7px;
      }
      background-image: url("/images/icons/starburst24x24.png");
    }
  }
  &.howitworks {
    .title {
      background-image: url("/images/icons/questioncir22x22.png");
    }
  }
  &.fineprint {
    .title {
      background-image: url("/images/icons/magnifyshdw22x22.png");
    }    
  }
  &.pricing {    
    .title {
      background-image: url("/images/icons/pricetag28x25.png");
    }
  }
  hr {
    @extend hr.light;
    margin: 0;
  }
  .content {
    li {
      font-size: 12px;
      margin: 8px 0;
    }
    p {
      font-size: 12px;
      margin: 8px 0;
      padding: 0;
    }
  }
}


.creditcard {
  text-align: left;
  position: relative;
  background: transparent url(/images/backgrounds/card340x204.png) no-repeat 0 0;
  font-family: consolas, courier, monospace;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
  width: 286px;
  height: 150px;
  padding: 24px 27px;
  font-size: 14px;
  &.editable.present {
    .editmode {
      display: none;
    }
    &:hover, &.editing {
      .editmode {
        display: block;
      }
      .displaymode {
        display: none;
      }
      .logo {
        background-image: url('/images/icons/pencil20x20.png');
      }
    }
  }
  ul.form.cc & {
    .editmode {
      .username {
        margin: 8px 0;
        input {
          width: 230px;
          text-transform: uppercase;
        }
      }
      .numcontainer {
        margin: 0 0 8px;
      }
      .ccnumber {
        width: 270px;
        margin: 0;
      }
      li {
        margin: 0;
        width: 286px;
      }
      .cvvcontainer {
        width: 76px;
        float: right;
        margin: 0 0 10px;
        input {
          width: 60px;
          text-align: left;
        }
      }
      .expiration {
        width: 203px;
        margin: 0 0 10px;
        padding-top: 5px;
        width: 203px;
        label {
          margin-right: 5px;
          float: left;
          height: 22px;
          line-height: 22px;
        }
        select {
          position: static;
          float: left;
          height: 20px;
          line-height: 20px;
          &.month {
            width: 50px;          
            margin-right: 5px;
          }
          &.year {
            width: 65px;
          }
        }
      }
      input {
        padding: 10px 8px 6px;
        font-family: consolas, courier, monospace;
        height: 14px;
        line-height: 14px;
        @include border_radius(0px);
        border: 1px solid #ededed;
        @include box_shadow(rgba(0,0,0,0.5) 0px 0px 5px inset);
      }
      .invalid input {
        border: 1px solid #933;
      }
      .placeholder {
        height: 20px;
        line-height: 25px;
      }
    }
  }
  .displaymode {
    .username {
      margin: 15px 0 0;
    }
    .ccnumber {
      font-size: 20px;
      margin: 23px 0;
    }
  }
  .logo {
    background: transparent url(/images/logos/sgray22x22.png) no-repeat center center;    
    position: absolute;
    top: 36px;
    right: 31px;
    width: 22px;
    height: 22px;
  }
  .expiration {
    float: left;
  }
  .security {
    background: transparent url(/images/icons/lockgry14x21.png) no-repeat top left;
    position: absolute;
    bottom: 24px;
    left: 27px;
    width: 14px;
    height: 21px;
  }
  .types {
    height: 25px;
    background: transparent url(/images/assets/creditcards/gryaccepted171x25.png) no-repeat top left;
    width: 171px;
    margin: 0;
    position: absolute;
    bottom: 24px;
    right: 27px;
    &.selected {
      background-image: url(/images/assets/creditcards/accepted171x25.png);
      width: 40px;
    }
    &.visa {
      background-position: 0 0;
    }
    &.mastercard {
      background-position: -45px 0;
    }
    &.amex {
      background-position: -90px 0;
    }
    &.discover {
      background-position: -135px 0;
    }
  }
}
