%div{:id => "code_#{code.id}"}
  -if code && !code.redeemed? && code.date >= Date.today
    %h1
      %var=code.code
      is still valid for
      =code.date == Date.today ? 'Today, ' : ''
      =code.date.strftime("%B %d, %Y")
      -if code.issued?
        and was issued to
        =code.owner.name
        =form_tag redeem_biz_business_code_path(code.business, code), :method => :put, :class => "code_redeem_form"  do
          =button_tag :class => "btngrypill300x30" do
            Redeem
      -else
        but has not been issued.
  -elsif code && !code.redeemed?
    %h1
      %var=code.code
      -if code.issued?
        was issued to 
        =code.owner.name
        and
      expired without being redeemed on
      =code.date.strftime('%B %d, %Y')        
  -elsif code && code.date >= Date.today
    %h1
      %var=code.code
      was redeemed at
      =code.redeemed_at.strftime('%I:%M %P on %B %d, %Y')
      and is no longer valid
  -else
    %h1
      Nothing found with code : 
      %var=params[:code]