%p Sincerely,
%p The Spot Team
%br
=mail_to "contact@spotmembers.com", "contact@spotmembers.com", :style => "color:#333"
%br
=link_to root_url, root_url, :style => "color:#333"
%br
=link_to "http://www.twitter.com/spotteam", "http://www.twitter.com/spotteam", :style => "color:#333"