-cssclass ||= nil

.explanation.fineprint{:class => cssclass}
  .title.tf
    The Fine Print
  %hr
  .content
    %ul
      %li
        ="Valid at #{@place.name} on the specified date"
        ="from #{@promotion.timeframe(false)} only."
      %li Limit 1 per bill. 
      %li Limit 1 per visit.
      %li While supplies last.
