-cssclass ||= nil

.explanation.five_reasons{:class => cssclass}
  .title.tf 5 Reasons to Join Spot Today
  %hr
  .content  
    %ul
      %li 
        .bullet Get In Before Its Gone :
        ="Spot Membership is limited to just 10,000 members per city."
      %li 
        .bullet We Keep It Fresh :
        ="New perks are being added all the time."
      %li 
        .bullet Membership Pays For Itself :
        ="Perks help you save at the places you go every day."
      %li 
        .bullet Say Goodbye To Coupons :
        ="Enjoy unlimited perks without feeling like a coupon clipper."
      %li 
        .bullet The Spot Guarantee :
        ="Not happy? Get your money back, no questions asked."
