-cssclass ||= nil

.explanation.five_reasons{:class => cssclass}
  .title.tf 5 Reasons to Join Spot Today
  %hr
  .content  
    %ul
      %li 
        .bullet Get In Before Its Gone :
        ="Spot Membership is limited to just 10,000 members per city."
      %li 
        .bullet We Keep It Fresh :
        ="Enjoy new events and experiences every month at the best spots in town."
      %li 
        .bullet Members-Only Pricing :
        ="Exclusive prices mean Spot Membership quickly pays for itself."
      %li 
        .bullet Experiences, Not Deals :
        ="Get treated like a VIP, not a coupon clipper."
      %li 
        .bullet The Spot Guarantee :
        ="Not happy? Get your money back, no questions asked."
