-cssclass ||= nil

.explanation.guarantee{:class => cssclass}
  .title.tf
    =image_tag "logos/black34x26.png", :size => "34x26", :alt => "Spot"
    Guarantee
  %hr
  .content
    %p
      ="Not happy? Get your money back, no questions asked."