-cssclass ||= nil

.explanation.guarantee{:class => cssclass}
  .title.tf
    The
    =image_tag "logos/black34x26.png", :size => "34x26", :alt => "Spot"
    Guarantee
  %hr
  .content
    %p 
      If you’re not satisfied with your experience using Spot, 
      we’ll give you your money back.
