-cssclass ||= nil

.explanation.pricing{:class => cssclass}
  .title.tf
    Pricing
  %hr
  .content
    %p 
      Spot Membership costs 
      %strong="$#{ANNUAL_PRICE} per year"
      or 
      %strong="$#{MONTHLY_PRICE} per month"
      ="."