-cssclass ||= nil

.explanation.pricing{:class => cssclass}
  .title.tf
    Pricing
  %hr
  .content
    %p 
      Spot Membership costs 
      %strong $35 per year
      or 
      %strong $5 per month
      ="."