%h1 
  Data Analysis as of 
  =Time.now.strftime("%b %d, %Y %l:%M%P")
-if @analysis.include?(:overall)
  #overall.summary.clearfix
    %h2 Overall : 
    -@analysis.overall.each do |stat|
      .stat{:id => stat[:id]}
        %strong= number_with_delimiter stat[:value]
        =stat[:title]
        
-if @analysis.include?(:today)
  #today.summary.clearfix
    %h2 Today : 
    -@analysis.today.each do |stat|
      .stat{:id => stat[:id]}
        %strong= number_with_delimiter stat[:value]
        =stat[:title]
    
#userinstalls.chart{'data-scope' => "user_installs", 'data-type' => "LineChart", "title" => "User Installs by Date"}
#wishlistbydate.chart{'data-scope' => "wishlist_by_date", 'data-type' => "LineChart", "title" => "Wishlist Items By Date"}
#sessionsbydate.chart{'data-scope' => "sessions_by_date", 'data-type' => "LineChart", "title" => "App Opens By Date"}
#activesbydate.chart{'data-scope' => "actives_by_date", 'data-type' => "LineChart", "title" => "Active Users By Date"}
#wishlisthistogram.chart{'data-scope' => "wishlist_histogram", 'data-type' => "ColumnChart", "title" => "Wishlist Size Distribution"}

=content_for :scripts do
  =javascript_include_tag "https://www.google.com/jsapi"    
    