%h1 
  Analysis as of 
  =Time.now.strftime("%b %d, %Y %l:%M%P")
.filters.clearfix
  %ul.pillbox
    %li.pill.first=link_to "overall", admin_analysis_path, :class => conditionally("active", @analysis.overall?)
    %li.pill=link_to "this week", admin_analysis_path(:range => :week), :class => conditionally("active", @analysis.week?)
    %li.pill=link_to "this month", admin_analysis_path(:range => :month), :class => conditionally("active", @analysis.month?)
    %li.pill.last=link_to "custom", '#customrange', :class => "reveals #{conditionally("active", @analysis.custom?)}"
  
  %ul#customrange.form.light.oneline{:class => conditionally("hidden", !@analysis.custom?)}
    -form_tag admin_analysis_path, :method => "get" do
      %li=text_field_tag :since, @analysis.start.strftime('%A, %B %d, %Y'), :class => "text dateinput"
      %li=text_field_tag :until, @analysis.end.strftime('%A, %B %d, %Y'), :class => "text dateinput"
      %li.buttons
        =button_tag :class => "btngrypill" do
          Analyze!
        
-if @analysis.include?(:overall)
  #overall.summary.clearfix
    %h2="#{@analysis.title || "Overall"} : "
    -@analysis.overall.each do |stat|
      .stat{:id => stat[:id]}
        %strong= number_with_delimiter stat[:value]
        =stat[:title]
        
-if @analysis.include?(:today)
  #today.summary.clearfix
    %h2 Today : 
    -@analysis.today.each do |stat|
      .stat{:id => stat[:id]}
        %strong= number_with_delimiter stat[:value]
        =stat[:title]

.charts
  -Analysis::CHARTS.each do |chart|
    .chart{'id' => chart.scope, 'data-scope' => chart.scope, 'data-type' => chart.type, 'title' => chart.title}

=content_for :scripts do
  =javascript_include_tag "https://www.google.com/jsapi"    
    