%h1 
  Data Analysis as of 
  =Time.now.strftime("%b %d, %Y %l:%M%P")
-if @analysis.include?(:overall)
  #overall.summary.clearfix
    %h2 Overall : 
    -@analysis.overall.each do |stat|
      .stat{:id => stat[:id]}
        %strong= number_with_delimiter stat[:value]
        =stat[:title]
        
-if @analysis.include?(:today)
  #today.summary.clearfix
    %h2 Today : 
    -@analysis.today.each do |stat|
      .stat{:id => stat[:id]}
        %strong= number_with_delimiter stat[:value]
        =stat[:title]

.filters
  %ul.pillbox
    %li.pill.first=link_to "overall", admin_analysis_path, :class => conditionally("active", params[:range].nil?)
    %li.pill=link_to "this week", admin_analysis_path(:range => :week), :class => conditionally("active", params[:range] == "week")
    %li.pill.last=link_to "this month", admin_analysis_path(:range => :month), :class => conditionally("active", params[:range] == "month")

.charts
  -Analysis::CHARTS.each do |chart|
    .chart{'id' => chart.scope, 'data-scope' => chart.scope, 'data-type' => chart.type, 'title' => chart.title}

=content_for :scripts do
  =javascript_include_tag "https://www.google.com/jsapi"    
    