.manager
  .top.clearfix
    %h1.title="Spot App Version : #{Rails.env.production?? `cat REVISION` : Rails.env}"    
  .top.clearfix
    %h1.title Your Location :
  %table.data
    %tr
      %td.left 
        %strong Mobile Browser?
      %td=mobile_browser?.inspect
    %tr
      %td.left 
        %strong I18n Locale
      %td=I18n.locale
    %tr
      %td.left 
        %strong Request Location
      %td=request_location_with_source
    -geo_country.to_hash.each do |key, value|
      %tr
        %td.left 
          %strong=key.to_s.humanize.titlecase
        %td=value
