.vcc
  .vc
    #about
      .info
        %h1 Never Forget a Place
        %p We're creating Spot to help people remember places they want to visit.
        %p We hear about great places all the time but then we forget them. There's no great, simple app that solves this problem, so we're making one.
        %hr
        %p.signature Spot is being handcrafted with care in San&nbsp;Francisco.
      .pictures.clearfix.preload
        =profile("Kent Lindstrom", "kent@spot-app.com", "Founder & CEO", nil)
        =profile("Jim Egbert", "jim@spot-app.com", "Business Development", nil)              
        =profile("Julia Graham", "julia@spot-app.com", "Marketing", nil)
        =profile("Niels Gabel", "info@spot-app.com", "Engineering", nil)
        =profile("Jesse Reiss", "info@spot-app.com", "Engineering", nil)
      .contact
        =mail_to "Feedback <feedback@spot-app.com>".html_safe, "Contact Us", :encode => "hex", :subject => "Spot Feedback", :class => "dark"
      .attribution
        Drawings Courtesy of
        =link_to "Joy Kim", "http://mumbojumbojoy.posterous.com/", :class => "dark"