-set_page_title "About Membership"
-set_spot_app_title "About Membership"

=content_for :bgimage do
  .stretcher{'data-gravity' => "1.0x1.0"}
    =image_tag "stretcher/cities/generic2.jpg"

=content_for :toptitle do
  About Spot Membership

=render :partial => "shared/membership/about"