=content_for :meta do
  =spot_app_title("About Membership")

=content_for :bgimage do
  .stretcher{'data-gravity' => "1.0x1.0"}
    =image_tag "stretcher/cities/generic2.jpg", :size => "2292x1524"

=content_for :toptitle do
  About Spot Membership

=render :partial => "shared/membership/about"