=content_for :bg do
  %ul#slidedeck
    %script#slidetpl{:type => "x-jquery-tmpl"}
      %li.slide.stretcher{"data-gravity" => "${gravity}", "title" => "${title}"}
        %img{:src => "${slide}", :size => "${size}"}

=content_for :footer do
  %nav.regular.clearfix
    =link_to "press", press_path
    =link_to "twitter", "http://www.twitter.com/spotteam", :target => "_new"
    =link_to "blog", blog_index_path
    =link_to "about", about_path
    -if logged_in?
      =link_to current_user.nickname.downcase, account_path
    -else
      =link_to "sign in", new_session_path
  %nav.icons.clearfix
    =img_link_to "assets/general/appstore140x40.png", getspot_path, :size => "140x40", :class => "getspot"
    =img_link_to "assets/general/bizlink160x40.png", biz_root_path, :size => "160x40", :class => "bizlink"

      

#spotlogo.flips
#slidetitle.tf
  
#toplayer.tf
  .intro.scene
    .content.clearfix
      .describe.half
        Spot Members receive
        %em exclusive access 
        to VIP privileges, unique promotions, and 
        %strong unforgettable experiences 
        at the 
        %em best restaurants in town.
      .entrance.request.half
        -if current_user && current_user.city
          %h2.center.tf="Welcome Back #{current_user.first_name}"
          =link_to "Explore #{city.name.titlecase}", city_path(city), :class => "btnorg250x32 action"
        -elsif current_user
          %h2.center.tf="Welcome Back #{current_user.first_name}"
          =link_to "Select Your City", account_path, :class => "btnorg175x32 action", :id => "select_city_link"
        -else
          -if session_invite
            %h2.tf You're Invited
          -else
            %h2.tf.registration Available By Invitation Only
            %ul.tabs.clearfix.registration
              %li.tab.tf.active#request_tab{"data-class" => "request"} Request an Invitation
              %li.tab.tf#invitation_tab{"data-class" => "invitation"} I have an Invitation
          
          =spot_form_for :email, :url => '#', :display => "faded clearfix", :ul_id => "email_form" do |f|
            =button_tag :class => "btnorg115x32 right tf" do
              =session_invite ? "continue" : "request"
            =f.email_field :email, :placeholder => "enter your email", :value => current_user.try(:email), :container_class => "left", :required => true
          
          =spot_form_for :invitation, :url => '#', :display => "faded clearfix", :ul_id => "invite_form" do |f|
            .clearfix
              .lock.left
                .shackle
                .bolt
              =link_to "Unlock", '#', :class => "btnorgpill unlock tf"
              =f.text_field :code, :placeholder => "invitation code", :container_class => "left", :required => true
          
          =spot_form_for :credentials, :url => session_path, :ul_id => "member_form", :display => "faded clearfix" do |f|
            %h2.tf Member Login
            =f.hidden_field :key, :value => nonce.digested
            =f.fields_for :password do |p|
              =p.email_field :login, :placeholder => "email", "data-validate-url" => existence_email_path, :required => true
              =p.password_field :password, :placeholder => "password", :required => true
            %li.buttons.clearfix
              =button_tag :class => "btnorg100x32" do
                login
              =link_to "forgot password?", new_password_reset_path
            .memberswitch
              =link_to "I'm not a member", '#', :class => "tab", "data-class" => "request", :rel => "#request_tab"
          
          .memberswitch.registration
            =link_to "I'm already a member", new_session_path, :class => "tab", "data-class" => "member", :id => "member_tab"
          
  .map.scene
    .vcc
      .vc
        .content
          %h1 Where?
          -City.visible.each do |city|
            %a.city{:href => city_path(city), :id => city.slug, :class => conditionally("active", city.subscription_available?), 'data-id' => city.id}
              =city.name.titlecase
          .cantfind
            Don't see your city on the map? 
            =link_to "Tell us where you live", new_city_path
            and we'll come to you next.
            
            
.hidden
  =form_tag portal_url, :method => :get, :id => "invitation_submit_form" do
    =hidden_field_tag :mc, '', :id => "invitation_code_value"
    =hidden_field_tag :cid, '', :id => "invitation_city_id"
    
  =form_for :email_subscription, :url => subscribe_email_path, :html => {:id => "subscription_form"} do |f|
    =f.hidden_field :email
    =f.hidden_field :city_id
  
  -if current_user
    =form_for :account, :url => account_path, :html => {:id => "account_update_form", :method => :put} do |f|
      =hidden_field_tag :redirect_to, root_url, :id => "account_redirect_to"
      =f.hidden_field :city_id
    