=content_for :bg do
  %ul#slidedeck
    %li#slide1.slide.stretcher{"data-gravity" => "0.5x0.5", :title => "Chef's Table Exclusive Seating at Credo"}
      =image_tag "assets/slideshow/slide1.jpg", :size => "2292x1524"
    %li#slide2.slide.stretcher{"data-gravity" => "0.5x0.5", :title => "Napa Wine Tasting at Foreign Cinema"}
      =image_tag "assets/slideshow/slide2.jpg", :size => "2292x1524"
    %li#slide3.slide.stretcher{"data-gravity" => "0.5x0.5", :title => "Beer and Sausage Pairing at Schmidt's"}
      =image_tag "assets/slideshow/slide3.jpg", :size => "2292x1524"
    
#spotlogo.flips
#slidetitle.tf
  
#toplayer.tf
  .intro.scene
    .content.clearfix
      %h1 1 city. 10,000 people.
      %p
        Spot Members get
        %br
        %em exclusive access 
        to VIP privileges, unique promotions, and 
        %strong unforgettable experiences 
        at the 
        %em best restaurants in town.
      =link_to "learn more", "#enter", :id => "enter", :class => "enter tf"
  .map.scene
    .vcc
      .vc
        .content
          %h1 Where?
          -City.visible.each do |city|
            %a.city{:href => city_path(city), :id => city.slug, :class => conditionally("active", city.subscription_available?)}=city.name.titlecase
          .cantfind
            Don't see your city on the map? 
            =link_to "Tell us where you live", new_city_path
            and we'll come to you next.
  .loading.scene
    .vcc
      .vc
        .content
          %h1.center.tf loading...