#spotlogo.flips
#slideshow
  #viewport
  #fadeout
  #slidetitle
  
#toplayer
  .intro.scene
    .content
      %h1 1 City. 10,000 People.
      %p
        Spot members get
        %br
        %em exclusive access 
        to VIP privileges, immense discounts, and 
        %strong unforgettable experiences 
        at the 
        %em best restaurants in town.
      =link_to "learn more", "#enter", :id => "enter", :class => "enter"
  .map.scene
    .vcc
      .vc
        .content
          %h1 Where?
          -City.subscriptions_available.each do |city|
            %a.city{:href => city_path(city), :id => city.slug} San Francisco
  .loading.scene
    .vcc
      .vc
        .content
          %h1.center.cgothic loading...

=content_for :ft do
  =render :partial => "/layouts/homefooter.html.haml"