#about
  .pictures
    .row.clearfix
      .profile.left
        =image_tag("assets/drawings/jim.png", :height => 250)
        .caption
          Jim - Biz Dev Extraordinaire
      .profile.right
        =image_tag("assets/drawings/julia.png", :height => 250)
        .caption
          Julia - Marketing Savvy
    .row.clearfix
      .profile.left
        =image_tag("assets/drawings/niels.png", :height => 250)
        .caption 
          Niels - Mobile Guru
      .profile.right
        =image_tag("assets/drawings/jesse.png", :height => 250)
        .caption 
          Jesse - Web Ninja