=content_for :toptitle do
  Terms of Service

.prose

  %p Welcome to Spot, an online community that lets you create a list of the places you go to see who else goes there and reveal other great places around you. The Spot service is operated by Spot, Inc. ("we," "us," or "Spot"). By using the Spot website (the "Website") you agree to be bound by these Terms of Service (this "Agreement"). In addition, if you are an individual who wishes to become a Spot Member (a "Member"), communicate with other Members and make use of the Spot service (the "Service"), you must read this Agreement and indicate your acceptance of its terms by following the instructions on the "Sign Up" page and checking the box labeled "I agree to Spot's terms of service."

  %ol
    %li
      %strong Eligibility.
      You must be thirteen or over to use the Website or register as a Member. Use of the Website and membership in the Service are void where prohibited. By agreeing to these terms or by using the Website, you represent and warrant that you have the right, authority and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement.
    %li
      %strong Term.
      This Agreement will remain in full force and effect while you use the Website and/or are a Member. You may terminate your membership at any time for any reason by following the instructions on the Cancel Account page in Account Settings. We may terminate your membership for any reason at any time. If you are using a paid version of the Service and we terminate your membership in the Service because you have breached this Agreement, you will not be entitled to any refund of unused subscription fees. Even after your membership is terminated, certain sections of this Agreement will remain in effect. See Section 14 below for a list of the provisions of this Agreement that will survive the termination of your membership.

    %li
      %strong Non Commercial Use by Members.
      The Service and the Website are for the personal use of individual Members only. You may not use the Website or the Service in connection with any commercial endeavors without our express written consent in each case. Organizations, companies and/or businesses, including third party companies or developers posting or otherwise making Third Party Materials available on or via the Website may not become Members and should not use the Service or the Website for any purpose. No Member may copy, transfer or use any names, photos, links, text, data or other content belonging to or posted by Spot or other Members for the purpose of selling, engaging in, marketing or promoting any other product or service. Illegal and/or unauthorized uses of the Website, including collecting usernames, email addresses or other personally identifiable information of Members by electronic or other means for the purpose of sending unsolicited email, unauthorized framing of or linking to the Website or any other use not expressly permitted in this Agreement, will be investigated and appropriate legal action will be taken, including, without limitation, civil, criminal and injunctive redress. In addition to the above restrictions, you may not authorize, enable or otherwise grant to any other person, organization, company or business access to your Spot profile or other content uploaded on the Website for the purpose of extracting such information or other content.

    %li
      %strong Proprietary Rights in Content.
      %ol
        %li
          %strong Rights in Content Posted by Spot or Other Members.
          We own and retain all proprietary rights in the Website and the Service. The Website contains certain copyrighted material, including links and compilations of individual data, trademarks and service marks and other proprietary information of Spot, our Members and our licensors. Except for any information which is in the public domain, you may not use, copy, modify, publish, transmit, distribute, perform, display or sell any such proprietary materials or information without our express written consent in each case.

        %li
          %strong Rights in Content Posted by You.
          By publishing, displaying or uploading (collectively, "Posting") any text, links, photos, video, messages or other data or information (collectively, "Content") on or to the Website (including on or to your profile), you automatically grant, and you represent and warrant that you have the right to grant, to Spot an irrevocable, perpetual, nonexclusive, fully-paid and worldwide license to use, copy, perform, display and distribute such Content and to prepare derivative works of, or incorporate into other works, such Content and to grant and authorize sublicenses of the foregoing.

    %li
      %strong Content Posted by You to the Service and the Website.
    
      %ol{:type => 'a'}
    
        %li
          %strong Public Profile Information.
          Regardless of what personal information a you choose to
          include in your Spot profile or what level of sharing of your profile you choose, certain
          information about every Spot Member will be included in that Member's "public profile." A
          Member's public profile is an abbreviated version of that Member's regular Spot profile,
          containing the information listed below, which will be available to any user of the Website, as well as
          to the general public through, for instance, search engines like Yahoo! or Google. Each individual
          Member's public profile includes the following information about that Member:
          %ul
            %li Name (first, or first and last, depending on which option the Member chooses)
            %li Gender
            %li Age
            %li Marital Status (or the Member's other response to this category of the Spot profile)
            %li People the Member is interested in meeting (e.g., "Dating Men," "Dating Women," "Friends," etc.)
            %li Location
            %li Hometown
            %li "Member Since" date
            %li The URL of the Member's Spot profile
      
        %li
          %strong Removal of Content.
          Removal of Content. You understand and agree that we may review and delete any
          Content that you include in your profile or otherwise Post on any area of the Website (which may
          include deleting your entire profile) that we, in our sole judgment, believe (1) violates this Agreement,
          (2) might be offensive or illegal or (3) might violate the rights of, harm or threaten the safety of any
          other Member.

      
        %li
          %strong Member Responsibility for Content.
          You are solely responsible for the Content that you
          Post on the Website or the Service or transmit to other Members.
      
        %li
          %strong Prohibited Content.
          Below is a partial list of the kind of Content that is illegal or prohibited
          on the Website. Posting of any of this Content by you may result, in our sole discretion, in
          termination of your membership. In addition, we reserve the right to investigate and take appropriate
          legal action, in our sole discretion, against anyone who violates this provision, including, without
          limitation, removing the offending communication from the Website and reporting such violator to the
          appropriate legal authorities. Prohibited Content includes but is not limited to Content that, in our sole
          judgement:
          %ul
            %li is patently offensive to the online community, such as Content that promotes racism, bigotry,
            hatred or physical harm of any kind against any group or individual;
            %li harasses or advocates harassment of another person;
            %li involves the transmission of "junk mail," "chain letters," "spam" or any other unsolicited mass
            mailing, emailing or other communication;
            %li includes any information that (1) you know is false or misleading, (2) promotes illegal
            activities or conduct that is abusive or (3) is threatening, obscene, defamatory or libelous;
            %li constitutes or includes any illegal or unauthorized copy of another person's copyrighted or
            copyrightable work, including but not limited to, (1) pirated computer programs or links to
            them, (2) information which circumvents manufacturer-installed copy-protect devices, (3)
            pirated music, images or video or links to pirated music, image or video files or (4) Content
            which otherwise violates the terms of Section 8 below;
            %li displays pornographic or sexually explicit material of any kind;
            %li includes material that exploits people under the age of 18 in a sexual or violent manner or is
            intended to solicit personal information from anyone under 18;
            %li provides instructional information about illegal activities such as making or buying illegal
            weapons, violating someone's privacy or providing or creating computer viruses;
            %li solicits passwords or personally-identifying information for commercial or unlawful purposes
            from other Members;
            %li constitutes or includes any promotion, sales or other commercial activity such as contests,
            sweepstakes, barter or advertising
            %li solicits people you do not know to add you or accept you as a friend on the Service.        
          Even though all of the above Content is strictly prohibited, there is a small chance that you may
          become exposed to such items while using the Website or the Service. If so, neither we nor any of
          our officers, directors, employees, shareholders, advertisers or corporate partners will in any way be
          responsible for any damages incurred or suffered by any party or caused by any party arising out of
          or related to any such exposure. Please see Sections 11 and 12 below for further limitations on our
          liability.


    %li
      %strong Further Restrictions on Your Use of the Website and the Service.
      %ol{:type => 'a'}
        %li You must use the Website and the Service in a manner consistent with any and all
        applicable laws and regulations.
        %li You may not include in your Member profile any telephone numbers, street addresses or
        email addresses.
        %li Although Spot cannot monitor the conduct of its Members off the Website, it is a
        violation of this Agreement to use any information obtained from the Service or the Website in order
        to harass, abuse or harm another person or in order to contact, advertise to, solicit or sell to any
        Member without the prior explicit consent of such Member and Spot. To protect our Members
        from such conduct, we reserve the right, in Spot’s sole discretion at any time, to restrict the
        number of emails or other communications that a Member may send to other Members.


    %li
      %strong Copyright Protection Policy.
      You may not Post, distribute or reproduce in any way any
      copyrighted material, trademarks or service marks or other proprietary information owned by another
      party without obtaining the prior written consent of the copyright owner. If you believe that your work has
      been copied and Posted on the Website without your permission or in any other way that constitutes
      copyright infringement, please 
      ="#{mail_to "contact us", "support@spot-app.com"}.".html_safe


    %li
      %strong Member Disputes.
      You are solely responsible for your interactions with other Members. We
      reserve the right, although we have no obligation, to monitor disputes between you and other Members
      and to take any action that we feel may be appropriate in our sole discretion, consistent with the terms of
      this Agreement, including termination of the membership of one or more Members.

    %li
      %strong Disclaimers.
      %ol{:type => 'a'}
        %li
          We are not responsible for any incorrect or inaccurate Content Posted on the Website or
          in connection with the Service, whether made or caused by users of the Website, Members, our
          advertisers or corporate partners or by any of the equipment or programming associated with or
          utilized in the operation of the Website or the Service.
        %li
          %strong
            WE ARE NOT RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR
            OFFLINE, OF ANY MEMBER OR OTHER USER OF THE WEBSITE. UNDER NO
            CIRCUMSTANCES WILL WE BE RESPONSIBLE FOR ANY LOSS, LIABILITY OR DAMAGE,
            INCLUDING PERSONAL INJURY OR DEATH OR PROPERY DAMAGE, RESULTING FROM OR
            ARISING OUT OF ANYONE'S USE OF THE WEBSITE OR THE SERVICE, ANY CONTENT
            POSTED ON THE WEBSITE OR TRANSMITTED TO MEMBERS OR OTHER USERS OR ANY
            INTERACTIONS BETWEEN OR AMONG MEMBERS OR OTHER USERS OF THE WEBSITE,
            WHETHER ONLINE OR OFFLINE.
        %li
          We assume no responsibility for any error, omission, interruption, deletion, defect, delay in
          operation or transmission, communications line failure, theft or destruction or unauthorized access to
          or alteration of user or Member communications. We are not responsible for any problems or
          technical malfunction of any telephone network or lines, computer online systems, servers or
          providers, computer equipment, software, failure of email or players on account of technical
          problems or traffic congestion on the Internet or at any website or combination thereof. We are not
          responsible for any injury or damage to any computer equipment belonging to any user of the
          Website, any Member or any other person related to or resulting from use of the Website, viewing,
          playing or downloading any materials on or from the Website or otherwise in any way in connection
          with the Service. The Website and the Service are provided "AS IS" and, except as otherwise
          prohibited by applicable law, we expressly disclaim any warranty of any kind, including but not limited
          to warranties of merchantability, fitness for a particular purpose and non-infringement. We cannot
          guarantee and do not promise any specific results from use of the Website or the Service. No advice
          or information, whether oral or written, obtained by you from us or from or through the Website or the
          Service shall create any warranty not expressly stated herein.



    %li
      %strong Limitation on Liability.
      Notwithstanding any other provision of this Agreement, our entire liability
      to you for any cause whatsoever, regardless of the form of the action, will at all times be limited to the
      amount paid, if any, by you to us for the Service during the term of this Agreement. Except in
      jurisdictions where such provisions are restricted, in no event will we be liable to you or any third person
      for any indirect, consequential, exemplary, incidental, special or punitive damages, including lost profits
      arising from your use of the Website or the Service, even if we have been advised of the possibility of
      such damages.

    %li
      %strong Disputes.
      If there is any dispute between you and us about or involving the Website or the Service,
      by using the Website or the Service, you agree that the dispute will be governed by the laws of the State
      of California without regard to its conflict of law provisions. You agree to personal jurisdiction under and
      venue in the state and federal courts located in San Francisco County, California for the resolution of
      any such dispute.

    %li
      %strong Indemnity.
      You agree to indemnify and hold Spot and its subsidiaries, affiliates, officers,
      agents, employees and corporate or other partners harmless from any loss, liability, claim or demand,
      including reasonable attorneys' fees, arising out of or relating to: (a) your use of the Website or the
      Service (including the Posting by you of any Content on the Website) in violation of this Agreement, (b)
      any other breach of this Agreement by you or (c) any breach of your representations and warranties set
      forth above.

    %li
      %strong No Agency.
      There is no agency, partnership, joint venture, employee-employer or franchisor-
      franchisee relationship between you and us or between us and any other Member or user of the
      Website.

    %li
      %strong Survival.
      Although this Agreement may be terminated by you or us at any time and for any reason,
      the terms of the following sections of this Agreement will survive any such termination and you and we
      will continue to be bound by such terms indefinitely: Section 2 (Term), Section 5 (Proprietary Rights in
      Content), Section 10 (Member Disputes), Section 11 (Disclaimers), Section 12 (Limitation on Liability),
      Section 13 (Disputes), Section 14 (Indemnity), Section 16 (Survival) and Section 17 (Other).

    %li
      %strong Other.
      You will be deemed to have accepted the terms of this Agreement upon use of the Website
      or by becoming a Member. This Agreement, together with our 
      ="#{link_to "Privacy Policy", privacy_path},"
      and any notices regarding the Website or the Service sent to you or posted on the Website, all of which are incorporated herein by
      this reference, contains the entire agreement between you and us regarding the use of the Website or
      the Service. Our failure to exercise or enforce any right or provision of this Agreement shall not
      constitute a waiver of such right or provision. If any provision of this Agreement is held invalid or
      unlawful, the remainder of this Agreement shall continue in full force and effect unless such deletion
      materially frustrates the intent of the parties, in which case this Agreement will terminate.
