-set_page_title "#{@registration.event.name} Registration"
-set_spot_app_title "Register"

=content_for :toptitle do
  Registration for
  =@registration.promotion.name 
  at
  =@registration.place.name
#claimdialog
  .code.clearfix
    =render :partial => "code"