=content_for :hd do
  %h1#message="Remember places like #{@place.name_with_city} with #{link_to("Spot&nbsp;for&nbsp;iPhone".html_safe, getspot_path)}".html_safe
  #card_header
    #logo
      =image_tag "logos/black_spot_with_tag160x75.png", :size => "160x75 ", :alt => "spot"

.place{:id => "place_#{@place.id}"}
  .image
    =image_tag @place.image.url(:i640x400), :size => "320x200", :alt => @place.name_with_city
  .content
    %h1.name=@place.name
    -if @place.phone_number.present?
      .phone=phone_link(@place.phone_number)
    .address
      -@place.address_lines.each do |a|
        %h2=a
    .wishlists
      ="#{@place.wishlist_count} Wishlists"
    .buttons_container
      =link_to "Add to Wishlist", getspot_path, :class => "phone_whitegray_288x37"
      =link_to "View Map", gmap_url(:name => @place.name, :ll => @place), :class => "phone_whitegray_288x37"

=content_for :ft do
  .share.clearfix
    .fb=fb_share_url(place_url(@place), :title => page_title, :description => page_description, :image => @place.image.url(:i117x84))
    .twitter=twitter_share_url(place_url(@place), @place.share_tweet)
  =itunes_store_link('assets/general/app_store_transparent116x40.png', :size => "116x40")    