.form_container
  %h1 First, tell us about yourself...
  =spot_form_for @account, :url => biz_account_path, :display => "light" do |f|
    -if logged_in?
      =f.hidden_field :user_id, :value => current_user.id
    =render :partial => "/biz/accounts/fields", :locals => {:form => f}
    -unless logged_in?
      =f.password_field :password, :placeholder => "password", :required => true, :hint => "4 to 25 characters please", :minlength => 4, :maxlength => 25, :value => ""
    %li.buttons.left.clearfix
      =button_tag :class => "btngrypill300x30" do
        continue