.accounthd.clearfix
  %h1.title=current_account.name
  
  %hr

.accountcontent.clearfix
  #businesses.section.left
    .content.bizlist
      %h2 My Businesses
      %ul.placelist.large
        =render :partial => "/biz/businesses/list"
      %a.newbiz.btngrypill400x30{:href => new_biz_business_path}
        %span.plus + 
        Claim Another Business

  #contactinfo.section.right
    .contact.content
      %h2 My Contact Information
      =spot_form_for current_account, :url => biz_account_path, :display => "light" do |f|
        =render :partial => "/biz/accounts/fields", :locals => {:form => f}
        %li.buttons.left.clearfix
          =button_tag :class => "btngrypill300x30" do
            Update