.acquisition {
  .urlbuilder {
    padding: 20px;
    .form {
      width: 300px;
      margin: 0 auto;
    }
    .value {
      margin: 20px 0;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }
}