.admin_promotions {
  ul.form.reject {
    padding: 20px 0;
    h1 {
      margin-bottom: 20px;
    }
    form {
      width: 300px;
      margin: 0 auto;
    }
    h2 {
      font-size: 16px;
    }
    button {
      width: 300px;
    }
  }
  .promotion {
    margin: 1em 0 2em;
    .cost {
      line-height: 30px;
      label {
        padding-right: 10px;
      }
    }
    &.loading {
      @include opacity(0.5);
    }
    .summary {
      margin-top: 10px;
      .status {
        font-weight: bold;
        &.approved {
          color: #556B2F;
        }
        &.pending {
          color: #EEAD0E;
        }
        &.rejected {
          color: #ff3333;
        }
      }
    }
    label {
      font-weight: bold;
    }
    .buttons {
      a {
        float: left;
        width: 60px;
        margin-right: 10px;
      }
    }
    ul {
      margin-right: 1em;
      float: left;
      li.vcenter {
        padding-top: 150px;
      }
      &.reject {
        margin-top: 89px;
      }
    }
  }
}