.admin_promotions {
  .promotion {
    margin: 1em 0 2em;
    .cost {
      line-height: 30px;
      label {
        padding-right: 10px;
      }
    }
    &.loading {
      @include opacity(0.5);
    }
    .summary {
      margin-top: 10px;
      .status {
        font-weight: bold;
        &.approved {
          color: #556B2F;
        }
        &.pending {
          color: #EEAD0E;
        }
        &.rejected {
          color: #ff3333;
        }
      }
    }
    label {
      font-weight: bold;
    }
    ul {
      margin-right: 1em;
      float: left;
      li.vcenter {
        padding-top: 120px;
      }
      &.reject {
        margin-top: 40px;
      }
    }
  }
}