.image_search_results {
  height: 550px;
  position: relative;
  .preview {
    text-align: center;
    height: 150px;
    margin: 0 10px;
    background: url(/images/assets/maps/marker.png) no-repeat center center;
  }
  .form_wrapper {
    margin: 0;
    width: 380px;
    form.loading {
      padding: 0 0 15px 0;
      background: url(/images/assets/loading/org3blck16x11.gif) no-repeat bottom center;
    }
    li {
      padding: 5px 0;
    }
    button {
      float: right;
    }
  }
  .sections {
    height: 360px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .section {
    clear: both;
    padding: 0.5em 0;
  }
  h1 {
    padding: 0.5em 0;
  }
  .image_potential {
    display: block;
    float: left;
    margin: 0.25em;
    border: 1px solid #333;
    height: 90px;
    width: 90px;
    @include border_radius(3px);
    background: #ddd no-repeat center center;
    cursor: pointer;
    &:hover {
      border: 1px solid #ff8419;
    }
  }
}
