.image_search_results {
  height: 500px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  .form_wrapper {
    margin: 0;
    width: 380px;
    form.loading {
      padding: 0 0 15px 0;
      background: url('/images/assets/loading/orange-3block-16x11.gif') no-repeat bottom center;
    }
    li {
      padding: 5px 0;
    }
    button {
      float: right;
      font-size: 12px;
      height: 26px;
      line-height: 26px;
      border: 1px solid #666;
      color: #ccc;
      width: 80px;
      background: #333;
      @include gradient_top_down(#333, #000, 100%);
      @include border_radius(3px);
      text-shadow: #000 0px -1px 0px;
      .btntxt {
        text-align: center;
        line-height: 12px;
        height: 14px;   
      }
      &:hover {
        color: #BBB;
        @include gradient_top_down(#333, #000, 50%);
      }
      &:active {
        @include gradient_top_down(#000, #333, 100%);
        color: #999;
      }
    }
  }
  .section {
    clear: both;
    padding: 0.5em 0;
  }
  h1 {
    padding: 0.5em 0;
  }
  .image_potential {
    display: block;
    float: left;
    margin: 0.25em;
    border: 1px solid #333;
    height: 90px;
    width: 90px;
    @include border_radius(3px);
    background: #ddd no-repeat center center;
    cursor: pointer;
    &:hover {
      border: 1px solid #ff8419;
    }
  }
}
