body, html {
  height: 100%;
  width: 100%;
  font-size: 12px;
}
body, html, input, textarea, button {
  font-family: 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
}
#bg {
  min-width: 1000px;
  .left {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: #fff url(/images/backgrounds/paisley_light_borderfade.jpg) no-repeat center left;
    width: 400px;    
  }
  .right {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #fff url(/images/backgrounds/paisley_light_borderfade.jpg) no-repeat center right;
    width: 400px;    
  }
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
a, a:visited {
  color: #333;
  font-weight: bold;
  &:hover {
    color: #ff8419;
  };
}
#page {
  padding: 115px 0 0 0;
  min-height: 100%;
  width: 1230px;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(0.10, rgba(255,255,255,1.0)), color-stop(0.90, rgba(255,255,255,1.0)), to(rgba(255,255,255,0)));
  background: -moz-linear-gradient(left center, rgba(255,255,255,0), rgba(255,255,255,1.0) 10%, rgba(255,255,255,1.0) 90%, rgba(255,255,255,0.0) 100%);
  .ie7 &, .ie8 & {
    width: 1030px;
  }
  #hd {
    position: absolute;
    top: 0px;
    left: 100px;
    right: 100px;
    height: 108px;
    padding: 7px 25px 0;
    background: transparent url(/images/backgrounds/top_nav1020x115.png) no-repeat top left;
    .ie7 &, .ie8 & {
      left: 0px;
      right: 0px;
    }
    #logo {
      float: left;
    }
    #nav {
      float: right;
      padding: 50px 0 0 0;
      text-align: right;
      font-size: 1.5em;
      li {
        list-style: none;
        float: left;
      }
      a {
        color: #ddd;
        @extend .blackimg_77x32;
        &.current {
          color: #ddd;
          text-shadow: #333 0px -1px 0px;
          background: transparent url(/images/buttons/black_button_77x32_active.png) no-repeat center center;
        }
      }
    }
  }
  #bd {
    width: 980px;
    margin: 0 auto;
    #flash {
      position: absolute;
      top: 130px;
      left: 0;
      right: 0;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: bold;
      .flash {
        height: 40px;
      }
      .error {
        background: #993333;
        color: #fff;
      }
      .notice {
        background: #339933;
        color: #fff;
      }
    }
  }
}
h1.title {
  font-size: 2em;
  margin: 10px auto;
}
h2.title {
  font-size: 1.5em;
  margin: 10px auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}