body, html {
  height: 100%;
  width: 100%;
  font-size: 12px;
  position: relative;
}
body, html, input, textarea, button {
  font-family: 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
}
#bg {
  min-width: 1000px;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
a, a:visited {
  color: #333;
  font-weight: bold;
  &:hover {
    color: #ff8419;
  };
}
#page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 115px 0 0 0;
  z-index: 10;
  #hd {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 108px;
    padding: 7px 25px 0;
    background: transparent url(/images/backgrounds/repeatable_top_nav_1000x115.png) repeat-x top left;
    overflow: hidden;
    #logo {
      float: left;
    }
    #place_search {
      padding: 55px 0 0 0;
      float: right;
    }
    #nav {
      float: right;
      padding: 50px 0 0 0;
      text-align: right;
      font-size: 1.5em;
      li {
        list-style: none;
        float: left;
      }
      a {
        @extend .blackimg_77x32;
        &.current {
          color: #ddd;
          text-shadow: #333 0px -1px 0px;
          background: transparent url(/images/buttons/black_button_77x32_active.png) no-repeat center center;
        }
      }
    }
  }
  #bd {
    width: 980px;
    margin: 0 auto;
  }
}
h1.title {
  font-size: 2em;
  margin: 10px auto;
}
h2.title {
  font-size: 1.5em;
  margin: 10px auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}