.manager {
  .breadcrumb {
    font-size: 1.5em;
    margin: 10px 1em;
    font-weight: bold;
  }
  .top {
    .title {
      float: left;
      margin: 0.5em 0.5em 0.5em 0;
    }
    .links, .pagination {
      margin: 1.5em 0 0 0;
      padding: 5px 0;
    }
  }
  .pagination {
    padding: 5px 0;
    width: 125px;
    float: right;
    clear: both;
    .next {
      float: right;
    } 
    .previous {
      margin-right: 10px;
      float: right;
    }
  }
  .links {
    float: left;
    a {
      padding: 0 1em 0 0;
    }
  }
  .form {
    clear: both;
    margin: 1em 0;
  }
  table.data {
    clear: both;
    width: 100%;
    tbody {      
      tr {
        border-bottom: 1px solid #bbb;
      }
    }
    th {
      padding: 5px 3px;
      background: #333;
      color: #ddd;
      text-align: center;
      text-shadow: 0px 1px 0px #000;
      &.rtxt {
        text-align: right;
        padding: 5px 7px;
      }
      &.ltxt {
        padding: 5px 7px;
        text-align: left;
      }
    }
    td {
      padding: 10px 5px;
      vertical-align: middle;
    }
    .center {
      text-align: center;
    }
  }
  .form_wrapper {
    margin: 1em;
    width: 297px;
  }
}