.place {
  .place_image.loading {
    @include opacity(0.1)
  }
}
#admin_matches_index {
  .match {
    background: #F2F2E6;
  }
}
#admin_places_matches {
  .data {
    .place {
      background: #FFDEC2;
    }
    .filled {
      background: #F2F2E6;
    }
  }
}
.place.detail {
  .iphone {
    float: left;
    .content {
      background: #fff;
    }
  }
  .page_link {
    padding: 1em 0;
    text-align: center;
    clear: both;
  }
  padding: 0 1em;
  width: 725px;
  margin: 0 auto;
  .sidebar {
    padding: 0 0 0 0;
    float: right;
    text-align: center;
    .map {
      width: 320px;
      height: 250px;
      margin: 0 auto;
    }
  }
  .external_places {
    width: 320px;
    a.potential {
      padding: 5px;
      color: #999;
      &:hover {
        color: #ff8419;
      }
    }
  }
  .duplication {
    clear: both;
    font-size: 0.9em;
    p {
      padding: 5px 0;      
    }
  }
  .latlng {
    margin: 10px 0;
  }
}