.place {
  .place_image.loading {
    @include opacity(0.1)
  }
}
#admin_places_index {
  #search_form_wrapper {
    clear: both;
    width: 390px;
    margin: 1em 0;
    button {
      float: right;
    }
  }
}
.place.detail {
  padding: 0 1em;
  width: 725px;
  margin: 0 auto;
  .sidebar {
    padding: 0 0 0 0;
    float: right;
    text-align: center;
    .map {
      width: 320px;
      height: 250px;
      margin: 0 auto;
    }
  }
  .phone {
    height: 713px;
    width: 365px;
    float: left;
    background: transparent url(/images/assets/devices/iphoneframe365x713.png) no-repeat center center;
    padding: 1px 1px 1px 4px;
    .content {
      width: 320px;
      height: 498px;
      margin: 100px auto 0;
      background: #fff;
      .top_bar {
        position: relative;
        z-index: 10;
        @include box_shadow("1px 0px 10px #333");
        background: #333 url(/images/backgrounds/paisley_dark_centerfade.jpg) no-repeat center center;
        color: #fff;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        line-height: 40px;
        width: 320px;
        height: 40px;
      }
    }
  }
  .image {
    height: 200px;
  }
  .info {
    padding: 5px 10px;
    .name {
      font-weight: bold;
      font-size: 1.5em;
    }
    .address {
      color: #999;
      font-size: 0.9em;
    }
  }
  .latlng {
    margin: 10px 0;
  }
}