#admin_settings_index {
  #new_setting_form {
    display: none;
  }
  table.data {
    
  }
}

#admin_home_analysis {
  h1 {
    margin: 1em 0;
    text-shadow: 0px 1px 0px #fff;
  }
  .filters {
    margin: 0 0 1em 0;
    ul.form {
      clear: both;
      padding: 1em 0;
    }
  }
  .summary {
    margin-bottom: 10px;
    padding: 0 0 0 5px;
    h2 {
      line-height: 25px;
      float: left;
      text-shadow: 0px 1px 0px #fff;
      margin-bottom: 5px;
      font-size: 15px;
      width: 80px;
    }
    .stat {
      float: left;
      margin: 0;
      text-shadow: 0px 1px 0px #fff;
      font-size: 15px;
      width: 200px;
      strong {
        font-size: 20px;
        color: #ff8419;
        padding-right: 5px;
      }
    }
  }
  .charts {
    width: 980px;
  }
  .chart {
    width: 490px;
    height: 390px;
    float: left;
    &.loading {
      background: transparent url(/images/assets/loading/blkgears30x40.gif) no-repeat center center;
    }
  }  
}
