=render :partial => "header", :locals => {:title => "Membership Experiences"}    

.upcoming.clearfix
  -(@page.upcoming).each do |template|
    %a.evtdis.template{:class => cycle("even", "odd"), :href => place_event_path(template.place, template)}
      .image
        =image_tag template.place.image.url(:i640x400), :size => "400x250"
        .text
          .name.tf="#{template.place.name} : #{template.name}"
          .disclosure
      .short_summary.tf
        =template.short_summary.to_s
      
  .evtdis.updates.template{:class => cycle("even", "odd")}
    .image
      =image_tag "backgrounds/newupdates400x250.png", :size => "400x250"
      .text
        .name.tf="And Many More..."
      .content
        -if current_user
          We'll send you emails as new Experiences are added.
        -else
          =link_to "Join our mailing list", new_application_path, :class => "btnmembership"
          to get updates when new Experiences are added.
    .short_summary.tf
      New Experiences Added Daily