%p{:style => "text-align:center;"}
  -places = Place.where(:id => [5992, 6019, 10564, 13560]).order('id ASC').all
  =img_link_to "https://s3.amazonaws.com/spot-production/places/6019/images_i234x168.jpg?1299100206", place_url(places[0]), :size => "117x84", :title => "Alinea in Chicago", :style => "display:block;float:left;margin:0;padding:0;border:0;", :border => 0, :alt => "Alinea"
  =img_link_to  "https://s3.amazonaws.com/spot-production/places/5992/images_i234x168.jpg?1299097024", place_url(places[1]), :size => "117x84", :title => "Momofuku Noodle Bar in New York City", :style => "display:block;float:left;margin:0;padding:0;border:0;", :border => 0, :alt => "Momofuku Noodle Bar"
  =img_link_to "https://s3.amazonaws.com/spot-production/places/13560/images_i234x168.jpg?1301669260", place_url(places[2]), :size => "117x84", :title => "Serpentine in San Francisco", :style => "display:block;float:left;margin:0;padding:0;border:0;", :border => 0, :alt => "Serpentine"
  =img_link_to "https://s3.amazonaws.com/spot-production/places/10564/images_i234x168.jpg?1300151756", place_url(places[3]), :size => "117x84", :title => "Nobu in Malibu", :style => "display:block;float:left;margin:0;padding:0;border:0;", :border => 0, :alt => "Nobu"
  
%p{:style => "clear:both;padding-top:15px;"}
  Spot is a new service that hooks you up with deals at restaurants you want to go to.
%p
  We’re sick of daily emails offering spa discounts, half-price carpet cleaning and other stuff we aren't interested in, so we’re creating something different. 

%h2{:style => "font-size:18px;color:#333 !important;"} How Does it Work?
%p
  Tell us where you'd like to get deals by adding places to your wishlist. We'll reach out to these businesses on your behalf and work out a deal for you. When a deal becomes available, we'll let you know. Simple!

%h2{:style => "font-size:18px;color:#333 !important;"} Why Does This Work?
%p
  All restaurants have slow times and extra tables they need to fill. We help business owners by connecting them with people like you who are interested in dining at their restaurant. In exchange for dining during slow periods, restaurant owners agree to offer Spot Members significant discounts on their bill.

%h2{:style => "font-size:18px;color:#333 !important;"} Awesome!
%p 
  Yea, it's pretty awesome. We're launching soon and now that you're subscribed, we'll let you know as soon as we find a deal at a place on your wishlist.

%p
  In the meantime, keep adding places and follow us on Twitter to stay in the loop about launch promotions and giveaways in your city.

%p
  If you have any questions, you can contact me, Julia, at julia@spot-app.com. 

%p
  Sincerely,
%p
  Julia Graham
  %br
  =mail_to "julia@spot-app.com", "julia@spot-app.com", :style => "color:#333"
  %br
  =link_to "http://www.spot-app.com", "http://www.spot-app.com", :style => "color:#333"

%p
  Tell a friend
  through
  =link_to "Facebook", fb_share_url("http://www.spot-app.com", "Signed up for new Spot Deals!"), :style => "color:#333"
  or
  =link_to "Twitter", twitter_share_url("http://www.spot-app.com", "Signed up for new Spot Deals, I choose places, they get me deals @spotteam"), :style => "color:#333"

=content_for :ft do
  %p{:style => "color:#999;font-size:8px;text-align:center;margin:10px 20px;"}
    ="Alinea photo courtesy of #{link_to 'Sifu Renka', 'http://www.flickr.com/people/55421902@N00/', :style => "color:#999;"}, Serpentine photo courtesy of #{link_to "http://www.starchefs.com", "http://www.starchefs.com", :style => "color:#999;"} and Nobu photo courtesy of #{link_to "http://diary.thepurplepassport.com", "http://diary.thepurplepassport.com", :style => "color:#999;"}".html_safe
  