.container 
  .areyousure.section
    %h1.tf Are you sure you want to register?
    
    .summary
      %p
        =link_to @promotion.name, place_event_path(@place, @promotion), :target => "_new"
        at 
      %p
        =link_to @place.name, place_path(@place), :target => "_new"
        on 
      %p="#{@event.date.strftime('%B %d, %Y')} from #{@event.timeframe_array.join(" to ")}"
    
    =form_for :registration, :url => registrations_path, :html => {:id => "claimform"} do |f|
      =f.hidden_field :promotion_id, :value => @promotion.id
      =f.hidden_field :place_id, :value => @place.id
      =f.hidden_field :event_id, :value => @event.try(:id), :id => "code_event_id"
      =button_tag :class => "tf" do
        yes, register

    =link_to "No Cancel", place_event_path(@place, @promotion), :class => "cancel"
    
    %h2.tf Please only register for events you can attend.
    %p
      Sometimes life gets in the way of living, we understand. If you should need to cancel your registration, please provide 24-hours notice so someone else can take your place.   
  .processing.section
  .code.section
