.paydescribe.view.clearfix{"data-title" => "Become a Spot Member"}
  =render :partial => "paydescribe"
#subscriptionview.payform.view.clearfix{"data-title" => "Become a Spot Member"}
  =render :partial => "paymentform", :locals => {:tr_data => @subdata, :button => ["signmeup", "135x27", "sign me up"], :default_name => "SPOT MEMBER"}
#processing.processing.view.clearfix
  %h1 Processing Payment...
  