.paydescribe.view.clearfix{"data-title" => "Become a Spot Member"}
  =render :partial => "paydescribe"
#subscriptionview.payform.view.clearfix{"data-title" => "Become a Spot Member"}
  =render :partial => "/shared/payments/form", :locals => {:tr_data => @subdata, :button =>  "sign me up", :default_name => "SPOT MEMBER"}
#processing.processing.view.clearfix
  %h1 Processing Payment...
  