%h1.center Join Spot for only $4.99 a month and get...
.clearfix
  .point.floating
    .img=image_tag "assets/events/discounteddining127x91.png", :size => "127x91"
    Unlimited restaurant discounts
    .subpoint Save 25 to 50% off at top restaurants.
  .point.floating
    .img=image_tag "assets/events/events127x91.png", :size => "127x91"
    Invitations to exclusive Spot events
    .subpoint Unique experiences just for our members.
  .point.floating
    .img=image_tag "assets/events/vip127x91.png", :size => "127x91"
    Perks at hot spots in your city
    .subpoint VIP treatment plus complimentary gifts.
  .point.clear.spaced
    Anything Else?
    .subpoint We're new in town and here to help you enjoy your city. Tell us what you want. We'll try to make it happen.
.button
  =button_tag :class => "btnorg300x41 forward tf", :id => "btnsignup", "data-view" => "#subscriptionview" do
    sign me up
  .fineprint
    Payment recurs monthly. Cancel at any time.