="Hello #{@account.first_name},"

="We are sorry to inform you that the promotion \"#{@promotion.name}\" has not been posted for the following reasons: "

=@promotion.rejection_reasoning

We are committed to helping our partners be successful with their promotions and have a dedicated support team ready to assist you.  You can reach our team at 1-888-817-5410 any time of day to discuss this promotion as well as ideas for other promotions. Additionally, you can email our team at contact@spotmembers.com.  We value your partnership and want to ensure the best experience possible for your business.  Please contact us at your earliest convenience so we can get the promotion posted.

=render :partial => "shared/mailers/signature"