%ul.form_wrapper
  =form_tag admin_search_path, :method => :get, :id => "search_form" do
    %li.field
      =label_tag :q, "Query : "
      =text_field_tag :q, nil, :id => "search_q"
    %li.field
      =label_tag :ll, "Location : "
      =text_field_tag :ll, nil, :id => "search_ll"
    %li.field
      =button_tag :class => "rndblk_80x26" do
        Search
    %li.actions
      =link_to "Current Location", "javascript:;", :class => "geolocate action"
      =link_to "PlacePop HQ", "javascript:;", :class => "location action", "data-ll" => "37.75516,-122.41855"