%ul.form_wrapper
  =form_tag admin_search_path, :method => :get, :id => "emulation_form" do
    %li.field
      =label_tag :q, "Query : "
      =text_field_tag :q, nil, :id => "search_q", :value => @search.query
    %li.field
      =label_tag :ll, "Location : "
      =text_field_tag :ll, nil, :id => "emulation_ll", :value => @search.position.to_s
    %li.field
      =button_tag :class => "rndblk_80x26" do
        Search
    %li.actions
      =link_to "PlacePop HQ", "javascript:;", :class => "location action", "data-ll" => "37.7553975,-122.4187679"
      =link_to "Geocode", "javascript:;", :class => "geocode action"
      =link_to "Locate", "javascript:;", :class => "geolocate action"
