.measurements
  -if @places && @benchmark
    ="#{pluralize(@places.length, "Place")}, #{(@benchmark.real * 1000).round}ms"
.table
  =render :partial => "/admin/places/table", :object => @places, :as => :places