#nav.flips
  %p.clearfix
    =link_to "press", press_path, :class => "dark"
    =link_to "twitter", "http://www.twitter.com/spotteam", :target => "_new", :class => "dark"
    =link_to "blog", blog_index_path, :class => "dark"
    =link_to "about", about_path, :class => "dark"
    =link_to "home", root_path, :class => "dark"
#iconlinks.clearfix
  =img_link_to "assets/general/appstore140x40.png", getspot_path, :size => "140x40", :class => "getspot"
  =img_link_to "assets/general/bizlink160x40.png", biz_root_path, :size => "160x40", :class => "bizlink"