=content_for :stylesheets do
  = include_stylesheets :biz, :media => 'all'

=content_for :libraries do 
  = google_maps_api_include

=content_for :header do
  #logo
    =image_tag "logos/spotbizwhite158x86.png", :height => "86", :alt => "spot"
  %nav
    %ul
      -if current_account
        %li=link_to_with_current "Account", biz_account_path
        %li{'data-popover' => '#business_list', 'data-popover-title' => 'My Businesses', 'data-popover-orient' => 'vertical'}
          Businesses
          %ul#business_list.bizlist.hidden.placelist.large
            =render :partial => "/biz/businesses/list"
            %li.new.clearfix
              %a{:href => new_biz_business_path}
                %span.big + 
                Claim Another Business
      -else
        %li=link_to_with_current "Sign Up", new_biz_account_path        
        -unless logged_in?
          %li{'data-popover' => '#login_popover', 'data-popover-title' => 'Log In', 'data-popover-orient' => 'vertical'} 
            Log In
            =render :partial => "/shared/accounts/loginpopover", :locals => {:return_to => biz_account_path}
      %li{'data-popover' => '#help_topics', 'data-popover-orient' => 'vertical'} 
        Help
        %ul#help_topics.subnav.hidden
          -if false # HIDE UNTIL PREPPED
            %li=link_to "FAQ", biz_faq_path
            %li=link_to "Terms of Service", biz_tos_path
          -if current_account
            %li=link_to "Spot Widgets", biz_widgets_path
          %li=link_to "Contact Us", new_biz_contact_path

= render :file => 'layouts/application'
