-if @title
  =@title

=yield

Spot 路 2601 Mission Street, Suite 403 路 San Francisco, CA 路 www.spot-app.com 路 feedback@spot-app.com

To unsubscribe from further emails, copy and paste the following link into your browser : 
=email_url(:email => @email)