=content_for :content do
  .oreo 
    =yield :above
    .filling
      .toptitle.clearfix
        %h1.tf.left=yield :toptitle
        .right
          -if current_user && !current_page?(account_path)
            =link_to current_user.nickname, account_path, :class => "accountlnk"
            %span.account="(&nbsp;#{link_to "not you?", logout_path}&nbsp;)".html_safe
          -elsif current_page?(account_path)
            %span.account=link_to "logout?", logout_path(:return_to => login_path)
          -else
            %span.account.accountlnk
              %a{'data-popover' => '#login_popover', 'data-popover-title' => 'Log In', 'data-popover-orient' => 'vertical'} 
                login?
            =render :partial => "/shared/accounts/loginpopover", :locals => {:return_to => request.path}
      .main
        =content_for?(:oreo) ? yield(:oreo) : yield
    .footer
      =image_tag "logos/spotwhite120x90.png", :size => "40x30", :class => "logo"
      ⋅
      2601 Mission St.
      San Francisco, CA 94110
      ⋅
      =mail_to "The Spot Team <contact@spot-app.com>", "Contact Us"
      ⋅
      =link_to "Privacy Policy", privacy_path
      ⋅
      =link_to "Terms of Service", tos_path


= render :file => 'layouts/site'

-unless current_member?
  #applydialog.clearfix.hidden{"data-title" => "Become a Spot Member"}
    =render :partial => "/shared/membership/apply"