=content_for :head do
  = include_stylesheets :site, :media => 'all'
  
=content_for :bg do
  = yield :bgimage
  #bgfade
  
=content_for :footer do
  %nav.regular.clearfix
    =link_to "press", press_path
    =link_to "twitter", "http://www.twitter.com/spotteam", :target => "_new"
    =link_to "blog", blog_index_path
    =link_to "about", about_path
    =link_to "home", root_path
  %nav.icons.clearfix
    =img_link_to "assets/general/appstore140x40.png", getspot_path, :size => "140x40", :class => "getspot"
    =img_link_to "assets/general/bizlink160x40.png", biz_root_path, :size => "160x40", :class => "bizlink"
    
    
= render :file => 'layouts/application'