!!! 1.0
%html{ html_attrs.merge({ 'xmlns:fb' => 'http://www.facebook.com/2008/fbml' }) }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= page_title
    =include_stylesheets :site, :media => 'all'
    =yield :head
  %body{:class => "#{controller_name} #{page_namespace}"}
    =yield
    =include_javascripts :vendor
    